.input {
  position: relative;
  i {
    // position: absolute;
    z-index: 1;
    height: 18px;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto;
    cursor: pointer;
  }

  .icon-public {
    right: 10px;
  }
}
