.c7nUpload {
  margin-top: -8px;
}

.score-element-header {
  font-size: 12px;
  font-weight: 900;
  margin-top: 10px;
}

.controller-fold {
  margin-top: 10px;
}

.diff-render-component {
  :global {
    .c7n-pro-calendar-picker-wrapper {
      width: 100%;
    }
  }

  .diff-render-red {
    color: red;
  }
}

.table-render-red {
  color: red;
}

.change-before {
  background: rgba(245, 99, 73, 0.1);
}

.change-after {
  background: rgba(71, 184, 129, 0.1);
}
