// 表单
.header {
  .second-title {
    font-size: 14px;
    margin: 0 0 20px 0;
    color: #666;
    margin-bottom: 0;
    .vertical-line {
      width: 3px;
      height: 14px;
      display: inline-block;
      background-color: #1e3255;
      vertical-align: middle;
      margin-right: 12px;
      margin-bottom: 2px;
    }
  }
}
.form-wrap {
  & > .ant-row {
    margin-left: 0 !important;
  }
}
