.regist-form {
  :global {
    .ant-col-12 {
      margin-bottom: 16px;
    }
    .ant-row.ant-form-item {
      margin-bottom: 0;
    }
    .ant-col-9.ant-form-item-label {
      line-height: 28px;
      & > label {
        color: #666;
      }
    }
    .ant-col-15.ant-form-item-control-wrapper {
      .ant-form-item-control {
        line-height: 28px;
      }
    }
  }
}
