.event-update-summary-basic-panel {
  height: calc(100vh - 148px);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  margin: 8px;
}

.event-update-summary-right-panel {
  flex: 5;
  margin-left: 8px;
  background-color: #fff;
}
