@import '~hzero-front/lib/srm-variables.less';

.content{
  :global{
    .param{
      vertical-align: middle;
      color: @text-3;
    }
    .log-title{
      color: @text-3;
      margin-bottom: 8px;
    }
  }
}

.sub-table {
  :global{
    .c7n-pro-table-search-bar-fields,
    .c7n-pro-table-search-bar-field {
      margin-top: 0;
    }
  }
}
