@import '~hzero-front/lib/srm-variables.less';

.card-sub-title {
    margin: 32px 0 16px;
    font-weight: 600;
  
    .card-sub-title-line {
      display: inline-block;
      margin-right: 8px;
      height: 12px;
      border-left: 3px solid @primary-color;
    }
  }