.page-content {
  :global {
    .ant-calendar-picker {
      width: 100%;
    }
    .ant-col-24 {
      & .ant-col-22 {
        width: 90.6%;
      }
      & .ant-col-2 {
        width: 9.4%;
      }
      & .ant-col-3 {
        width: 13.9%;
      }
      & .ant-col-21 {
        width: 86.1%;
      }
      & .ant-col-offset-3 {
        margin-left: 13.9%;
      }
    }
  }
}
.purchase-application {
  :global {
    .ant-form.ant-form-inline {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 16px;
      .ant-form-item {
        margin-right: 0;
        & > .ant-form-item-label {
          text-align: right;
        }
      }
      & > div.ant-form-item.ant-row {
        width: auto !important;
      }
      & > div,
      & > button {
        margin-left: 8px;
      }
    }
    .split-border {
      border-left: 1px solid #d5dae0;
      margin-left: 8px;
      height: 16px;
    }
  }
}

.approve-option {
  textarea.ant-input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ant-row.ant-form-item {
    margin-bottom: 24px;
  }
}

.ant-modal-body {
  :global {
    .ant-form-explain {
      margin-top: 0;
    }
  }
}

.header-wrapper {
  :global {
    padding: 16px 16px 0;
    .ant-row.approve-header {
      font-size: 14px;
      border: none;
      background: none;
      padding-left: 0;
      height: 32px;
    }

    .ant-row.approve-header:hover {
      border: none;
      background: none;
    }
  }
}

.panel-list-wrapper {
  :global {
    .ant-collapse-content-box {
      padding: 16px 0 0 0;
    }
  }
}
.reject-modal {
  :global {
    .ant-form-explain,
    .ant-form-extra {
      margin-top: 0;
    }
  }
}

.text-area {
  widows: 100%;
  height: 100%;
  overflow: hidden;
}

.approved-remark {
  overflow-y: hidden;
}
