.score-detail-header {
  border-bottom: 1px solid #e8e8e8;

  .ued-line-height {
    :global {
      .ant-form-item-label {
        line-height: 24px;
      }

      .ant-form-item-control {
        line-height: 24px;
      }
    }
  }
}
.overflowStyle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
