.ladder-level-wrapper {
  :global {
    .ant-form-item-label {
      text-align: left !important;
    }
    .ant-form-item-control {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
