.opreation-btn {
  :global {
    .ant-form-item {
      margin-top: 18px;
    }
    .ant-form-item-control-wrapper {
      float: right;
    }
  }
}

.changeRate {
  display: flex;
  width: 148px;
  justify-content: center;
  align-items: center;
  :global {
    .ant-input-number {
      width: 70px;
    }
  }
}

.popover-content {
  width: 600px !important;
}
