.widearea-tips {
  height: 38px;
  background: #ebf4fd;
  color: #3095f2;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 22px;
  :global {
    .tips-left {
      display: flex;
      align-items: center;
      .icon-help {
        font-size: 16px;
      }
      .tips-text {
        font-weight: 500;
        margin-left: 8px;
      }
    }
    .icon-close {
      cursor: pointer;
    }
  }
}
