.card {
  margin-bottom: 32px;
}
.title {
  font-weight: 700;
  border-left: 3px solid @primary-color;
  text-indent: 8px;
  font-size: 14px;
  display: inline-block;
  line-height: 13px;
  margin-bottom: 16px;
}