.warning-help {
  color: #1984f7;
  position: relative;
  top: -20px;
  margin: 0 -20px;
  border: none;
  background: rgba(25, 132, 247, 0.1);

  :global {
    .icon {
      font-size: 16px !important;
    }
  }
}

.menu-item-wrapper {
  width: 100%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  :global {
    .srm-common-import-button {
      background-color: transparent !important;
    }
  }
}
