
/**
  *按行/按单切换
*/
.toggle-key {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding: 4px;
  overflow: auto;
  cursor: pointer;
  .toggle-key-btn {
    float: left;
    // width: 40px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    span {
      margin: 0 4px;
    }
  }
  .activity {
    float: left;
    // width: 40px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);   //  此处未知
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    span {
      margin: 0 4px;
    }
  }
  .toggle-key-btn-date {
    float: left;
    // width: 45px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    span {
      margin: 0 4px;
    }
  }
  .activity-date {
    float: left;
    // width: 45px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);   //  此处未知
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    span {
      margin: 0 4px;
    }
  }
}
