@import '~hzero-front/lib/srm-variables.less';

.a-as-btn {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.card-sub-title {
  margin: 32px 0 16px;
  color: @text-1;
  font-weight: 600;
  .card-sub-title-line {
    display: inline-block;
    margin-right: 8px;
    height: 12px;
    border-left: 3px solid @primary-color;
  }
}

.scoring-attachment {
  :global {
    .c7n-pro-btn-wrapper {
      margin-top: -7px;
      padding-left: inherit;
    }
  }
}

.expert-suggestion {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
