@import '~hzero-front/lib/srm-variables.less';

.ssrc-second-level {
  margin: 32px 0 16px;
  display: flex;
  align-items: center;
  &:first-child {
    margin-top: 16px;
  }
  .ssrc-second-level-title {
    font-weight: 600;
    font-size: 14px;
  }
  :global {
    .c7n-divider {
      background-color: @primary-color;
      color: @primary-color;
      width: 0.03rem;
      height: 0.12rem;
      margin: 0 0.08rem 0 0;
    }
  }
}
