.zoom-toolbar {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  &-label {
    display: inline-block;
    width: 34px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
  }
  :global {
    .icon {
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
      color: #4e5769;
    }
  }
}
