@import '~hzero-front/lib/srm-variables.less';

.bid-card {
  margin-bottom: 16px;
  :global {
    .bid-card-title {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 16px;
      .line {
        display: inline-block;
        height: 12px;
        border-left: 3px @primary-color solid;
        margin-right: 8px;
      }
    }
  }
}
