@import '~hzero-front/lib/srm-variables.less';
:global {
  .statusCode-column-header {
    padding-left: 36px !important;
  }
  .statusCode-column {
    padding-left: 0 !important;
  }
}
.dimension-tag {
  border: none;
  background-color: @item-active-bg;
  color: @text-color;
  font-weight: 400;
}
