.effectiveDays-more-col {
  color: #fff !important;
  background-color: #ffbf00 !important;

  &:hover {
    background-color: rgb(226, 172, 11) !important;
  }
}

.effectiveDays-col {
  color: #fff !important;
  background-color: #ff5252 !important;

  &:hover {
    background-color: #ef5350 !important;
  }
}

.introduction-style {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
