.more-btn-wrap {
  :global {
    .c7n-pro-btn-wrapper.c7n-pro-btn.c7n-pro-btn-link {
      margin-left: 0;
      margin-right: 16px;
    }
  }
}

:has(> .more-btn-wrap) {
  display: flex;
  align-items: center;
}
