@import '~hzero-front/lib/srm-variables.less';

.releContent{
  :global{
    .head{
      display: flex;
      margin-bottom: 32px;
      .label{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .sku-name{
          color: @text-1;
          font-size: 14px;
        }
        .label-code{
          color: @text-2;
          font-size: 12px;
        }
      }
    }
  }
}