@import '~hzero-front/lib/srm-variables';
.card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .card-title-help {
    font-size: 14px;
    margin-top: -2px;
    margin-left: 4px;
    color: @fill-3;
    font-weight: 400;
  }
  .card-title-effective-wrapper {
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    text-align: right;
    .card-title-effective-help {
      margin-top: -2px;
      color: @fill-3;
      font-size: 14px;
      font-weight: 400;
      margin-right: 4px;
    }
  }
}
