.processRemark-popover {
  :global {
    .ant-popover-inner-content {
      max-width: 200px;
      max-height: 200px;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-y: scroll;
    }
  }
}
