.ssrc-chat-room-page-wrapper {
  height: 100%;
}

// :global {
//   .ssrc-chat-room-modal-wrap {
//     .c7n-pro-modal-header {
//       display: none;
//     }
//   }
// }

.ssrc-chat-room-modal-wrap {
  :global {
    .c7n-pro-modal-header {
      display: none;
    }
    .c7n-pro-modal-body {
      padding: 0;
      overflow-y: hidden;
    }
    .c7n-pro-modal-footer {
      border-top: none !important;
    }
    .c7n-spin-nested-loading,
    .c7n-spin-container {
      height: 100%;
    }
  }
}

