.risk-scan-title {
  display: flex;
  justify-content: space-between;
}

.risk-scan-result-title {
  font-size: 14px;
  color: #101319;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 600;
  margin-top: 24px;
}

.risk-scan-report-tag {
  padding: 1px 2px;
  border-radius: 2px;
  margin: 1px 8px 1px 0;
  // margin-right: 8px;
}

.rick-scan-basic-form {
  margin-top: 16px;
}

.risk-scan-form-label {
  flex: 1;
  padding: 0 16px;
  background: #f7f8fa;
  color: #4e5769;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.risk-scan-form-item {
  flex: 2;
  padding: 0 16px;
  background: #fff;
  color: #4e5769;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.risk-scan-result-panel {
  display: flex;
  flex-wrap: wrap;
}

.risk-scan-result-sec-title {
  font-size: 12px;
  color: #101319;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 600;
  margin-top: 8px;
}

.risk-scan-result-content {
  font-size: 12px;
  color: #1d2129;
  line-height: 18px;
  font-weight: 400;
  margin: 8px 0;
}

.risk-scan-title-avatar {
  border-radius: 3px;
  width: 60px;
  height: 60px;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.risk-scan-tag-list {
  max-width: 1000px;
  // line-height: 20px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // word-break: break-all;
  display: flex;
  flex-wrap: wrap;
}

.incident-item-tag-high {
  border-radius: 2px;
  padding: 0 4px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  background-color: #e64322;
  font-weight: 500;
}

.incident-item-tag-middle {
  border-radius: 2px;
  padding: 0 4px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  background-color: #feb936;
  font-weight: 500;
}

.incident-item-tag-low {
  border-radius: 2px;
  padding: 0 4px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  background-color: #179454;
  font-weight: 500;
}

.risk-scan-basic-report-list {
  :global {
    .c7n-tag {
      border: none;
    }
  }
}

.risk-scan-score-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: 80px;
}

.low-score-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 78px;
  color: #179454;
  background-color: rgba(71, 184, 131, 0.1);
  border-radius: 2px;
  cursor: pointer;
}

.middle-score-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 78px;
  color: #f06200;
  background-color: rgba(242, 128, 26, 0.1);
  border-radius: 2px;
  cursor: pointer;
}

.high-score-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 78px;
  color: #e64322;
  background-color: rgba(242, 85, 53, 0.1);
  border-radius: 2px;
  cursor: pointer;
}

.score-row {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.level-word-row {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
