@import '~hzero-front/lib/srm-variables.less';

.warning-color {
  color: @yellow-6;
  background-color: @yellow-1;
}
.info-color {
  color: @blue-6;
  background-color: @blue-1;
}
.warning-help {
  position: relative;
  top: -20px;
  margin: 0 -20px;
  border: none;
  :global {
    .icon {
      font-size: 16px !important;
    }
  }
}
