@import '~hzero-front/lib/srm-variables';
.enterprise-info-work-flow {
  background: #f4f5f7;
  padding-top: 8px;
  :global {
    .c7n-alert-banner {
      margin: 0 8px;
      .c7n-alert-message {
        font-size: 12px;
        color: #1983f5;
        line-height: 22px;
        font-weight: 400;
      }
      .c7n-alert-close-icon {
        .icon-close {
          color: #1983f5;
        }
      }
    }
    .af-basic-container {
      margin: 0 8px 4px 8px;
    }
    .af-basic-bottom-remain-area {
      margin-bottom: 0;
      margin-left: 8px;
      margin-right: 8px;
      display: flex;
      justify-content: space-between;
      .c7n-pro-btn-wrapper.c7n-pro-btn-flat {
        color: @text-1;
      }
    }
    .af-extra-container {
      margin-bottom: 0;
      .af-extra-field {
        margin-bottom: 0;
      }
    }
  }
}

.enterprise-info-work-flow-right-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.06);
  font-size: 12px;
  font-weight: 400;
  padding: 2px;
  :global {
    div {
      height: 28px;
      line-height: 28px;
      padding: 0 8px 0;
      color: rgba(0, 0, 0, 0.45);
      cursor: pointer;
    }
  }
  .active {
    color: rgba(0, 0, 0, 0.8);
    background: #fff;
    border-radius: 2px;
    font-weight: 600;
  }
}
