:global {
  .matermap-content {
    .matermap-tabPane {
      margin-top: -16px;
      .matermap-tab-body {
        padding: 16px;
        .table-operation {
          margin: 8px 0 16px;
          text-align: right;
          button {
            margin-left: 8px;
          }
        }
      }
    }
  }
}
