.spfm-info-detail {
  height: auto;
  flex: auto;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow-y: auto;
}

// 企业标签样式 - 卡片
.enterprise-tags-card {
  background-color: #f4f5f7;
  margin: -16px -16px 16px;
  overflow: hidden;
  .enterprise-tags-content {
    padding: 16px;
    background: #fff;
    margin-bottom: 8px;
    .enterprise-name {
      font-size: 16px;
      color: #1d2129;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
}