.agreement-info {
  width: 100%;
  :global {
    p {
      margin: 0;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 20px;
    }
  }
}

.sale-agreement-content {
  :global {
    .c7n-tabs-tab {
      font-size: 14px;
    }
    .c7n-tabs-tab-active {
      font-weight: 600;
    }
  }
}
