.supplier-info-create {
  :global {
    .page-content {
      padding: 0;
      .basic-content-wrap {
        background: #f4f5f7;
        .basic-content {
          padding: 20px;
          margin-bottom: 8px;
          background: #fff;
          &-title {
            font-size: 16px;
            color: #1d2129;
            font-weight: 600;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
