.order-workspace-attachment {
  :global {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .order-workspace-attachment-content {
    & > h3 {
      font-weight: 600;
    }
    & > .attachment-title {
      color: rgb(108, 110, 114);
    }
  }
}
