@content-padding: 20px;

.centralize-detail {
  padding: @content-padding;
  :global {
    .invide {
      margin: 0 -@content-padding;
      height: 8px;
      background-color: #f4f5f7;
    }
    .centralize-content-title {
      font-size: 16px;
      color: #1d2129;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .centralize-base-info {
      padding-bottom: @content-padding;
    }
    .centralize-rule {
      padding-top: @content-padding;
    }
    .c7n-pro-select-box .c7n-pro-radio-wrapper {
      margin-right: 24px;
    }
  }
}

.rule-config {
  :global {
    .rule-config-name {
      margin-bottom: 8px;
      font-size: 12px;
      color: #868d9c;
      line-height: 18px;
      font-weight: 400;
    }
    .rule-config-list {
      border: 1px solid rgba(229, 231, 236, 1);
      border-radius: 2px;
      .rule-config-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(229, 231, 236, 1);
        height: 34px;
        padding: 0 16px;
        font-size: 12px;
        color: #1d2129;
        line-height: 18px;
        font-weight: 400;
        .rule-config-index {
          width: 24px;
          margin-right: 8px;
          font-weight: 500;
        }
        .rule-config-prev {
          width: 112px;
          margin-right: 8px;
        }
        .rule-config-compare {
          width: 40px;
          color: #868d9c;
          margin-right: 8px;
        }
        .rule-config-next {
          flex: 1;
        }
      }
      .rule-config-footer {
        display: flex;
        align-items: center;
        height: 34px;
        background: #f7f8fa;
        padding: 0 16px;
        .rule-config-label {
          font-size: 12px;
          color: #868d9c;
          line-height: 18px;
          font-weight: 400;
        }
        .rule-config-expression {
          font-size: 12px;
          color: #1d2129;
          line-height: 18px;
          font-weight: 400;
        }
      }
    }
    .rule-form-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .rule-index {
        font-size: 14px;
        color: #1d2129;
        line-height: 22px;
        font-weight: 600;
        margin-right: 16px;
      }
      .rule-operate {
        display: flex;
        width: 44px;
        height: 32px;
        align-items: center;
        margin-left: 8px;
      }
    }
    .rule-img {
      width: 16px;
      height: 16px;
      margin: -8px 0 8px 8px;
    }
  }
}

.card-container {
  margin-bottom: 32px;
  .card-title {
    font-size: 14px;
    color: #1d2129;
    line-height: 22px;
    font-weight: 600;
    position: relative;
    padding-left: 10px;
    &::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 12px;
      left: 0;
      top: 5px;
      background-color: @primary-color;
    }
  }
  .card-body {
    padding-top: 16px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.menu-item {
  :global {
    .c7n-pro-btn {
      width: 100%;
      height: 0.4rem;
      text-align: left;
      line-height: 0.4rem;
      font-weight: normal;
    }
  }
}
