@import '~hzero-front/lib/srm-variables.less';

.itemList {
  width: 98%;
  min-width: 890px;
  height: 44px;
  padding: 5px;

  .tag-maxWidth {
    max-width: 190px;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .itemListImg {
    float: left;
    height: 44px;
    margin-right: 8px;
  }

  .itemListHeaderInfo {
    float: left;
    margin-right: 10px;
    height: 44px;
    width: 90%;

    .itemListHeader {
      width: 100%;

      .itemListNum {
        float: left;
        font-size: 12px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* width: 158px; */
        margin-right: 8px;
        max-width: 220px;
      }

      .tagstyle {
        position: absolute;
        left: 32%;
        top: 22px;
        width: 52%;
        .lineTagFlexContainer {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .lineTag {
        position: absolute;
        left: 41%;
        width: 45%;
        .lineTagFlexContainer {
          display: flex;
          flex-wrap: wrap;
        }
        .feedbackStatus-invalid {
          border-radius: 2px;
          font-size: 12px;
          letter-spacing: 0;
          // width: 48px;
          border: 0;
          cursor: not-allowed;
          color: rgba(0, 0, 0, 0.25);
        }

        .lineNumber-invalid {
          border-radius: 2px;
          font-size: 12px;
          letter-spacing: 0;
          // width: 100px;
          border: 0;
          cursor: not-allowed;
          color: rgba(0, 0, 0, 0.25);
        }

        .sumScore-invalid {
          // width: 85px;
          border-radius: 2px;
          font-size: 12px;
          letter-spacing: 0;
          border: 0;
          cursor: not-allowed;
          color: rgba(0, 0, 0, 0.25);
        }

        .supplierTotalAmount-invalid {
          min-width: 120px;
          border-radius: 2px;
          font-size: 12px;
          letter-spacing: 0;
          border: 0;
          cursor: not-allowed;
          color: rgba(0, 0, 0, 0.25);
        }
      }

      .line {
        display: inline-block;
        width: 75px;
        background: #d0e8ff;
        border-radius: 2px;
        font-size: 12px;
        color: #0687ff;
        letter-spacing: 0;
        border: 0;
      }

      .rfxQuantity {
        min-width: 120px;
        display: inline-block;
        width: 90px;
        background: #fdd6d7;
        border-radius: 2px;
        font-size: 12px;
        color: #f13131;
        letter-spacing: 0;
        border: 0;
        .tag-maxWidth();
      }

      .allcandidate {
        margin-left: 4px;
      }

      .candidate {
        font-size: 12px;
        color: #0687ff;
        letter-spacing: 0;
        line-height: 20px;
        margin-left: 4px;
      }

      .feedbackStatus {
        background: #d0e8ff;
        border-radius: 2px;
        font-size: 12px;
        color: #0687ff;
        letter-spacing: 0;
        // width: 48px;
        border: 0;
      }

      .lineNumber {
        background: #d0e8ff;
        border-radius: 2px;
        font-size: 12px;
        color: #0687ff;
        letter-spacing: 0;
        // width: 100px;
        border: 0;
      }

      .sumScore {
        // width: 85px;
        background: #fff1d3;
        border-radius: 2px;
        font-size: 12px;
        color: #ffbc00;
        letter-spacing: 0;
        border: 0;
      }

      .supplierTotalAmount {
        min-width: 120px;
        background-color: #fdd6d7;
        border-radius: 2px;
        font-size: 12px;
        color: #f13131;
        letter-spacing: 0;
        border: 0;
        .tag-maxWidth();
      }

      .other {
        background: #fff1d3;
        border-radius: 2px;
        font-size: 12px;
        color: #ffbc00;
        letter-spacing: 0;
        border: 0;
      }

      .acceptMoney {
        .tag-maxWidth();
      }

      .riskScan {
        top: 22px;
        position: absolute;
        right: 0%;
        font-size: 12px;
        color: @primary-color;
        letter-spacing: 0;
        text-align: right;
        line-height: 20px;
      }

      .companyIpRate {
        margin-left: 24px;

        .companyIpRate-red {
          color: #f13131;
        }

        .companyIpRate-grey {
          color: #666;
        }
      }

      .wholePackage {
        top: 20px;
        position: absolute;
        right: 5%;

        > div {
          border: 0;
          background: white;
        }

        .selectedPolicyItemStyle {
          display: inline-block;
          margin-bottom: 0;

          > div {
            margin-top: 0;
          }

          > div > div {
            line-height: 19.9999px;
          }

          :global {
            .ant-form-explain {
              margin-top: 0 !important;
            }
          }

          .selectStyle {
            width: 120px;
            //   >div >div >div{
            //     display: inline-block;
            // }
          }
        }

        .wholePackageStyle {
          margin-bottom: 0;

          > div {
            line-height: 19.9999px;
          }

          > div + div {
            display: inline-block;
          }

          > div + div > div {
            line-height: 19.9999px;
          }
        }
      }

      .itemListTag {
        top: 22px;
        position: absolute;
        right: 1%;

        .selectedPolicyItemStyle {
          display: inline-block;
          margin-bottom: 0;

          > div {
            margin-top: 0;
          }

          > div > div {
            line-height: 19.9999px;
          }

          :global {
            .ant-form-explain {
              margin-top: 0 !important;
            }
          }

          .selectStyle {
            width: 120px;

            // > div {
            //   border: 0;
            // }
            .ant-select-selection {
              box-shadow: 0 !important;
            }

            //   >div >div >div{
            //     display: inline-block;
            // }
          }
        }

        .wholePackageStyle {
          margin-bottom: 0;

          > div {
            line-height: 19.9999px;
          }

          > div + div {
            display: inline-block;
          }

          > div + div > div {
            line-height: 19.9999px;
          }
        }
      }
    }

    .itemListDes {
      margin-bottom: 0;
      height: 28px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .itemListDesItem {
      margin: 0 2px;
      font-size: 12px;
      color: #666;
      letter-spacing: 0;
      line-height: 20px;
    }

    .itemListDesItem-invalid {
      margin: 0 2px;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
}

.pagination {
  margin: 16px 0;
  float: right;
  z-index: 3;
}

.arrowStyle {
  border-bottom: 0 !important;

  :global {
    .ant-collapse-header {
      padding: 8px 0 8px 16px !important;
    }

    .ant-collapse-header .arrow {
      top: 2px !important;
      left: auto !important;
      -webkit-transform: rotate(90deg) !important;
      transform: rotate(90deg) !important;
      right: 12px;
    }

    .ant-collapse-header[aria-expanded='true'] .arrow {
      top: 2px !important;
      left: auto !important;
      -webkit-transform: rotate(270deg) !important;
      transform: rotate(270deg) !important;
      right: 12px;
    }

    .ant-collapse-content-box {
      padding: 4px 0 8px 0;
    }
  }
}

.formStyle {
  :global {
    .ant-form-item {
      margin-bottom: 0 !important;
    }
  }
}

.rfxRemarkStyle {
  margin-bottom: 10px;
}

.tabStyle > div {
  margin-bottom: 0;
}

.inquiry-hall-basic-info-form {
  :global {
    div.ant-row.items-row {
      border-bottom: 1px #dcdcdc dashed;
      padding-bottom: 4px;
      margin-bottom: 20px;

      .item-label {
        color: #999;
        font-weight: bold;
        text-align: left;
      }

      .item-label::after {
        content: ':';
        margin: 0 8px 0 2px;
      }

      .remark-context {
        font-size: 12px;
        line-height: 1.5;
        color: #333;
        max-height: 200px;
        overflow-y: auto;
      }
    }
  }
}

.collapse-form {
  :global {
    div.ant-row.items-row {
      .item-label::after {
        content: ':';
      }
    }
  }
}

.supplierRelationship {
  :global {
    font-size: 12px;
    color: @primary-color;
    letter-spacing: 0;
    text-align: right;
    line-height: 20px;
  }
}

.m-r-m {
  line-height: 2;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 2px;
  height: 28px;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: #333;
  background-color: #fff;
  border-color: #d9d9d9;
}

.m-r-m > a {
  color: #333;
}

.footerline {
  :global {
    .ant-modal-footer {
      border-top: 0;
    }
  }
}

.fileList-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 36px;
  line-height: 18px;
}

.fileList-div > div {
  margin-top: 8px;
  height: 18px;
  display: flex;
}

.fileList-div .fileList-a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 18px;
}

.badge-item {
  max-width: 80%;
  :global {
    .ant-badge-count {
      height: 14px;
      line-height: 13px;
      border-radius: 10px;
      padding: 0 2px 0 2px;
      min-width: 14px;
      margin-left: -8px;
      margin-top: 5px;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tagMarginBottom {
    margin-bottom: 3px;
  }
  .tag-maxWidth {
    max-width: 190px;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  // 左边盒子宽度固定
  .leftBox {
    width: 340px;
    flex-shrink: 0;
    .leftBoxContent {
      display: inline-block;
      vertical-align: top;
      margin-left: 8px;
    }

    .itemListDesItem {
      margin: 0 2px;
      font-size: 12px;
      color: #666;
      letter-spacing: 0;
      line-height: 20px;
    }

    .itemListDesItem-invalid {
      margin: 0 2px;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 20px;
    }

    .leftBoxRemark {
      margin-left: 3px;
      max-width: 141px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }
    .leftBoxTitle {
      max-width: 167px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }

    .candidate {
      font-size: 12px;
      color: #0687ff;
      letter-spacing: 0;
      line-height: 20px;
      margin-left: 4px;
    }

    .leftBoxOthers {
      margin-left: 2px;
    }
  }

  // 中间盒子
  .middleBox {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;

    .feedbackStatus {
      background: #d0e8ff;
      border-radius: 2px;
      font-size: 12px;
      color: #0687ff;
      letter-spacing: 0;
      // width: 48px;
      border: 0;
      .tagMarginBottom();
    }

    .rfxQuantity {
      min-width: 120px;
      display: inline-block;
      width: 90px;
      background: #fdd6d7;
      border-radius: 2px;
      font-size: 12px;
      color: #f13131;
      letter-spacing: 0;
      border: 0;
      .tagMarginBottom();
      .tag-maxWidth();
    }

    .other {
      background: #fff1d3;
      border-radius: 2px;
      font-size: 12px;
      color: #ffbc00;
      letter-spacing: 0;
      border: 0;
      .tagMarginBottom();
    }

    .lineNumber {
      background: #d0e8ff;
      border-radius: 2px;
      font-size: 12px;
      color: #0687ff;
      letter-spacing: 0;
      // width: 100px;
      border: 0;
      .tagMarginBottom();
    }

    .sumScore {
      // width: 85px;
      background: #fff1d3;
      border-radius: 2px;
      font-size: 12px;
      color: #ffbc00;
      letter-spacing: 0;
      border: 0;
      .tagMarginBottom();
    }

    .supplierTotalAmount {
      min-width: 120px;
      background-color: #fdd6d7;
      border-radius: 2px;
      font-size: 12px;
      color: #f13131;
      letter-spacing: 0;
      border: 0;
      .tagMarginBottom();
      .tag-maxWidth();
    }

    .rank {
      background: #d0e8ff;
      border-radius: 2px;
      font-size: 12px;
      color: #0687ff;
      letter-spacing: 0;
      // width: 100px;
      border: 0;
      .tagMarginBottom();
    }

    .winedAmount {
      color: #47b881;
      background-color: rgba(71, 184, 129, 0.2);
      .tagMarginBottom();
      .tag-maxWidth();
    }

    .line {
      display: inline-block;
      width: 75px;
      background: #d0e8ff;
      border-radius: 2px;
      font-size: 12px;
      color: #0687ff;
      letter-spacing: 0;
      border: 0;
      .tagMarginBottom();
    }

    .feedbackStatus-invalid {
      border-radius: 2px;
      font-size: 12px;
      letter-spacing: 0;
      // width: 48px;
      border: 0;
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
      .tagMarginBottom();
    }

    .lineNumber-invalid {
      border-radius: 2px;
      font-size: 12px;
      letter-spacing: 0;
      // width: 100px;
      border: 0;
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
      .tagMarginBottom();
    }

    .sumScore-invalid {
      // width: 85px;
      border-radius: 2px;
      font-size: 12px;
      letter-spacing: 0;
      border: 0;
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
      .tagMarginBottom();
    }

    .supplierTotalAmount-invalid {
      min-width: 120px;
      border-radius: 2px;
      font-size: 12px;
      letter-spacing: 0;
      border: 0;
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
      .tagMarginBottom();
      .tag-maxWidth();
    }
  }

  // 右边盒子宽度固定
  .rightBox {
    width: 240px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
    .historical-low {
      width: 115px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 6px;
    }
    .selectedPolicyItemStyle {
      display: inline-block;
      margin-bottom: 0;

      > div {
        margin-top: 0;
      }

      > div > div {
        line-height: 19.9999px;
      }

      :global {
        .ant-form-explain {
          margin-top: 0 !important;
        }
      }

      .selectStyle {
        width: 120px;

        // > div {
        //   border: 0;
        // }
        .ant-select-selection {
          box-shadow: 0 !important;
        }

        //   >div >div >div{
        //     display: inline-block;
        // }
      }
    }
  }
}
