@import '~choerodon-ui/lib/style/themes/default.less';

.ladder-sub-title {
  margin: 16px 0;
  .ladder-sub-title-line {
    display: inline-block;
    margin-right: 8px;
    height: 12px;
    border-left: 3px solid @primary-color;
  }
}

.ladder-sub-title:first-child {
  margin: 0 0 16px 0;
}
