.supplier-signature-workplace-basic {
  :global {
    .c7n-pro-output-float-label > .c7n-pro-field-label-wrapper > .c7n-pro-field-label {
      color: #868d9c;
      line-height: 18px;
      font-weight: 400;
    }

    .c7n-pro-output {
      color: #1d2129;
      line-height: 18px;
      font-weight: 400;
    }
  }
}

.auth-step-basic-panel {
  border: 1px solid rgba(229, 231, 236, 1);
  padding: 16px;

  :global {
    .c7n-steps-item-title {
      font-size: 14px;
      color: #101319;
      line-height: 23px;
      letter-spacing: 0;
    }

    .c7n-steps-item-wait {
      .c7n-steps-item-icon {
        background: #f2f3f5;

        .c7n-steps-icon {
          color: #4e5769 !important;
        }
      }

      .c7n-steps-item-title {
        color: #4e5769;
      }
    }

    .c7n-steps-item-finish {
      .c7n-steps-item-icon {
        background: rgba(59, 179, 70, 0.1);

        span.icon {
          color: #3bb346 !important;
        }
      }

      .c7n-steps-item-title:after {
        background: rgba(59, 179, 70, 1) !important;
      }
    }

    .c7n-steps-item-process {
      .c7n-steps-item-icon {
        background: #3bb346;
      }

      .c7n-steps-item-title {
        font-size: 14px;
        color: #3bb346;
        letter-spacing: 0;
        line-height: 23px;
        font-weight: 600;
      }
    }
  }
}

.outer-ca-auth-card-title {
  border-left: 3px solid @primary-color;
  font-size: 13px;
  color: #101319;
  letter-spacing: 0;
  line-height: 12px;
  font-weight: 600;
  padding-left: 10px;
}
