.points-modal-footer {
  :global {
    .c7n-modal-footer {
      width: 100%;
      position: fixed;
      bottom: 25px;
    }
  }
}

.code-area-footer {
  div.CodeMirror-sizer {
    min-width: 0 !important;

    span {
      word-wrap: break-word !important;
      word-break: break-all !important;
      white-space: pre-wrap !important;
    }
  }
}

.code-area-error-panel {
  height: 660px;
  padding: 10px 0;
  margin-top: 8px;
  border: 1px solid #ccc;
  word-wrap: break-word !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
}
