.modal_header_adjust {
  :global(.ant-modal-header) {
    border-bottom-width: 0;
  }

  :global(.ant-modal-body) {
    padding: 0 24px;
  }
}
.labelStyle {
  :global {
    .ant-form-item {
      .ant-form-item-label {
        // margin-right: -12px !important;
      }
    }
  }
}
.badge-item {
  max-width: 80%;
  :global {
    .ant-badge-count {
      padding: 0 2px 0 2px;
      height: 14px;
      line-height: 14px;
      border-radius: 10px;
      min-width: 14px;
    }
  }
}

.estimatedStartTime {
  display: flex;
  :global {
    .estimate {
      margin-right: 4px;
    }
  }
}
