.banner-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  background: url('../../assets/bg_search.svg');
  background-repeat: no-repeat;
  background-size: cover;

  .icon-search {
    cursor: pointer;
  }
}

.search-count {
  height: 18px;
  line-height: 18px;
  margin-top: 16px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 400;
  span {
    color: #000;
    font-weight: 600;
  }
}

.tag-item {
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 5px;
  margin-right: 8px;
}

.tag-item-0 {
  color: #47b883;
  background: #ebf7f1;
}

.tag-item-1 {
  color: #3091f2;
  background: #e6f2fd;
}

.tag-item-2 {
  color: #fca400;
  background: #fef4e2;
}

.tag-item-3 {
  color: rgba(0, 0, 0, 0.65);
  background: rgba(0, 0, 0, 0.08);
}

.wide-area-content {
  .c7n-pro-table-filter-wrapper {
    background: #fff !important;
  }

  .c7n-pro-table-filter-menu {
    display: none;
  }

  .c7n-rate-star {
    margin: 0 !important;
  }

  .c7n-pro-table-cell {
    padding: 0 20px;
  }

  .c7n-pro-table-filter-item .c7n-pro-select,
  .c7n-pro-table-filter-item .c7n-pro-input,
  .c7n-pro-table-filter-item .c7n-pro-input-number,
  .c7n-pro-table-filter-item .c7n-pro-calendar-picker {
    font-weight: 500;
  }

  .c7n-pro-table-filter-item:focus-within input {
    // width: unset !important; // 1.43rem
  }

  .ant-select-selection {
    border: none !important;
    outline: none !important;
    background-color: inherit !important;
    box-shadow: none !important;
    min-width: 30px;
  }

  .ant-select-arrow {
    color: #000;
  }

  .ant-select-selection-selected-value {
    font-weight: 600;
  }

  .ant-select-selection__clear {
    margin-top: -20px !important;
    right: -5px !important;
  }
}

.search-bar {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-bar-areaCode {
  display: inline-block;
  padding: 2px 0 0 5px;
  cursor: pointer;
}

.search-bar-areaCode:hover {
  background-color: #f5f5f5;
}

.search-bar-capitalType {
  margin-left: 20px;
  display: inline-block;
  padding: 2px 0 0 5px;
  cursor: pointer;
}

.search-bar-capitalType:hover {
  background-color: #f5f5f5;
}

.wide-area-content-sort {
  position: absolute;
  right: 15px;
  top: 8px;
  font-weight: 400;
}

.sort-area-cursor {
  cursor: pointer;
}
