
.customer-account-config-basic {
  :global {
    .c7n-pro-table-search-bar-merge-field .c7n-pro-input-prefix {
      margin-left: 8px;
    }
  }
}

.customer-account-basic-panel {
  :global {
    .page-content-wrap .page-content>.c7n-tabs {
      height: calc(100vh - 180px);
      overflow: hidden;
    }
  }
}

.customer-service-config-basic {
  :global {
    .c7n-pro-table-search-bar-merge-field .c7n-pro-input-prefix {
      margin-left: 8px;
    }
  }
}

.domain-config-table-box {
  :global {
    .c7n-pro-table-search-bar .c7n-pro-table-search-bar-field,
    .c7n-pro-table-search-bar .c7n-pro-table-search-bar-fields {
      display: none;
    }

    .c7n-pro-table-search-bar-operator-icon:last-child {
      display: none;
    }
  }
}

.table-box {
  height: calc(100vh - 330px);
}

.tag-enabled {
  padding: 1px 4px;
  border-radius: 2px;
  color: #179454;
  background-color: rgba(23, 148, 84, .15);
}

.tag-disabled {
  padding: 1px 4px;
  border-radius: 2px;
  color: #e64322;
  background-color: rgba(230, 67, 34, .15);
}

.domain-edit-form-panel {
  height: calc(100vh - 300px);
  overflow-x: hidden;
  overflow-y: auto;
}
