.alert_css {
  height: 32px !important;
  padding: 5px 12px 5px 16px !important;
  margin-bottom: 16px;
  border: none;
  background-color: #f5f5f5;
  :global {
    .c7n-alert-content {
      .c7n-alert-message {
        padding: 0 !important;
        margin-top: -3px !important;
        width: 12% !important;
        float: right;
        a {
          // width: 48px;
          // height: 18px;
          font-size: 12px;
          color: #36c2cf;
          // line-height: 18px;
          font-weight: 400;
        }
      }
      .c7n-alert-description {
        width: 88%;
      }
    }
  }
}
