.form-wrapper {
  > table > tbody > tr > td {
    vertical-align: middle;
  }
}

.content-warp {
  padding: 0;
  background: rgb(255, 255, 255);
  .basic-info-warp {
    padding: 20px;
  }
  .basic-info-warp > h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
