.row-valueList {
  display: flex;
  align-items: center;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 2px;
  margin: 16px 0;
  & > * {
    flex: 1;
  }
  &-lov {
    display: inline-flex;
    align-items: center;
  }
  .valueList-operate {
    & > a {
      margin-left: 12px;
      i {
        vertical-align: bottom;
        margin-right: 4px;
      }
    }
  }
}

.meaning-value-container {
  display: grid;
  grid-template-columns: minmax(120px, 1fr) 1px minmax(120px, 1fr);
  line-height: 36px;
  align-items: center;
  & > span:first-child,
  span:last-child {
    padding: 0 16px;
  }
  &:not(:first-child) > span:nth-child(2) {
    width: 1px;
    height: 20px;
    background: #d8d8d8;
  }
}

.row-custom {
  background: #f9f9f9;
  border-radius: 2px;
  padding: 16px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 14px;
      color: #22242a;
      font-weight: 600;
    }
    a > i {
      vertical-align: sub;
      margin-right: 4px;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    margin-top: 12px;
    & > p {
      margin-bottom: 0;
      margin-right: 16px;
      color: #a4a4a4;
    }
    & > a {
      height: 28px;
      line-height: 26px;
      padding: 0 12px;
      border: 1px solid #e8e8e8;
      background-color: #fff;
      border-radius: 2px;
      white-space: nowrap;
    }
  }
}

.delete-icon {
  color: @primary-color;
}
