@import '~hzero-front/lib/srm-variables';

.risk-voucher-detail-basic-info {
  :global {
    .c7n-pro-output-float-label > .c7n-pro-field-label-wrapper > .c7n-pro-field-label {
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400;
    }

    .c7n-pro-output-float-label {
      line-height: 22px;
      margin-top: 8px;
    }

    .c7n-pro-output {
      line-height: 18px;
    }

    .c7n-timeline-item-content {
      padding-left: 30px;
    }

    .c7n-pro-form.c7n-pro-form-float-label {
      margin: 0;
    }

    .c7n-pro-form.c7n-pro-form-float-label > table > tbody > tr .c7n-pro-field-wrapper {
      padding: 0;
    }

    .c7n-pro-form.c7n-pro-form-float-label
      > table
      > tbody
      > tr:not(:first-child)
      .c7n-pro-field-wrapper {
      margin-top: 0;
    }

    .c7n-pro-attachment-header {
      line-height: 34px;
    }
  }
}

.risk-voucher-detail-basic {
  font-size: 14px;
  font-weight: 600;
  padding-left: 8px;
  border-left: 3px solid @primary-color;
  line-height: 12px;
  margin-bottom: 4px;
}

.approving-status-card {
  color: #fff;
  background: #f06200;
  border-radius: 2px;
  padding: 2px 5px;
}

.risk-voucher-approve-panel {
  :global {
    .empty-img {
      margin-top: 20px !important;
    }
  }
}

.model-inner-page-risk {
  :global {
    .page-content {
      padding: 0;
      height: calc(100vh - 126px) !important;
      overflow: auto;
    }
  }
}
