.filter-select-btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: inherit;
  padding: 3px;
  .select-label {
    color: rgba(0, 0, 0, 0.45);
    font-weight: 400;
  }
  .select-value {
    font-weight: 500;
    margin-left: 5px;
  }
  :global {
    .icon {
      margin-left: 4px;
      margin-top: 1px;
      margin-right: 0 !important;
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
.filter-select-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}
