.tabs-divider {
  :global {
    .c7n-tabs-bar-divider {
      width: 0;
    }
  }
}

.pic-right {
  :global {
    position: absolute;
    bottom: 0;
    top: 188px;
    right: 200px;
    height: 530px;
    pointer-events: none;
    .pic-right-item {
      width: 100%;
      height: 100%;
    }
  }
}
