@import '../../../common.less';

.spfp-rule-maintain-content {
  padding: 0 20px;

  :global {
    .c7n-collapse {
      .spfp-collapse();
    }

    .c7n-pro-form-wrapper {
      .spfp-form(@formWidth: 75%);
    }

    .ued-detail-card {
      .spfp-card();
    }

    .basic-config {
      display: flex;
      span:first-child {
        flex: 1;
      }
      span:last-child {
        flex: 4;
        div:first-child {
          margin-bottom: 10px;
        }
        span {
          margin-left: 5px;
        }
      }
    }
  }
}

.spfp-rule-maintain-content-view-modal {
  :global {
    .c7n-collapse > .c7n-collapse-item > .c7n-collapse-header {
      padding: 0;
      font-size: 16px !important;
      font-weight: 600 !important;
    }
    .c7n-collapse > .c7n-collapse-item > .c7n-collapse-content {
      margin: 0 0 20px;
      padding: 0;
      .c7n-collapse-content-box {
        padding-top: 16px;
      }
    }
  }
}
