.input {
  .close-icon {
    display: none;
    cursor: pointer;
    margin-right: 4px;
  }
  &:hover .close-icon{
    display: inline-block;
  }
}

.query-from-btns {
  display: flex;
  height: 40px;
  align-items: center
}