.c7n-menu {
  .workbench-btn-wrapper {
    .c7n-pro-btn {
      width: 100%;
      height: 0.4rem;
      text-align: left;
      line-height: 0.4rem;
      font-weight: normal;
    }
    // 禁用样式
    .c7n-pro-btn-disabled > button {
      display: flex;
      align-items: center;
    }
    // .new-label-import {
    //   .srm-common-import-button-tag {
    //     right: 42px;
    //   }
    // }
    .new-opts-import {
      .srm-common-import-button-tag {
        right: 20px;
      }
    }
  }
}
