@import '~hzero-front/lib/srm-variables.less';
.second-top-title {
  line-height: 22px;
  font-size: 14px;
  position: relative;
  font-weight: 600;
  padding-left: 11px;
  margin-bottom: 16px;
  &:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 20%;
    width: 3px;
    height: 55%;
    background-color: @primary-color;
  }
}