.picture-upload {
  :global {
    .c7n-pro-field-label:after {
      display: inline-block;
      width: .08rem;
      margin-left: .04rem;
      color: #f05434;
      font-family: SimSun, sans-serif;
      line-height: 1;
      vertical-align: middle;
      content: "*";
    }
  }
}