.spfm-certification-approval-detail {
  height: auto;
  flex: auto;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow-y: auto;
  // :global {
  //   .ant-row.ant-form-item {
  //     width: 280px;
  //     label {
  //       float: left;
  //       min-width: 80px;
  //       text-align: left;
  //     }
  //   }
  // }
  .fields {
    display: inline-block;
    // width: 85px;
    color: #999;
    font-size: 12px;
  }
  .fields-content {
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}
