.info-wrapper {
  width: 100%;
  color: #3095F2;
  background-color: rgba(48,149,242,0.1);
  display: flex;
  align-items: center;
  line-height: 28px;
  padding:8px 0 8px 20px;
  :global {
    i {
      font-size: 14px;
    }
    .info-message {
      margin-left: 8px;
    }
  }
}