.modal-content-feedback {
  :global {
    height: calc(100vh - 225px);
    .icon {
      margin: 0 5px;
    }
    .c7n-alert-content {
      padding: 0 15px;
    }
    .c7n-alert-message {
      color: rgba(25, 131, 245, 1);
    }
    .c7n-pro-table-wrapper {
      margin: 0 20px;
    }
  }
}
