.risk-scan-schema-config-basic {
	overflow: hidden;
	:global {
		.c7n-tag {
			border: none;
			margin: 0;
		}
	}

	.risk-scan-schema-config-content {
		height: calc(100vh - 152px);
		background: #fff;
		margin: 8px;
		padding: 16px;
	}
}

.status-disabled {
	padding: 2px 4px;
	border-radius: 2px;
	line-height: 18px;
	color: #e64322;
	font-weight: 500;
	background-color: rgba(242, 85, 53, .15);
}

.status-enabled {
	padding: 2px 4px;
	border-radius: 2px;
	line-height: 18px;
	color: #179454;
	font-weight: 500;
	background: rgba(71, 184, 131, .15);
}
