@import '~hzero-front/lib/srm-variables';

.more-btn-wrap {
  :global {
    .c7n-pro-btn-wrapper.c7n-pro-btn.c7n-pro-btn-link {
      margin-left: 0;
      margin-right: 8px;
      vertical-align: 0 !important;
    }
  }
}
