.upload-fix-height {
  & > span {
    line-height: 1.5 !important;
    margin-left: 8px;

    .ant-upload {
      & > span {
        margin: 0;
      }
    }
  }
}
.padding-top-3 {
  padding-top: 3px;
}
