.rf-create-form {
  :global {
    .c7n-pro-field-wrapper {
      width: 6rem;
    }
  }
}

.detail-attachment {
  display: flex;
  width: 65%;
}

.detail-attachment-form {
  display: flex;
  justify-content: space-around;
  width: 100% !important;
}
