@import '~hzero-ui/lib/style/themes/default.less';
@import '~hzero-front/lib/index.less';

.header-link {
  color: #ccc;
  font-size: 14px;
  margin-left: 20px;
}

.msg-list {
  max-height: 400px;
  overflow: auto;
}

.wait-step {
  :global {
    .c7n-tag.c7n-tag-orange {
      color: rgb(140, 140, 140);
      background: rgb(245, 245, 245);
    }
  }
}
