.slient-sign-modal-basic {
  :global {
    .c7n-alert.c7n-alert-no-icon {
      border: none;
    }
  }
}

.buyer-elec-sign-basic {
  :global {
    .page-content-wrap {
      height: calc(100% - 0.48rem) !important;

      .page-content {
        min-height: calc(100% - 16px);
        background: none !important;
        padding: 0 !important;
      }
    }
  }
}

.seal-manage-empty-basic-panel {
  :global {
    svg path {
      fill: @primary-color;
    }
  }
}
