@import '~hzero-front/lib/srm-variables.less';

.rf-page-content-wrapper {
  padding: 0 8px;
  height: 100%;
  overflow: auto;
  :global {
    .c7n-spin-nested-loading {
      height: 100%;
      & > .c7n-spin-container {
        height: 100%;
      }
    }
    .rf-page-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      .rf-card-warp {
        padding: 16px;
        margin: 4px 0;
        background-color: #fff;
        .rf-card-title {
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          font-size: 16px;
          font-weight: 500;
          color: #000;
        }
        .rf-card-content {
          width: 100%;
          .rf-card-sub-title {
            margin: 32px 0 16px;
            .rf-card-sub-title-line {
              display: inline-block;
              margin-right: 8px;
              height: 12px;
              border-left: 3px solid @primary-color;
            }
          }
          // :global {
          .c7n-steps-rf-custom {
            .c7n-pro-input-rendered-value {
              width: 100%;
              padding: 0 0.1rem 0 0;
              .c7n-steps-item-process .c7n-steps-item-icon {
                //background: none !important;
                background-color: #fff;
              }
            }
            .c7n-pro-field-label {
              margin-left: 0;
            }
            .c7n-steps {
              margin-top: 6px;
            }
            .rfx-card-item-step {
              .c7n-steps-item-process .c7n-steps-item-icon {
                //background: none !important;
                background-color: #fff;
              }
            }
          }
          .c7n-steps-rf-custom::before {
            border-color: #fff !important;
          }
          // 步骤条样式
          .c7n-steps-item {
            cursor: pointer;
          }
          .c7n-steps-item-icon {
            height: 24px;
          }
          .c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-title {
            color: #46b880;
          }
          .c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-title::after {
            background-color: #46b880;
          }
          .c7n-steps-item-finish .c7n-steps-item-icon {
            background-color: #46b880;
          }
          .c7n-steps-item-process .c7n-steps-item-icon {
            background-color: #46b880;
          }
          form {
            width: 75%;
          }
          // }
        }
      }
      .rf-card-warp:first-child {
        margin-top: 8px;
      }
      .rf-card-warp:nth-last-of-type(2) {
        flex: 1;
      }
      .bottom-line {
        width: 100%;
        border: 2px solid #f4f5f7;
      }
    }
  }
}
