.title {
  border-radius: 0 0 2px 2px;
  position: relative;
  box-sizing: border-box;
  font-size: 1.17em;
  color: #333;
  list-style: none;
  background-color: #fafafa;
  height: 48px;
  line-height: 48px;
  text-indent: 16px;
}
.question-tab {
  // .question-title{
  //     margin-bottom: 16px;
  //     font-size: 14px;
  // }
  .question-create {
    text-align: right;
    margin-bottom: 16px;
  }
}

.question-title {
  margin-left: 16px;
  padding-top: 24px;
  padding-bottom: 8px;
  font-size: 14px;
}

.badge-item {
  line-height: inherit;
  font-size: 14px;
  :global {
    .ant-badge-count {
      margin-bottom: 6px;
      margin-left: 5px;
      background-color: rgb(245, 99, 73);
      min-width: 0.14rem;
      height: 0.14rem;
      line-height: 0.14rem;
      padding: 0 0.03rem;
    }
  }
}
