.approve-record-timeline-content {
  .approve-record-timeline-label {
    display: inline-block;
    width: 70px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
  }
  .approve-record-timeline-value {
    color: #000;
  }
}

.approve-record-timeline-content + .approve-record-timeline-content {
  margin-top: 4px;
}
