@import '~hzero-front/lib/srm-variables';

.sslm-supply-ability-wf {
  background: #f4f5f7;
  padding: 8px 0;
  :global {
    .af-basic-container {
      margin: 0 8px 4px 8px;
    }
    .af-basic-bottom-remain-area {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 0;
      .c7n-pro-btn-wrapper.c7n-pro-btn-flat {
        color: @text-1;
      }
    }
  }
}
