.myModal-title {
  :global {
    .myModal-title-link-icon {
      opacity: 0;
      font-size: 16px;
    }
  }
}

.myModal-title:hover {
  :global {
    .myModal-title-link-icon {
      opacity: 1;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
