:global {
  .srm-approval-record-group {
    .c7n-collapse-header {
      font-weight: 600;
      font-size: 14px;
      .c7n-collapse-expand-icon-wrapper {
        font-weight: 400;
      }
      .c7n-collapse-extra {
        font-size: 12px;
        .c7n-pro-btn .icon {
          font-size: 14px;
          margin-right: 4px;
        }
      }
    }
    .c7n-collapse-item {
      border-bottom: 0;
      .c7n-collapse-content-box {
        padding-bottom: 0;
      }
    }
  }
}
