.wrapper {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  display: flex;
  align-items: baseline;
  .wrapperText {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
    font-weight: 400;
    padding: 3px 8px;
    margin: 2px;
    cursor: pointer;
  }
  .wrapperActive {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 22px;
    font-weight: 600;
    background: #FFFFFF;
    cursor: none;
  }
}
