@import '~hzero-front/lib/srm-variables';

.ppap-workflow-card-wrapper {
  margin: 8px 8px 0 8px;
  :global {
    .af-basic-container,
    .af-basic-bottom-remain-area {
      margin: 0;
    }
    .af-extra-container {
      margin: 8px 0 0;
      .af-extra-field {
        margin-bottom: 0;
      }
    }
  }
}

.sqam-ppap-workflow-basic-bottom {
  :global {
    .c7n-pro-btn-flat {
      &,
      &:active,
      &:focus {
        color: #000;
      }
    }
  }
}
