@Blue: #012492;
@Blue2: #eaf0ff;
@Blue3: #f8faff;
@Blue4: #b8d7ff;
@Blue5: #eff6ff;
@Grey: #333435;
@Grey2: #5a6677;
@Grey3: #333435;
@Green: #38bc84;
@Grey4: #b6bbc6;
@Grey5: #e2e2e6;
@Grey6: #f4f5f7;
@Grey7: #eaeaea;
@Grey8: #fafafa;
@red1: #f75e5e;
@HzeroGreen: #29bece;
