@import '~hzero-front/lib/srm-variables.less';

.announcement-title {
  display: flex;
  &-line {
    margin-top: 5px;
    margin-right: 8px;
    height: 12px;
    border-left: 3px solid @primary-color;
  }
  &-name {
    font-size: 14px;
    font-weight: 600;
  }
}
