@import "../../../components/style/themes/default.less";
@import "../../../components/style/mixins/index";
@import "../../text-field/style/mixin";

@tel-prefix-cls: ~'@{c7n-pro-prefix}-tel';
@select-prefix-cls: ~'@{c7n-pro-prefix}-select';

.@{tel-prefix-cls} {
  .input;

  &-group-before {
    justify-content: center;
    width: min-content;
    min-width: 0.32rem;
    max-width: 50%;
    padding: 0 @padding-xs;

    .@{select-prefix-cls}-wrapper {
      overflow: hidden;
      background-color: transparent;
    }

    .@{select-prefix-cls},
    .@{select-prefix-cls}-rendered-value {
      height: 100%;
      max-width: 100%;
      padding: 0 0.24rem 0 0 !important;
      font-size: @font-size-sm;
      border: none;
      overflow: hidden;
    }

    .@{select-prefix-cls}-float-label::before {
      border: none;
    }

    .@{select-prefix-cls}-float-label .@{select-prefix-cls} {
      min-height: @input-height-base - 2;
    }
   
    .@{select-prefix-cls}-float-label:not(.@{select-prefix-cls}-multiple) .@{select-prefix-cls} {
      height: @input-height-base - 2;
    }

    .@{c7n-pro-prefix}-icon {
      font-size: @font-size-lg;
    }
  }
  &-group-invalid &-group-before {
    border-color: @input-error-border-color !important;
    border-width: @input-float-border-active-width;
    opacity: 1;
  }
}


.@{tel-prefix-cls}-popup {
  min-width: 2.4rem !important;

  .@{tel-prefix-cls}-option-region-name {
    margin-left: @margin-xs;
  }
}