.formula-editor {
  position: relative;

  .data-check-icon-page {
    position: absolute;
    right: 30px;
    bottom: 20px;
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: url('../../assets/icon/check@2x.png');
    background-repeat: no-repeat !important;
    background-size: 28px !important;
    background-position: center !important;
  }

  .config-form {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-bottom: none;
  }

  :global {
    table {
      width: 95%;
    }

    .overflow-guard {
      border: 1px solid #e0e0e0;
    }

    .monaco-editor {
      display: flex;
      overflow: hidden;
    }
  }
}
