.property-value-table {
  :global {
    .ant-table-wrapper .ant-table .ant-table-scroll > .ant-table-body {
      border-width: 0 1px;
      border-style: none;
      border-color: #e8e8e8;
      border-collapse: collapse;
    }
  }
  .selected-node {
    background-color: #dadee8;
  }
}

.order-seq {
  .order-seq-icons {
    visibility: hidden;
  }
}
.order-seq:hover {
  .order-seq-icons {
    visibility: visible;
  }
}
