@import '~srm-front-boot/lib/utils/style/basic.less';

.smbl-message-loading {
  width: 100%;
  height: 20px;
  span {
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }

  .smbl-message-loading-ing {
    color: #868d9c;
  }

  .smbl-message-loading-more {
    color: @srm-primary-color;
    cursor: pointer;
  }

  .smbl-message-loading-no-more {
    color: #898989;
    margin-top: 16px;
  }
}
