.extract-experts {
  :global {
    .module-line {
      border-left: 3px solid @primary-color;
      height: 12px;
      line-height: 12px;
      padding-left: 8px;
      font-weight: 600;
      font-size: 14px;

      &-rule {
        margin-bottom: 16px;
      }

      &-expert {
        margin: 32px 0 16px;
      }
    }
  }
}
