.transfer-modal {
  :global {
    .ant-modal-content {
      width: 100%;
    }
  }
  .transfer-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    // button:first-child {
    //   display: block;
    //   margin: 15px auto;
    // }
  }
}
.transfer-page {
  :global {
    .ant-table-pagination {
      position: relative;
      .ant-pagination-total-text {
        position: absolute;
        right: 0;
        top: 32px;
      }
    }
  }
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mT {
  margin-top: -12px !important;
}
.ellipsisInput {
  :global {
    input {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.product-info {
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-form-item-label,
    .ant-form-item-control {
      line-height: 30px;
    }
  }
  p {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  img {
    margin-top: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #e8e8e8;
  }
  a,
  .price-link {
    text-align: center;
  }
}
.product-date {
  p {
    text-align: center;
    margin-bottom: 0;
  }
}
.com-region {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    height: 24px;
    margin-top: 3px;
    line-height: 22px;
    position: relative;
    float: left;
    max-width: 99%;
    margin-right: 4px;
    padding: 0 10px 0 10px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    cursor: default;
  }
}
td.agreement-table {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
}
