@import '~hzero-front/lib/srm-variables';

.member-expansion-container {
  :global {
    .page-content {
      padding: 0;
      margin: 8px;
      .member-expansion-wrap {
        background-color: #f4f5f7;
        .member-expansion-content {
          background-color: #fff;
          &:last-child {
            .member-expansion-detail {
              margin-bottom: 0;
            }
          }
          .member-expansion-detail {
            padding: 20px;
            margin-bottom: 8px;
            .expansion-card-title-wrap {
              margin-bottom: 16px;
              .expansion-card-title {
                display: flex;
                align-items: center;
                .expansion-card-title-label {
                  font-size: 16px;
                  color: #1d2129;
                  font-weight: 600;
                  display: flex;
                  align-items: center;
                }
                .expansion-card-title-extra {
                  display: flex;
                  align-items: center;
                  margin-left: auto;
                  height: 24px;
                  .c7n-pro-checkbox-label {
                    max-width: none;
                  }
                  .icon.icon-help {
                    color: #868d9c;
                    font-size: 14px;
                  }
                }
              }
              .expansion-card-help {
                color: #4e5769;
                margin-top: 8px;
              }
            }
            // 企业卡片
            .enterprise-card-wrap {
              padding: 12px;
              border-radius: 4px;
              border: 1px solid #e5e7ec;
            }
            // 自定义区域
            .custom-area-content {
              display: flex;
              align-items: center;
              justify-content: center;
              .custom-area-picture {
                margin-right: 16px;
                svg {
                  color: @primary-color;
                }
              }
              .custom-area-operate {
                .custom-card-title {
                  font-size: 16px;
                  color: #1d2129;
                  line-height: 24px;
                  font-weight: 600;
                  margin-bottom: 8px;
                }
                .custom-card-help {
                  font-size: 14px;
                  color: #4e5769;
                  line-height: 22px;
                  margin-bottom: 24px;
                }
              }
            }
          }
        }
      }
      .illustration {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 154px);
        .illustration-detail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          svg {
            color: @primary-color;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

// 主要产品预览
.preview-product-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: -12px;
  :global {
    .preview-product-grid {
      margin-bottom: 12px !important;
      margin-right: 16px;
      width: 49%;
      overflow: hidden;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
.preview-product {
  padding: 12px 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 236);
  &:last-child {
    margin-bottom: 0;
  }
}

// 预览头tab
.preview-tab-wrap {
  display: flex;
  flex: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  :global {
    .preview-tab-content {
      display: flex;
      padding: 2px;
      background: #f2f3f5;
      border-radius: 2px;
      font-size: 14px;
      color: #1d2129;
      line-height: 22px;
      div {
        cursor: pointer;
        padding: 3px 8px;
      }
      .active {
        font-weight: 500;
        background: #fff;
        border-radius: 2px;
      }
    }
  }
}
