:global {
  .small-custom-page-style {
    .c7n-pro-table-wrapper {
      .c7n-pro-btn-sm {
        display: none;
      }
    }
  }
  .small-PayInfoManagement-config-info-modal {
    .c7n-pro-modal-title {
      font-size: 16px;
      color: #000;
      line-height: 24px;
      font-weight: 600;
    }
  }
}
