.form-select-box {
  :global {
    .c7n-pro-field-label-output label,
    .c7n-pro-field-output {
      padding-top: 0;
      padding-bottom: 16px;
    }
    .c7n-pro-field-wrapper.c7n-pro-field-output {
      padding-top: 0;
      padding-bottom: 16px;
    }
  }
}
