.info {
  position: relative;
  top: -20px;
  left: -20px;
  // margin-bottom: 6px;
  padding-left: 22px;
  background: rgba(48, 149, 242, 0.1);
  width: calc(100% + 40px);
  height: 32px;
  font-size: 12px;
  color: #3095f2;
  line-height: 32px;
  font-weight: 400;
  i {
    position: relative;
    top: -1px;
    margin-right: 9px;
    font-size: 12px;
    line-height: 32px;
  }
}
