.header-form-lov {
  font-size: 12px;
  margin-left: 16px;
  width: 240px;
}
.dataset-info {
  & > div {
    height: 18px;
    line-height: 18px;
    &:first-child {
      cursor: pointer;
      font-weight: 600;
      color: @primary-color;
    }
    &:last-child {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
