.modal-content {
  :global {
    .table-delete-btn {
      position: absolute;
      right: 0;
      top: 0;

      > i {
        font-size: 16px;
        color: #000;
      }
    }

    .table-add-btn {
      > i {
        font-size: 16px;
      }

      > span {
        font-size: 14px;
      }
    }
  }
}
