.condition-column-list :global {
  width: 440px;
  display: flex;
  .condition-column-list-fieldName {
    width: 200px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px;
  }
}
