.rule-definition-search-box {
  display: flex;
  :global {
    .rule-definition-tree-search,
    .ant-input-affix-wrapper {
      .ant-input {
        border-radius: unset !important;
      }
    }
    .themed-input-wrapper {
      top: 0 !important;
    }
  }
}
