.workflow-content {
  :global {
    .page-content {
      .card-content-title {
        font-size: 16px;
        color: #1d2129;
        font-weight: 600;
        margin-bottom: 16px;
      }
    }
  }
}
