.list-content-wrap {
  height: calc(100% - 48px);
  overflow: hidden;

  .list-content {
    //margin: 16px 16px 0 16px;
    height: 100%;
    display: flex;
    min-height: 445px;
    background: #f4f5f7;
    padding: 0;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}

.list-item {
  flex: 1;
  box-sizing: border-box;
  min-width: 889px;
  background-color: #fff;
}

.item-head {
  display: flex;
  height: 48px;
  min-height: 48px;
  background-color: #fff;
  align-items: center;

  .item-head-title {
    margin: 0 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    color: #22242a;
  }

  .item-head-operator {
    margin-right: 16px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.item-content-wrap {
  height: 100%;
  overflow: hidden;

  .item-content {
    box-sizing: border-box;
    padding: 16px;
    height: 100%;
    flex: 1;
    -ms-overflow-style: none;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}
