.relTable-error {
  :global {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .relTable-error-middle {
      height: 80%;
      width: 70vw;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .relTable-error-middle-head {
        color: #434e59;
        font-size: 72px;
        font-weight: 600;
        line-height: 72px;
        margin-bottom: 24px;
      }
      .relTable-error-middle-message {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.45);
        font-size: 20px;
        line-height: 28px;
      }
    }
    .relTable-error-footer {
      height: 20%;
      width: 70vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
