.status-span {
  border-radius: 2px;
  padding: 2px 5px;
  line-height: 18px;
  font-weight: 500;
}

.span-succeed {
  color: #47b881;
  background: rgba(71, 184, 129, 0.1);
}

.span-failed {
  color: #f56349;
  background: rgba(245, 99, 73, 0.1);
}

.span-wait {
  color: #f88d10;
  background: rgba(252, 160, 0, 0.1);
}
