@import '~hzero-front/lib/srm-variables';

.top {
  height: 100%;
  :global {
    .c7n-tabs {
      height: 100%;
    }
    .c7n-tabs-nav {
      margin: 0 20px;
      .c7n-tabs-tab {
        height: 46px;
        font-size: 14px;
        // color: rgba(0, 0, 0, 0.65);
      }
      // .c7n-tabs-tab:hover {
      //   color: #4fd2db;
      // }
      // .c7n-tabs-tab-active {
      //   color: #29bece;
      // }
    }
    .c7n-tabs-content {
      padding-top: 0 !important;
    }
  }
}

//底部按钮
.footer-btn {
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px 20px;
  background-color: #fff;
  z-index: 100;
  .delegate-btn {
    background-color: @btn-primary-bg;
    color: #fff;
    border: 1px solid @btn-primary-bg !important;
  }
  .delegate-btn:hover {
    background-color: @btn-primary-bg !important;
    color: #fff !important;
    border: 1px solid @btn-primary-bg !important;
  }
}

.form-button-selected {
  :global {
    margin-right: 30px;
    color: @link-color;
    cursor: pointer;
  }
}
.preference {
  flex-direction: column;
  display: flex;
  height: 100%;
  &-content {
    flex: 1 1 0%;
    overflow: auto;
    padding: 16px;
  }
  &-footer {
    padding: 12px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}
.switch {
  vertical-align: sub;
  margin: 0.1rem;
  margin-right: 8px;
}
.form-button-noSelected {
  :global {
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.45);
    cursor: not-allowed;
  }
}
.automatic-process-content {
  flex-direction: column;
  display: flex;
  height: 100%;
  &-footer {
    padding: 12px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.form-float {
  :global {
    .c7n-pro-switch-float-label {
      line-height: 22px;
      padding-top: 0;
      vertical-align: super;
      display: inline-block;
      i {
        color: @text-color-secondary;
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }
}
.delegate-form-float {
  :global {
    .c7n-pro-field-wrapper {
      padding: 0 !important;
    }
    .c7n-pro-output-float-label > .c7n-pro-field-label-wrapper > .c7n-pro-field-label {
      font-weight: 400;
    }
  }
}
.modal-drawer {
  :global {
    .c7n-pro-form.c7n-pro-form-float-label {
      margin: 0;
    }
    .c7n-pro-form.c7n-pro-form-float-label > table > tbody > tr .c7n-pro-field-wrapper {
      padding: 0;
    }
  }
}

.automatic-process-alert {
  border: none;
  background-color: @blue-1;
  color: @blue-6;
  padding: 0.08rem 0.08rem 0.08rem 0.4rem;
  :global {
    .c7n-alert-icon {
      top: 9px;
      font-size: 16px;
    }
    .c7n-alert-close-icon i {
      font-size: 16px;
      color: @blue-6;
    }
    .c7n-alert-description {
      max-height: unset;
      -webkit-line-clamp: unset;
    }
  }
}
