.change-tip-tooltip {
  :global {
    .ant-tooltip-inner {
      max-width: 250px;
      max-height: 80px;
      overflow-y: auto;
    }
    .c7n-pro-tooltip-popup-inner {
      max-width: 250px;
      max-height: 80px;
      overflow-y: auto;
    }
  }
}
