.row-10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-text {
  font-size: 12px;
  color: #0840f8;
  letter-spacing: 0;
  line-height: 16px;
  font-weight: 400;
}
