.detail-form {
  :global {
    .approve-header {
      font-size: 14px;
      height: 32px;
      line-height: 32px;
    }
    .approve-option {
      & .ant-form-item {
        margin-bottom: 24px;
      }
      width: 50%;
    }
  }
}
.textarea-bottom {
  margin-bottom: 4px;
}
