.product-detail-content {
  background: #fff;
  :global {
    .product-title {
      margin-bottom: 13px;
      padding-left: 0;
      .p-name {
        font-size: 18px;
        color: #666;
        line-height: 24px;
        .platform-jd {
          text-align: center;
          display: inline-block;
          font-weight: normal;
          margin-right: 50px;
          border-radius: 2px;
          font-size: 12px;
          // width: 64px;
          padding: 0 50px;
          vertical-align: bottom;
          line-height: 22px;
          color: #c88f08;
          background: #f8f8f8;
        }
      }
    }
    .product-meta {
      font-size: 12px;
      height: 40px;
      line-height: 40px;
      background: #f4f4f4;
      padding-left: 8px;
      display: flex;
      align-items: center;
      > div {
        display: inline-block;
        margin-right: 10px;
        color: #333;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 0;
        .meta-label {
          color: #999;
          margin-left: 4px;
        }
      }
      .p-brand,
      .p-supplier {
        flex-shrink: 1;
      }
    }
    .product-price {
      max-width: 500px;
      line-height: 16px;
      padding: 16px 0;
      .jd-price-label {
        display: inline-block;
        padding: 0 5px;
        height: 22px;
        background-color: #c88f08;
        border-radius: 2px;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        color: #fff;
      }
      .p-content {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        font-size: 12px;
        margin-left: 12px;
        .p-price {
          font-size: 22px;
          vertical-align: middle;
          font-family: sans-serif;
          color: #d0521e;
          font-weight: bold;
          margin: 20px 0;
        }
        .p-jd-price {
          color: #999;
          margin-left: 4px;
          vertical-align: middle;
          text-decoration: line-through;
        }
      }
    }
    .product-attr {
      padding: 0 0 16px 8px;
      max-width: 500px;
      line-height: 16px;
      .p-label {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        color: #999;
        width: 56px;
        padding-left: 4px;
        text-align-last: justify;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        top: 2px;
      }
      .p-label-required {
        position: relative;
        &::before {
          content: '*';
          position: absolute;
          left: 0;
          top: 6px;
          color: #d0521e;
        }
      }
      .p-content {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        font-size: 12px;
        margin-left: 12px;
        .p-content-desc {
          position: relative;
          top: -2px;
        }
        .lov-value {
          font-size: 12px;
        }
        .icon-suport-pay-goods {
          width: 9px;
          height: 18px;
        }
        .product-ware {
          font-size: 14px;
          color: #333;
          margin-left: 17px;
          vertical-align: middle;

          .ware-label {
            color: #999;
          }
        }
        .product-stock {
          font-size: 12px;
          color: #757575;
          text-align: center;
        }
      }
      .p-content.product-detail-address {
        color: #888;
        &:hover {
          color: #c88f08;
        }
      }
    }
    .product-config-link {
      padding-top: 16px;
      margin-bottom: 16px;
      background: #fffaf3;
    }
    .product-counter {
      display: flex;
      align-items: center;
      > .p-content {
        display: flex;
        align-items: center;
      }
    }
    .stock {
      // margin-top: 30px;
      padding-left: 4px;
      font-size: 12px;
      .addSpin {
        width: 240px;
        vertical-align: top;
        margin-right: 6px;
        display: inline-block;
      }
      .p-collect {
        display: inline-block;
        width: 53px;
        height: 40px;
        font-size: 14px;
        background: #f5f5f5;
        color: #999;
        text-align: center;
        border-style: none;
      }
      .collected {
        border: 1px solid #d49d18;
        color: #d49d18;
        background: rgba(212, 157, 24, 0.1);
      }
      .product-add-spin {
        width: 240px;
      }
      .off {
        width: 240px;
        height: 40px;
        background-color: #d8d8d8;
        border-style: none;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
      }
      .product-add {
        width: 240px;
        height: 40px;
        background-color: #d0521e;
        border-style: none;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        border-radius: 2px;
        outline: none;
      }
      .product-service {
        margin-top: 8px;
        height: 40px;
        color: #999;
        font-size: 14px;
        .p-label {
          padding-left: 0;
        }
        .p-brand {
          float: left;
          color: #666;
          font-size: 13px;
        }
      }
    }
    .model-control {
      cursor: pointer;
      display: inline-block;
      height: auto;
      vertical-align: top;
    }
  }
}
