.card-title {
  display: inline-block;
  font-size: 14px;
  line-height: 12px;
  font-weight: 600;
  padding-left: 8px;
  border-left: 3px solid #29bece;
}

.primary-tag {
  background: #fca000;
  border-radius: 2px;
  color: #fff;
  padding: 0 3px;
  margin-left: 5px;
}
