.expired-content {
  :global {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .expired-content-middle {
      height: 80%;
      width: 70vw;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .expired-content-middle-message {
        font-weight: bold;
      }
    }
    .expired-content-footer {
      height: 20%;
      width: 70vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.footer-email {
  :global {
    text-decoration: underline;
  }
}
