.operation-record-modal {
  :global {
    .operation-record-modal-actionTab {
      margin-top: 4px;
      .c7n-collapse > .c7n-collapse-item > .c7n-collapse-header {
        padding: 0;
        color: #000;
        font-weight: 500;
        display: flex;
        align-items: center;
      }
      .action-words {
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
        margin: 0 8px;
      }
      .actionTab-collapse {
        .actionTab-header-icon {
          margin: 0 16px 0 0;
          font-size: 0.14rem;
        }
        .c7n-collapse-item {
          // padding-bottom: 30px;
          border: none;
          > .c7n-collapse-header {
            .c7n-collapse-expand-icon {
              font-size: 0.18rem;
              height: 0.18rem;
            }
          }
          .c7n-collapse-expand-icon-wrapper {
            margin-left: 8px;
          }
        }
        .c7n-collapse-content > .c7n-collapse-content-box {
          padding-bottom: 0;
        }
        .actionTab-date {
          position: relative;
          // top: -30px;
          left: 32px;
          color: rgba(0, 0, 0, 0.45);
          padding-bottom: 12px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        }
        .actionTab-detail-ul {
          margin-left: 14px;
          margin-bottom: 8px;
          color: rgba(0, 0, 0, 0.45);
          font-weight: 400;
          > span {
            margin-right: 8px;
          }
        }
        > .c7n-collapse-item > .c7n-collapse-header .c7n-collapse-expand-icon:before {
          content: '\E313';
        }
        > .c7n-collapse-item > .c7n-collapse-header .c7n-collapse-expand-icon {
          transform: rotate(-180deg);
        }
        > .c7n-collapse-item
          > .c7n-collapse-header
          .c7n-collapse-expand-icon.c7n-collapse-expanded {
          transform: rotate(0deg);
        }
        .c7n-collapse-item-disabled > .c7n-collapse-header,
        .c7n-collapse-item-disabled > .c7n-collapse-header > .arrow {
          color: unset;
          cursor: default;
        }
      }
      .c7n-timeline-item {
        padding-bottom: 0;
      }
      .c7n-timeline-item-content {
        padding-left: 24px;
        padding-bottom: 16px;
      }
    }
    .operation-record-modal-approvalTab {
      .approve-header-empty {
        text-align: center;
        margin-top: calc(100vh / 2 - 180px);
        .desc {
          text-align: center;
          font-size: 12px;
          display: inline-block;
          color: #868d9c;
        }
      }
    }
    .c7n-pro-modal-drawer-content {
      .c7n-pro-modal-drawer-body {
        padding-top: 12px;
        .c7n-tabs-bar {
          margin: 0 0 0.2rem 0;
        }
      }
    }
  }
}
