@import '~srm-front-boot/lib/utils/style/basic.less';

.smbl-chat-room-header {
  width: 100%;
  height: 56px;
  line-height: 56px;
  display: flex;
  align-items: center;
  padding: 0 60px 0 20px;
  border-bottom: 1px solid @border-color-split;
  position: relative;

  .smbl-chat-room-header-title {
    font-size: 16px;
    color: #1d2129;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .smbl-chat-room-header-split {
    width: 1px;
    height: 8px;
    background: @border-color-split;
    margin-left: 12px;
    flex-shrink: 0;
  }
  .smbl-chat-room-peoples-btn {
    margin-left: 12px;
    flex-shrink: 0;
    :global {
      .icon {
        margin-right: 0;
      }
    }
    img {
      width: 14px;
      height: 14px;
    }
    .smbl-chat-room-peoples-btn-number {
      line-height: 14px;
      margin-left: 2px;
      font-size: 12px;
      color: #868d9c;
      font-weight: 400;
    }
  }
  .smbl-chat-room-header-close-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 2px;
    color: #868d9c;
    :global {
      .icon {
        margin-right: 0;
      }
    }
  }
}
