.draw-wrapper {
  :global {
    .c7n-timeline-item-head {
      top: 4px;
    }
    .c7n-timeline-item {
      padding-bottom: 12px;
    }
    .item-time {
      color: rgba(0, 0, 0, 0.45);
      margin-left: 7px;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 12px;
    }
    .item-info {
      margin-left: 7px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
      .item-align {
        margin-bottom: 8px;
        .label {
          color: #000;
        }
      }
    }
    .item-line {
      margin-left: 7px;
      margin-bottom: 5px;
      .item-tag {
        width: 34px;
        height: 18px;
        color: #fff;
        padding: 2px 5px;
        border-radius: 2px;
        font-weight: 600;
      }

      .green {
        background-color: #47b883;
      }

      .red {
        background-color: #f56649;
      }

      .item-requestName {
        font-weight: 600;
        font-size: 12px;
        margin-left: 8px;
        margin-right: 16px;
      }
    }
  }
}
