.button-center {
  :global {
    .ant-btn.ant-btn {
      text-align: center;
      background-color: @primary-color;
    }
  }
}

.unauthorized-img {
  color: @primary-color;
  margin-top: calc(100vh / 6);
}

.token-expired-content {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
