.ssta-detail-content {
  overflow: auto;
  :global {
    .page-content {
      margin-bottom: 0;

      .ssta-form-title {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
      }

      .c7n-pro-field-label-vertical {
        color: rgba(0, 0, 0, 0.65);
        padding: 0 0.05rem;
      }

      .c7n-pro-field-label-vertical ~ .c7n-pro-field-wrapper {
        padding: 0 0.05rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
}
