@import '~hzero-front/lib/srm-variables.less';

.review-card-title {
  position: relative;
  padding-left: 8px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 60%;
    background-color: @primary-color;
    transform: translateY(-50%);
  }
}

.detail-container {
  :global {
    overflow-y: auto;

    .c7n-tabs-bar {
      margin-top: 8px;
    }

    .c7n-collapse {
      background-color: #fff;
      &>.c7n-collapse-item {
        padding: 20px 20px 20px 0;
        background-color: #fff;
        overflow: initial;
        border: none;

        &>.c7n-collapse-header {
          padding: 0;
          font-size: 16px;
          font-weight: 600;
          border: none;
        }

        &>.c7n-collapse-content {
          padding: 0;

          &>.c7n-collapse-content-box {
            padding: 0;
          }
        }
      }

      &>.c7n-collapse-item-active {
        &>.c7n-collapse-header {
          padding-bottom: 16px;
        }
      }
    }
  }
}