.auth-done-title {
  font-size: 16px;
  color: #101319;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.supplier-signature-workplace-basic {
  :global {
    .c7n-pro-output-float-label > .c7n-pro-field-label-wrapper > .c7n-pro-field-label {
      color: #868d9c;
      line-height: 18px;
      font-weight: 400;
    }

    .c7n-pro-output {
      color: #1d2129;
      line-height: 18px;
      font-weight: 400;
    }
  }
}

.auth-step-basic-panel {
  border: 1px solid rgba(229, 231, 236, 1);
  padding: 16px;

  :global {
    .c7n-steps-item-title {
      font-size: 14px;
      color: #101319;
      line-height: 23px;
      letter-spacing: 0;
    }

    .c7n-steps-item-wait {
      .c7n-steps-item-icon {
        background: #f2f3f5;
        .c7n-steps-icon {
          color: #4e5769 !important;
        }
      }

      .c7n-steps-item-title {
        color: #4e5769;
      }
    }

    .c7n-steps-item-finish {
      .c7n-steps-item-icon {
        background: rgba(59, 179, 70, 0.1);
        span.icon {
          color: #3bb346 !important;
        }
      }

      .c7n-steps-item-title:after {
        background: rgba(59, 179, 70, 1) !important;
      }
    }

    .c7n-steps-item-process {
      .c7n-steps-item-icon {
        background: #3bb346;
      }

      .c7n-steps-item-title {
        font-size: 14px;
        color: #3bb346;
        letter-spacing: 0;
        line-height: 23px;
        font-weight: 600;
      }
    }
  }
}

.sign-detail-basic {
  :global {
    .c7n-alert-info {
      border: none;
      color: #0161D5;
      background-color: rgba(25,132,247,0.10);
    }

    .c7n-pro-output-float-label>.c7n-pro-field-label-wrapper>.c7n-pro-field-label {
      color: #868d9c;
      line-height: 18px;
      font-weight: 400;
    }
  }
}

.people-select-lov-body {
  height: 7.51rem;
  padding-top: 8px !important;
  :global {
    .c7n-pro-table-selection-tips {
      display: none;
    }
    // .c7n-pro-table-body {
    //   height: 6.5rem !important;
    // }
  }
}

.buyer-sign-manage-form-basic {
  :global {
    .ant-btn-disabled-wrapper>button, .ant-btn:not(.ant-btn-disabled-wrapper), .c7n-btn-disabled-wrapper>button, .c7n-btn:not(.c7n-btn-disabled-wrapper), .c7n-pro-btn-disabled-wrapper>button, .c7n-pro-btn:not(.c7n-pro-btn-disabled-wrapper) {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }

    // .c7n-pro-attachment-list .c7n-pro-attachment-card-button.c7n-pro-btn-disabled, .c7n-pro-attachment-list .c7n-pro-attachment-card-button .icon {
    //   display: flex !important;
    //   flex-direction: column !important;
    // }

    .c7n-upload.c7n-upload-select-picture-card {
      margin: 0 !important;
    }

    .c7n-pro-attachment-list-card {
      margin-top: 0 !important;
    }
  }
}

.auth-done-basic-form-switch {
  :global {
    .c7n-pro-field-wrapper {
      margin-top: 0 !important;
      padding: 0 !important;
      display: flex;
      flex-direction: column-reverse;
    }

    .c7n-pro-switch-float-label {
      padding: 0;
      color: #868d9c;
      font-weight: 400;
      margin-bottom: 6px;
    }
  }
}

.status-tag-success {
  padding: 2px 4px;
  background: rgba(71, 184, 131, 0.15);
  border-radius: 2px;
  color: #179454;
  text-align: justify;
  line-height: 16px;
  font-weight: 500;
}

.status-tag-failed {
  padding: 2px 4px;
  background: rgba(242, 128, 26, 0.15);
  border-radius: 2px;
  color: #f06200;
  text-align: justify;
  line-height: 16px;
  font-weight: 500;
}

.seal-edit-form-basic {
  :global {
    table tr:nth-child(2) .c7n-pro-field-wrapper {
      margin-top: 0 !important;
    }
  }

  .modal-form-help-msg {
    color: #868D9C;
    height: 18px;
  }
}

.tag-signatory {
  margin-left: 8px;
  padding: 1px 2px;
  border-radius: 2px;
  background-color: rgba(242, 128, 26, 0.15);
  color: #f06200;
  font-weight: 500;
  line-height: 20px;
}
