.process-width-less {
  :global {
    .c7n-progress-inner {
      width: 30px !important;
      height: 30px !important;
      line-height: 40px !important;
      font-size: 12px !important;
      vertical-align: middle;
    }
  }
}
.exection-progress-table {
  :global {
    .c7n-pro-table-row {
      height: 45px !important;
      line-height: 42px !important;
      .c7n-pro-table-cell {
        line-height: 42px !important;
        .c7n-pro-table-cell-inner {
          line-height: 40px !important;
          height: 40px !important;
        }
      }
    }
  }
}

.ssta-batch-modal {
  width: 1090px !important;
  // :global {
  //   .c7n-pro-modal-body {
  //     padding: 0;
  //   }
  // }
}
