.credit-basic-panel {
  :global {
    .page-content {
      margin: 8px;
    }
  }
}

.table-box {
  height: calc(100vh - 266px);

  :global {
    .c7n-tag {
      border: none !important;
      font-weight: 400 !important;
    }
  }
}

.credit-log-basic-panel {
  :global {
    .c7n-pro-table-search-bar-merge-field .c7n-pro-input-prefix {
      margin-left: 8px;
    }
  }
}
