.list-normal-tag {
  padding: 0;
  margin: 0;
  width: 34px;
  line-height: 20px;
  text-align: center;
}

.success-tag {
  color: rgba(71, 184, 129);
  background: rgba(71, 184, 129, 0.1);
  border: none;
  border-radius: 2px;
}

.warning-tag {
  color: rgba(245, 99, 73);
  background: rgba(245, 99, 73, 0.1);
  border: none;
  border-radius: 2px;
}

.line-textarea {
  width: 100%;
}
