.text {
  display: flex;
  justify-content: center;
  align-items: center;
  .wrap {
    height: calc(100vh - 182px);
    padding-top: 170px;
    // line-height: calc(100vh - 200px);
    .wrapText {
      height: 300px;
      // line-height: ;
      .query {
        font-size: 16px;
        color: #1d2129;
        line-height: 24px;
        font-weight: 500;
        margin-top: 30px;
        margin-left: 120px;
      }
      .tip {
        font-size: 14px;
        color: #4e5769;
        line-height: 22px;
        font-weight: 400;
        margin-left: 50px;
      }
      .btn {
        margin-left: 120px;
      }
    }
  }
}
