.monitor-business-basic {
	:global {
		.c7n-pro-table-search-bar-operator-icon-unFold {
			display: none;
		}

		.c7n-pro-table-search-bar-operator-icon:last-child {
			display: none;
		}

		.c7n-pro-input-prefix {
			padding-left: 4px;
			i {
				font-size: 18px;
			}
		}
	}

	.page-content-wrap .page-content {
		height: calc(100vh - 75px) !important;
	}
}

.table-out-container-stuff {
	height: calc(100vh - 48px - 32px - 40px - .16rem - 64px - 24px - 32px - 16px - 16px - 16px);
	margin-bottom: 16px;
}

.monitor-business-tag-basic {
	border-radius: 2px;
	padding: 2px 3px;
	font-weight: 500;
}

.monitor-business-tag-1 {
	background: #f25535;
	color: #fff;
}

.monitor-business-tag-2 {
	background: rgba(242, 85, 53, .15);
	color: #f25535;
}

.monitor-business-tag-3 {
	background: rgba(242, 128, 26, .15);
	color: #f46c0e;
}

.monitor-business-tag-4 {
	background: rgba(71, 184, 131, .15);
	color: #3ab545;
}

.monitor-business-tag-5 {
	background: rgba(48, 125, 57, .15);
	color: #307d39;
}

.tag-over-time {
	height: 18px;
	line-height: 18px;
	padding: 2px 4px;
	border-radius: 2px;
	color: #4e5769;
	background-color: #e5e7ec;
	font-weight: 500;
}

.tag-in-time {
	height: 18px;
	line-height: 18px;
	padding: 2px 4px;
	font-weight: 500;
	border-radius: 2px;
	background: #ecf7f2;
	color: #47b881;
	background-color: #e5e7ec;
}
