.indicator-card {
  :global {
    .c7n-card-head {
      min-height: 46px !important;
      padding: 0 24px !important;
    }
    .c7n-card-body {
      height: 100%;
      display: flex;
      padding-top: 0;
      flex-direction: column;
      justify-content: space-between;
    }
    .c7n-card-head-title {
      line-height: 1.3;
    }
    .c7n-card-head-wrapper {
      height: 46px !important;
    }
  }
}

.tool {
  width: 100%;
  margin-bottom: 18px;
  .right-tool {
    float: right;
  }
}
