@import '~hzero-front/lib/srm-variables.less';
.switch-box-container {
  :global {
    .switch-box-title {
      font-size: 12px;
      color: #868d9c;
      line-height: 18px;
      margin-bottom: 4px;
    }
    .c7n-pro-radio-wrapper + .c7n-pro-radio-wrapper {
      margin-left: 24px;
    }
  }
}
