.notice-title {
  :global {
    .ant-col-9 {
      width: calc((9 / 48) * 100% - 9px);
    }
    .ant-col-15 {
      width: calc((39 / 48) * 100% + 9px);
    }
  }
}

.record-drawer {
  :global {
    .c7n-tabs-tabpane {
      max-height: calc(100vh - 210px);
      overflow: auto;
    }
  }
}
