.ip-address-component-wrap-ssrc {
  z-index: 0;

  :global {
    .c7n-pro-tooltip-popup-inner {
      max-width: 550px !important;
      min-width: 480px !important;
      padding: 0;
      max-height: 480px;
      overflow-y: auto;
    }
  }
}
