.sub-page-wrapper {
  height: 100%;
  width: 100%;
  :global {
    .overlay-spinning {
      height: 100%;
      width: 100%;
      :global {
        .c7n-spin-nested-loading,
        .c7n-spin-container {
          height: 100%;
        }
      }
    }
  }
}