.supply-ability-doc-detail-content {
  :global {
    .page-content {
      padding: 0;
      margin: 8px;
      .card-content-wrap {
        background: #f4f5f7;
        // 详情头和底部附件信息
        .card-content {
          padding: 20px;
          margin-bottom: 8px;
          background: #fff;
          &-title {
            font-size: 16px;
            color: #1d2129;
            font-weight: 600;
            margin-bottom: 16px;
          }
        }
        & > .card-content:last-child {
          margin-bottom: 0;
        }
        // 只读页隐藏必填样式
        .c7n-pro-vertical-form-display {
          .c7n-pro-field-label.c7n-pro-field-required.c7n-pro-field-label-useColon {
            &:before {
              display: none;
              content: '';
            }
          }
        }
      }
    }
    .supplement-wrap {
      margin: 0;
    }
  }
}

// 列表操作按钮
.option-btn-wrap {
  :global {
    .c7n-pro-btn-wrapper.c7n-pro-btn.c7n-pro-btn-link {
      margin-left: 0;
      margin-right: 16px;
    }
  }
}

.af-wrap {
  background: #f4f5f7;
  padding: 8px 8px 0;
  :global {
    .af-basic-container {
      margin: 0;
    }
    .af-basic-bottom-remain-area {
      margin: 0;
      .c7n-pro-btn.c7n-pro-btn-flat {
        color: #1d2129;
      }
    }
  }
}

.supplement-wrap {
  :global {
    .page-content {
      margin: 0;
    }
  }
}
