.scope-step-basic {
  :global {
    .c7n-radio-wrapper {
      margin: 0 24px 0 0;
    }

    span.c7n-radio + * {
      padding-right: 0;
      font-weight: 400;
    }

    .c7n-radio-checked .c7n-radio-inner {
      padding: 0.03rem;
    }

    .c7n-pro-table-toolbar {
      padding-bottom: 4px;
    }
  }
}
