.codeMirror-json-title {
  :global {
    .c7n-pro-code-area-header {
      background: #283236 !important;
    }
  }
}

.relTable-head-titleDiv {
  :global {
    .page-head-title {
      white-space: nowrap;
      height: 48px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
