@import '~srm-front-boot/lib/utils/style/basic.less';

.icon-color {
  color: @color-danger;
}

.sprm-col-btn {
  margin-right: 16px;
  margin-left: 0;
}
.sprm-col-btn:last-child {
  margin-right: 0;
  margin-left: 0 !important;
}
