// 签章Modal
.sealModal {
  :global {
    overflow: hidden;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;

    button.ant-btn,
    span.ant-btn {
      width: 32px;
      height: 200px;
      line-height: 200px;
      border: 1px solid #d5dae0;
      float: left;
      padding: 0;
      z-index: 2;
    }

    .img-box {
      overflow: hidden;
      width: 448px;
      height: 100%;

      .img-box-wrap {
        transition-duration: 0.3s;
        transform: translate3d(0, 0, 0);
        display: flex;

        div {
          margin: 0 0 0 16px;
          flex-shrink: 0;
          width: 100%;
          height: 100%;
          position: relative;
          transition-property: transform;
          border: 1px solid #d5dae0;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding: 5px;
            // border: 1px solid #d5dae0;
          }

          i {
            width: 17px;
            height: 17px;
            position: absolute;
            font-size: 14px;
            top: -1px;
            right: -1px;
            color: #29bece;
          }
        }
      }
    }
  }
}

.noSealImg {
  :global {
    p {
      // width: 90px;
      line-height: 18px;
      font-size: 12px;
      margin-left: 16px;
      margin-bottom: 16px;
      text-align: left;
      text-indent: 2em;

      strong {
        cursor: pointer;
        color: #29bece;
      }

      span {
        font-weight: bold;
      }
    }
  }
}
