@import '~hzero-front/lib/srm-variables.less';

.drag-wrapper {
  border: 1px solid rgba(201,205,212,1);
  padding: 4px 0;
  border-radius: 2px;
    .drag-item {
      display: flex;
      align-items: center;
      i {
        color: @text-color-secondary;
      }
      &:hover{
        background:#F7F8FA;
      }
    }

}
