.order-top-title {
  :global {
    margin-bottom: 16px !important;
    border: none;
    color: rgba(48, 149, 242);
    background-color: rgba(48, 149, 242, 0.1) !important;

    .c7n-alert-icon {
      color: rgba(48, 149, 242);
    }
  }
}
