@font-face {
  font-family: PorscheFont;
  src: url('../assets/porsche/PorscheNextWAr-Regular.ttf'),
       url('../assets/porsche/PorscheNextWAr-Regular.eot'),
       url('../assets/porsche/PorscheNextWAr-Regular.svg'),
       url('../assets/porsche/PorscheNextWAr-Regular.woff'),
       url('../assets/porsche/PorscheNextWAr-Regular.woff2');
}

@Porsche-Font-Family: ""Monospaced Number", "Microsoft YaHei", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif";

body {
  font-family: @Porsche-Font-Family !important;
}

.ant-tabs, .ant-table, .ant-form-item, .ant-collapse, .ant-input, .ant-pagination, .ant-select, .ant-modal, .ant-form-item {
  font-family: @Porsche-Font-Family !important;
}

input, button, select, optgroup, textarea {
  font-family: @Porsche-Font-Family !important;
}
