.ssta-list-content {
  :global {
    .c7n-tabs-tab {
      cursor: pointer;
      font-size: 14px;
      padding: 0.1rem 0.16rem;
    }

    .c7n-tabs-tab:hover {
      color: rgba(0, 0, 0, 0.87);
    }

    .c7n-tabs-tab-active {
      font-weight: 700;
    }
  }
}
