// 基础样式文件
@import '~srm-front-boot/lib/utils/style/basic.less';

.batch-all-edit-alert {
  width: 380px;
  padding: 0 0;
  margin: -20px 0 20px -20px;

  background-color: #e6f7ff;
  border: none;
  color: @blue-6;
  .batch-all-edit-alert-message {
    color: @blue-6;
    text-align: justify;
    line-height: 20px;
    i {
      line-height: 20px;
      margin-top: -4px;
      margin-right: 6px;
    }
  }
}
