// 联系电话样式
.sprm-line-form {
  :global {
    .c7n-pro-field-wrapper {
      padding: 0 !important;
    }
    // .c7n-pro-select,
    // .c7n-pro-input {
    //   border-color: #fca000;
    //   background-color: #fffbef;
    // }
    // .c7n-pro-select:focus,
    // .c7n-pro-input:focus {
    //   background-color: #fff !important;
    // }
    & td:first-child {
      padding: 0;
    }
    .c7n-pro-field-wrapper {
      .c7n-row {
        display: flex;
        align-items: center;
      }
    }
    .c7n-pro-input-focused {
      background-color: #fff !important;
    }
  }
}
