.title {
  border-radius: 0 0 2px 2px;
  position: relative;
  box-sizing: border-box;
  font-size: 1.17em;
  color: #333;
  list-style: none;
  background-color: #fafafa;
  height: 48px;
  line-height: 48px;
  text-indent: 16px;
}
.btns {
  float: right;
  margin-bottom: 8px;
  position: relative;
  z-index: 1;
  button {
    margin-left: 8px;
    cursor: pointer;
  }
}
.marR {
  margin-right: 16px;
}
.myQuestionTopBar {
  margin-bottom: 60px;
  margin-top: 16px;
  z-index: 1;
  position: relative;
  button {
    float: right;
  }
}
.listcontent {
  :global .ant-collapse-content > .ant-collapse-content-box {
    padding: 16px 0;
  }
}

.badge-item {
  max-width: 80%;
  :global {
    .ant-badge-count {
      height: 14px;
      line-height: 14px;
      border-radius: 10px;
      padding: 0 2px 0 2px;
      min-width: 14px;
      margin-left: 9px;
    }
  }
}
