.info {
  margin: 8px 16px 0 16px;
  padding: 16px 16px 0 16px;
  .title {
    margin: 0 0 16px 0;
    .override-h3 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
  }
  .content-edit {
    width: 75%;
    :global {
      .c7n-pro-form-float-label {
        margin: 0;
      }
      .c7n-pro-field-wrapper {
        margin: 0 16px 16px 0 !important;
      }
    }
  }
  .content {
    width: 75%;
    :global {
      .c7n-pro-field-label-vertical {
        line-height: 24px;
        padding: 0;
        margin: 0;
      }
      .c7n-pro-field-wrapper {
        margin: 0 16px 16px 0 !important;
        padding: 0;
        .c7n-pro-output {
          line-height: 24px;
        }
      }
    }
  }
}

.table-info {
  margin: 8px 16px 0 16px;
  .content-edit {
    width: 75%;
    :global {
      .c7n-pro-form-float-label {
        margin: 0;
      }
      .c7n-pro-field-wrapper {
        margin: 0 16px 16px 0 !important;
      }
    }
  }
  .content {
    width: 75%;
    :global {
      .c7n-pro-field-label-vertical {
        line-height: 24px;
        padding: 0;
        margin: 0;
      }
      .c7n-pro-field-wrapper {
        margin: 0 0 16px 0 !important;
        padding: 0;
        .c7n-pro-output {
          line-height: 24px;
        }
      }
    }
  }
  .logistics-title {
    font-size: 14px;
    position: relative;
    padding: 0 16px 16px;
    &::before {
      content: '';
      width: 3px;
      height: 16px;
      position: absolute;
      top: 3px;
      left: 0;
      display: inline-block;
      background: #29bece;
    }
  }
}

.attach-info {
  margin: 8px 16px 12px 16px;
  padding: 16px 16px 0 16px;
  .title {
    margin: 0 0 16px 0;
    .override-h3 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
  }
  .content-edit {
    :global {
      .c7n-pro-form-float-label {
        margin: 0;
      }
      .c7n-pro-form-float-label {
        margin: 0;
      }
      .c7n-pro-field-wrapper {
        margin: 0 16px 16px 0 !important;
      }
    }
  }
  .content {
    :global {
      .c7n-pro-form-float-label {
        margin: 0;
      }
      .c7n-pro-field-label-vertical {
        line-height: 24px;
        padding: 0;
        margin: 0;
      }
      .c7n-pro-field-wrapper {
        margin: 0 16px 16px 0 !important;
        padding: 0;
        .c7n-pro-output {
          line-height: 24px;
        }
      }
    }
  }
}
