.incident-item-tag-high {
  border-radius: 2px;
  padding: 0 4px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  background-color: #e64322;
  font-weight: 500;
}

.incident-item-tag-middle {
  border-radius: 2px;
  padding: 0 4px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  background-color: #feb936;
  font-weight: 500;
}

.incident-item-tag-low {
  border-radius: 2px;
  padding: 0 4px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  background-color: #179454;
  font-weight: 500;
}

.risk-detail-basic {
  :global {
    .c7n-tag {
      border: none;
    }

    .c7n-pro-form.c7n-pro-form-float-label
      > table
      > tbody
      > tr:not(:first-child)
      .c7n-pro-field-wrapper {
      margin-top: 0;
    }

    .c7n-pro-field-label {
      color: #868d9c !important;
    }
  }
}
