.inline-group-fields {
  .icon-help {
    border: 0.01rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31.99px;
  }
  div:last-child {
    border-left-color: transparent !important;
  }
  .icon-help {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    :global {
      .icon {
        font-size: 0.15rem;
      }
    }
  }
  :global {
    .c7n-pro-select-wrapper {
      width: 100%;
    }
  }
}
