.ec-sku-batch-approve-collapse {
  background: #f8f9fb;
  :global {
    .content-box-title {
      font-size: 16px;
      color: #101319;
      letter-spacing: 0;
      line-height: 24px;
      font-weight: 600;
    }
    .c7n-collapse-item {
      background-color: #fff;
      margin-bottom: 8px;
      border: none;
    }
  }
}
