// .avatar-uploader {
// }
.yulan-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  margin-left: 54px;
  > p {
    width: 130px;
    font-size: 12px;
    text-align: center;
  }
}
.cropper-box {
  margin: 16px 0 0 20px;
  :global {
    .top-area {
      display: flex;
    }
  }
}

:global {
  .img-preview {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 0;
    margin-top: 20px;
  }
}
