@import '~hzero-front/lib/srm-variables.less';

.content {
  padding-right: 16px;
  :global {
    .customBar-item {
      margin-bottom: 24px;
      .p-label {
        margin-bottom: 4px;
      }
    }

    .img-div {
      width: 100%;
      background-size: 100% 100%;
      background-position: center center;
    }
    .zhuanqu-img {
      background-image: url('../../../../assets/MallHomeConfig/zhuanqu.png');
      width: 218px;
      height: 9px;
    }
    .banner-img {
      background-image: url('../../../../assets/MallHomeConfig/banner.png');
      width: 146px;
      height: 72px;
    }
    .gonggao-img {
      background-image: url('../../../../assets/MallHomeConfig/gonggao.png');
      width: 114px;
      height: 50px;
    }
    .more-product-img {
      height: 125px;
      background-image: url('../../../../assets/MallHomeConfig/moreproduct.png');
    }
    .onemore-product-img {
      height: 125px;
      background-image: url('../../../../assets/MallHomeConfig/onemoreproduct.png');
    }
    .onecomemore-product-img {
      height: 189px;
      background-image: url('../../../../assets/MallHomeConfig/onecomemoreproduct.png');
    }
    .fivemore-product-img {
      height: 21px;
      background-image: url('../../../../assets/MallHomeConfig/fivemoreproduct.png');
    }
  }
}

:global {
.customBar-show-config {
  .des {
    color: @text-color-secondary;
    margin-bottom: 0;
  }
  .c7n-pro-checkbox-wrapper {
    height: 18px;
  }
}
}
