.index-search-basic {
  :global {
    .page-content {
      padding: 20px;
    }
  }
}

.panel-card-title {
  font-size: 14px;
  font-weight: 500;
  padding-left: 8px;
  border-left: 3px solid #00b8cc;
  line-height: 12px;
  margin-bottom: 16px;
}
