@import '~hzero-front/lib/srm-variables';

.version-wrapper {
  max-height: 600px;
  overflow: auto;
  padding: 4px 0;
  :global {
    .c7n-pro-output {
      font-weight: 400;
    }
  }
  .version-item {
    &-wrapper {
      padding: 8px 15px;
      cursor: pointer;
      &:hover {
        // background-color: @fill-6;
        .version-item-versionNumber {
          color: @primary-color;
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      :global {
        .c7n-pro-output {
          line-height: 18px;
          background-color: transparent;
        }
      }
    }
    &-extra {
      display: flex;
      gap: 8px;
      color: @text-3;
    }
  }
}
.empty-version-wrapper {
  padding: 8px 15px;
  color: @text-3;
}
