.ssta-batch-modal {
  width: 1090px !important;
  :global {
    .c7n-pro-modal-body {
      padding: 0;
    }
  }
}

.ssta-detail-modal-content {
  padding: 0;
  :global {
    .ssta-detail-collapse-content {
      margin: 0;
    }
    .c7n-collapse-item:not(:last-child)::after {
      height: 1px !important;
    }
  }
}
