.renewal-modal-footer {
  :global {
    .c7n-modal-footer {
      width: 100%;
      position: fixed;
      bottom: 25px;
    }

    .c7n-modal-header {
      height: 0.56rem !important;
      min-height: 0.56rem !important;
    }

    .c7n-modal-body {
      padding: 0 !important;
    }

    .c7n-modal-title {
      font-size: 16px !important;
    }

    .renewal-modal-panel {
      color: #3095f2;
      font-size: 12px;
      background-color: rgba(48, 149, 242, 0.1);
      border-radius: 2px;
      padding: 10px 16px;
    }

    .renewal-modal-form {
      padding: 8px 20px;
      .c7n-pro-form:not(.c7n-pro-form-float-label) .c7n-pro-field-wrapper {
        padding: 0;
      }

      .c7n-pro-field-label,
      .c7n-pro-field-wrapper {
        padding: 16px 0 0 0;
      }

      .c7n-pro-form-float-label {
        padding-top: 16px;
      }
      .c7n-pro-field-label-wrapper {
        .c7n-pro-field-label,
        .c7n-pro-field-wrapper {
          padding: 0 !important;
        }
      }

      .c7n-pro-output {
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
      }

      .c7n-pro-field-label-vertical {
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
      }
    }
  }
}

.table-list-c7n {
  .c7n-pro-table-switch {
    display: none;
  }
}
