@import '~hzero-front/lib/srm-variables';

.card-list-panel {
  height: calc(100vh - 138px);
  background: #fff;

  .c7n-collapse > .c7n-collapse-item:last-child,
  .c7n-collapse > .c7n-collapse-item:last-child > .c7n-collapse-header {
    font-weight: 500;
    font-size: 14px;
  }
}

.card-list-panel-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;

  .search {
    display: flex;
    align-items: center;
    float: right;
    line-height: 30px;
    height: 30px;
    margin-top: 7px;
  }
}

.card-list-panel-search {
  padding: 0 16px;
}

.source-card-list {
  margin-top: 16px;
  height: calc(100vh - 231px);
  overflow-y: scroll;

  :global {
    .c7n-collapse {
      border: none;
    }

    .c7n-collapse > .c7n-collapse-item {
      border-bottom: none;
    }

    .c7n-collapse-header {
      font-weight: 500 !important;
      font-size: 14px !important;
      background: #fff;
      padding: 0.08rem 0.16rem !important;
    }

    .c7n-collapse-content {
      padding: 0 !important;
      border-top: none !important;
    }

    .c7n-collapse-content > .c7n-collapse-content-box {
      margin: 0 16px;
      padding: 0 !important;
    }
  }
}

.source-box-list {
  margin-top: 16px;
  height: calc(100vh - 247px);
  overflow-y: scroll;

  :global {
    .c7n-collapse {
      border: none;
    }

    .c7n-collapse > .c7n-collapse-item {
      border-bottom: none;
    }

    .c7n-collapse-header {
      font-weight: 500 !important;
      font-size: 14px !important;
      background: #fff;
      padding: 0.08rem 0.16rem !important;
    }

    .c7n-collapse-content {
      padding: 0 !important;
      border-top: none !important;
    }

    .c7n-collapse-content > .c7n-collapse-content-box {
      margin: 0 16px;
      padding: 0 !important;
    }
  }
}

.change-table {
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.active {
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.08);
  .icon {
    color: @primary-color;
  }
}

.card-list-panel::-webkit-scrollbar,
.target-box-style::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

// 滚动条里面小方块
.card-list-panel::-webkit-scrollbar-thumb,
.target-box-style::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  background: #53535305;
}

// 滚动条里面轨道
.card-list-panel::-webkit-scrollbar-track,
.target-box-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #ededed03;
}

.card-list-icon-card {
  color: #868d9c;
}

.card-list-icon-list {
  color: #868d9c;
}
