.draggleLine-wrapper {
  height: 100%;
  width: 1px;
  border: none;
  cursor: row-resize;
  // background-color: #E2E2E6;

  .draggleLine {
    position: absolute;
    height: 100%;
    width: 3px;
  }
}
