
  

.contentSITF {
  font-size: 10px;
  :global {
    .c7n-tabs-bar {
      height: calc(100vh - 184px);
    }
    .c7n-tabs-vertical.c7n-tabs-left>.c7n-tabs-content {
      border-left: none;
      // height: calc(100vh - 184px);
    }

    .doubleTableStyleSITF {
      // height: calc(100vh - 154px);
      .double-tabs-left-wrapper {
        .double-tabs-left-tab {
          background: #F2F3F5;
          border: none;
          height: auto;
        }
  
        .double-tabs-item-selected {
          box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
        }
  
      }
  
      .double-tabs-tab-container {
        .double-tabs-bottom-tab {
          padding-top: 16px;
        }
      }
  }
  }
}
