.bidding {
  :global {
    .c7n-pro-field-label-vertical.c7n-pro-field-label {
      padding: 0 0.05rem;
    }
    .c7n-pro-form:not(.c7n-pro-form-float-label) .c7n-pro-field-wrapper {
      padding: 0 0.05rem;
      margin-bottom: 16px;
    }
    .select-section-switch {
      display: flex;
      .select-section-header {
        margin-left: 16px;
        margin-bottom: 16px;
        .select-section-explain {
          color: #999;
        }
      }
    }
    .checkbox-grops {
      width: 100%;
    }
    .checkbox-line {
      height: 36px;
      line-height: 36px;
      color: #333;
      margin-left: 36px;
    }
  }
}
