.monitor-card {
  display: inline-block;
  width: 100%;
  margin: 0 8px;
  height: 140px;
  background: #fbfbfb;
  border: 1px solid rgba(214, 214, 214, 1);
  border-radius: 5px;
  padding: 14px 20px;

  .monitor-card-title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 18px;
    font-weight: 500;
  }

  .monitor-card-count {
    margin-top: 4px;
    font-size: 20px;
    color: #36c2cf;
    line-height: 30px;
    font-weight: 600;
  }

  .monitor-card-item {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 18px;
    font-weight: 400;
  }

  .monitor-card-date {
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 18px;
    font-weight: 400;
  }
}
