.auth-done-title {
  font-size: 16px;
  color: #101319;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.supplier-signature-workplace-basic {
  :global {
    .c7n-pro-output-float-label > .c7n-pro-field-label-wrapper > .c7n-pro-field-label {
      color: #868d9c;
      line-height: 18px;
      font-weight: 400;
    }

    .c7n-pro-output {
      color: #1d2129;
      line-height: 18px;
      font-weight: 400;
    }

    .c7n-alert-info {
      border: none;
      color: #0161D5;
      background-color: rgba(25,132,247,0.10);
    }
  }
}

.people-select-lov-body {
  height: 7.51rem;
  padding-top: 8px !important;
  :global {
    .c7n-pro-table-selection-tips {
      display: none;
    }
  }
}

.tag-enabled-status {
  background: rgba(71, 184, 131, 0.15);
  border-radius: 2px;
  color: #179454;
  text-align: justify;
  line-height: 18px;
  font-weight: 500;
  padding: 1px 4px;
}

.tag-disEnabled-status {
  background: rgba(242, 128, 26, 0.15);
  border-radius: 2px;
  color: #f06200;
  line-height: 18px;
  font-weight: 500;
  padding: 1px 4px;
}

.tag-expired-status {
  background: #e5e7ec;
  border-radius: 2px;
  color: #4e5769;
  line-height: 18px;
  font-weight: 500;
  padding: 1px 4px;
}

.tag-pending-status {
  background: rgba(10, 125, 245, 0.15);
  border-radius: 2px;
  color: #0161d5;
  line-height: 18px;
  font-weight: 500;
  padding: 1px 4px;
}

.tag-signatory {
  margin-left: 8px;
  padding: 1px 2px;
  border-radius: 2px;
  background-color: rgba(242, 128, 26, 0.15);
  color: #f06200;
  font-weight: 500;
  line-height: 20px;
}
