.scux-bid-full-process-detail {
  &-wrapper {
    height: 100%;
  }
  &-container {
    height: calc(100% - 65px);
  }
  &-content {
    height: calc(100% - 0.68rem);
    overflow-y: auto;
  }
}

.scux-bid-full-process-detail-step {
  background-color: #fff;
  padding: 0.2rem;
  margin: 8px;
}
