@import '~hzero-front/lib/srm-variables.less';

.svgContainer {
  display: inline-table;
  vertical-align: middle;
  // vertical-align: -webkit-baseline-middle;
  font-size: 16px;
  :global {
    path {
      fill: @primary-color;
    }
  }
}
