.incident-item-tag-recall {
  border-radius: 2px;
  padding: 0 4px;
  color: #4e5769;
  height: 18px;
  line-height: 18px;
  background-color: #e5e7ec;
  font-weight: 500;
}

.incident-item-tag-approving {
  border-radius: 2px;
  padding: 0 4px;
  color: #f06200;
  height: 18px;
  line-height: 18px;
  background-color: rgba(242, 128, 26, 0.15);
  font-weight: 500;
}

.incident-item-tag-approved {
  border-radius: 2px;
  padding: 0 4px;
  color: #179454;
  height: 18px;
  line-height: 18px;
  background-color: rgba(71, 184, 131, 0.15);
  font-weight: 500;
}

.incident-item-tag-refuse {
  border-radius: 2px;
  padding: 0 4px;
  color: #e64322;
  height: 18px;
  line-height: 18px;
  background-color: rgba(242, 85, 53, 0.15);
  font-weight: 500;
}

.timeLine-common-row {
  display: flex;
  padding-left: 32px;
  line-height: 18px;
  margin: 4px 0;
}
