.smdm-paymentTerms-list {
  :global {
    .ant-form-item {
      display: inline-block;
      margin-bottom: 0 !important;
    }
  }
}
.smdm-paymentTerms-header {
  :global {
    .ant-btn-disabled-wrapper > button,
    .ant-btn:not(.ant-btn-disabled-wrapper),
    .c7n-btn-disabled-wrapper > button,
    .c7n-btn:not(.c7n-btn-disabled-wrapper),
    .c7n-pro-btn-disabled-wrapper > button,
    .c7n-pro-btn:not(.c7n-pro-btn-disabled-wrapper) {
      max-width: 200px;
    }
  }
}

.footer-btn {
  text-align: left;
}
