.btn-list-content {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  :global {
    .c7n-pro-btn-disabled-wrapper {
      margin-left: 0 !important;
    }
    .c7n-pro-btn {
      font-weight: 400 !important;
      > span {
        font-weight: 400 !important;
      }
    }
  }
}
