@import '~hzero-front/lib/srm-variables';

:global {
  .page-content {
    .c7n-card.ued-detail-card > .c7n-card-head::before,
    .c7n-card.ued-detail-card-table > .c7n-card-head::before {
      background-color: @primary-color;
    }

    .c7n-card.ued-detail-card > .c7n-card-head {
      border: none;
      padding: 14px 16px;
      position: relative;
    }
  }
}
