.collapse-style{
  :global{
    .c7n-collapse-item{
      margin-bottom: 24px ;
    .c7n-collapse-header{
      height:48px;
      line-height:48px !important;
      padding:0 0 0 12px !important;
      background-color: #fafafa;
      h3{
        display: inline-block !important;
      }

      a{
        margin-left:16px;
        
      }
      .icon{
        margin-left:5px;
        color:#29bece;
        vertical-align: sub;
      }
    }
  //   .c7n-collapse-content{
  //   .c7n-collapse-content-box{
  //     padding-top:0.16rem !important;
  //   }
  // }
  .c7n-pro-form{
    td{
      vertical-align: middle !important;
    }
  }
}
    }
  }
