.add-business-modal {
	.add-business-modal-left-panel,
	.add-business-modal-right-panel {
		border: 1px solid rgba(201, 205, 212, 1);
		border-radius: 5px;
		width: 100%;
		height: calc(100vh - 240px);
	}

	.add-business-modal-center-panel {
		height: calc(100vh - 240px);
		text-align: center;
		line-height: calc(100vh - 240px);
	}

	.add-business-modal-left-panel {
		.c7n-pro-textarea-wrapper {
			border-radius: 3px;
		}

		textarea {
			border: none;
			outline: none;
			border-radius: 2px;
			font-size: 14px;
			padding: 8px 20px;
		}
	}
}

.add-business-modal-panel-title {
	height: 46px;
	line-height: 46px;
	background: #f7f8fa;
	border-radius: 5px 5px 0 0;
	font-size: 14px;
	color: #1d2129;
	font-weight: 500;
	padding: 0 20px;
	border-bottom: 1px solid rgba(229, 231, 236, 1);
}

.list-container-box {
	height: calc(100% - 46px);
	font-size: 14px;
	padding: 8px 20px;
	overflow: hidden;
	overflow-y: scroll;
}
