.carousel {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  .carousel-ul {
    margin: 0;
    padding: 0;
    flex: 1;
    position: relative;
    li {
      float: left;
      list-style: none;
    }
    .carousel-item {
      padding: 0;
      margin: 0;
    }
    .li-content {
      width: 80px;
      margin-top: 20%;
      i {
        font-size: 24px;
      }
      i:hover {
        color: #ccc;
      }
    }
    li:nth-child(3) {
      position: relative;
      display: block;
      text-align: right;
    }
  }
}

.upload {
  width: 680px;
  display: flex;
  flex: 1;
  position: relative;
  margin-top: 20px;
  margin-bottom: 24px;
  img {
    width: 130px;
    height: 80px;
    padding-left: 10px;
  }
  img:first-child {
    padding-left: 0;
  }
}

.slick-list {
  height: 350px;
  width: 600px;
  margin: 10px auto;
  img {
    width: 600px;
    height: 350px;
  }
}
