.points-modal-footer {
  :global {
    .c7n-modal-footer {
      width: 100%;
      position: fixed;
      bottom: 25px;
    }
  }
}

.table-list-c7n {
  .c7n-pro-table-switch {
    display: none;
  }
}

.tag-status {
  display: inline-block;
  border-radius: 2px;
  line-height: 18px;
  font-weight: 600;
  padding: 0 5px;
}

.uninvoiced {
  background: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.65);
}

.invoiced {
  background: rgba(71, 184, 129, 0.1);
  color: #47b881;
}

.invoiceing {
  background: rgba(252, 160, 0, 0.1);
  color: #f88d10;
}
