.import-modal {
  :global {
    .c7n-pro-modal-title {
      font-size: 16px;
      color: #000000;
      line-height: 24px;
      font-weight: 600;
    }
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.26);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.container-left {
  position: relative;
  width: 300px;
  border-right: 0.01rem solid #e0e0e0;
  transform: width 0.3s;
  .collapse-icon {
    right: 0;
    border-radius: 20px 0 0 20px;
    i {
      margin-left: -2px;
    }
  }
}

.container-left-collpase {
  width: 0;
  visibility: hidden;
  display: none;
}

.container-right {
  flex-grow: 1;
  padding: 16px;
  .collapse-icon {
    left: 0;
    border-radius: 0 20px 20px 0;
    i {
      margin-left: -4px;
    }
  }
}

.collapse-icon {
  cursor: pointer;
  width: 12px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #e0e0e0;
  i {
    line-height: 50px;
  }
}

.left-list-wrapper {
  height: 100%;
  display: flex;
  width: 300px;
  flex-direction: column;
}

.left-title {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  padding: 20px 20px 8px;
}

.left-list {
  flex-grow: 1;
  // padding: 16px !important;
  overflow: auto;
  &-no-data {
    padding: 10px 20px;
  }
  :global {
    .c7n-timeline-item-tail {
      border-left: 0.01rem dashed #e8e8e8;
      left: 0.27rem;
      top: 0.22rem;
    }
    // .c7n-timeline-item:not(:last-child) .c7n-timeline-item-content {
    //   border-bottom: 1px solid rgba(0,0,0,0.08);
    // }
    .c7n-timeline-item:hover {
      background: rgba(0,0,0,0.04);
    }
  }
}

.list-item {
  color: rgba(0,0,0,0.45);
  line-height: 18px;
  cursor: pointer;
  padding-left: 20px !important;
  padding-bottom: 12px!important;
  .list-item-border {
    height: 1px;
    margin-top: 10px;
    background: rgba(0,0,0,0.04);
    visibility: visible;
  }
  &-active,
  &:hover {
    background: rgba(0,0,0,0.04);
    .list-item-border {
      visibility: hidden;
      // height: 0 !important;
    }
  }
  &-error {
    color: #F56349;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  :global {
    .download-file i.icon {
      color: #29BECE;
    }
    .c7n-timeline-item-head {
      left: 0.275rem;
      top: 0.2rem;
      background: transparent;
    }
    .c7n-timeline-item-content {
      top: 12px;
      margin-left: 24px;
      padding-left: 0;
      margin-right: 20px;

      & > div i.icon {
        font-size: 16px;
      }
      & > div:not(:nth-last-child(-n+2)) {
        margin-bottom: 4px;
      }
    }
  }
}
.content-wrapper {
  height: 100%;
  padding: 16px 20px;
  overflow: hidden auto;
}

.card {
  margin-bottom: 8px;
  &-header {
    padding: 12px 0;
  }
  &-title {
    font-weight: 700;
    border-left: 3px solid #29bece;
    text-indent: 8px;
    font-size: 14px;
    display: inline-block;
    line-height: 14px;
  }
  &-desc {
    font-size: 12px;
    margin-left: 16px;
    & > span {
      display: inline-flex;
      align-items: center;
      margin-right: 8px;
      .list-item-icon {
        margin-right: 4px;

      }
    }
  }
}

.card-content {
  :global {
    .c7n-pro-table-cell-inner {
      height: fit-content !important;
      &:before {
        display: none;
      }
    }
  }
}

.field-info {
  line-height: 20px;
  :global {
    .c7n-tag {
      border: none;
      height: 20px;
      // 本应当是20px，但因为使用的字体有问题，22才居中
      line-height: 22px;
    }
    .field-name {
      font-weight: 400;
      color: #000;
    }
  }
  & > div {
    &:first-child {
      color: rgb(102, 102, 102);
      font-weight: 600;
      display: flex;
      align-items: center;
    }
    &:last-child {
      color: rgba(0,0,0,0.45);
    }
  }
}

.unit-info {
  line-height: 20px;
}

.list-table {
  :global {
    .c7n-pro-table-tbody .c7n-pro-table-cell-inner {
      padding: 0;
      // overflow: visible;
      &:before {
        display: none;
      }
    }
  }
}

.import-result-title {
  margin-bottom: 12px;
  & > span {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    .list-item-icon {
      margin-right: 4px;
    }
  }
}


.importing-notice, .import-success-notice, .import-error-notice{
  :global {
    .c7n-notification-notice-icon {
      line-height: 0.2rem;
      margin-left: 0;
      i {
        font-size: 0.2rem;
        &.icon-download_for_offline {
          color: #505776;
        }
        &.icon-mood {
          color: #00bc7c;
        }
        &.icon-mood_bad {
          color: #ff563c;
        }
      }
    }
    .c7n-notification-notice {
      padding: 0.16rem;
    }
    .c7n-notification-notice-message {
      font-size: 14px;
      font-weight: 600;
      line-height: 26px;
      margin-left: 0.3rem;
    }
    .c7n-notification-notice-description {
      color: rgba(0,0,0,0.85);
      line-height: 18px;
      font-weight: 400;
      margin-left: 0;
      & >span {
        display: inline-block;
        line-height: 18px;
        color: rgba(0,0,0,0.85);
      }
    }
    .c7n-notification-notice-close {
      display: none;
    }
  }
}

.total-number {
  margin: 0 4px;
  font-weight: 500;
  color: #000;
}

.success-number {
  color: #47B881;
  line-height: 18px;
  margin: 0 4px;
  font-weight: 500;
}

.warn-number {
  color: #FCA000;
  line-height: 18px;
  margin: 0 4px;
  font-weight: 500;
}

.error-number {
  color: #F56349;
  line-height: 18px;
  font-weight: 500;
  margin: 0 4px;
}

.list-table {
  margin-top: 10px;
}

.list-item-icon {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  :global {
    i.icon {
      margin-top: -1px;
      margin-right: 4px;
    }
  }
}

.detail-tabs {
  height: calc(100% + 16px);
  display: flex;
  flex-direction: column;
  // overflow-y: auto !important;
  :global {
    .c7n-tabs-bar {
      margin-bottom: 0;
    }
  }
}

.search-bar-tab {
  display: flex;
}

.search-bar-list {
  overflow: auto;
  width: 200px;
  padding-top: 16px;
  &-title {
    font-size: 14px;
    color: #000000;
    line-height: 22px;
    margin-bottom: 8px;
    font-weight: 600;
  }
}

.search-bar-divide {
  height: calc(100% + 20px);
  border-right: 0.01rem solid #e8e8e8; 
}

.search-bar-list-item {
  line-height: 20px;
  padding: 6px 0;
  cursor: pointer;
  &-active, &:hover {
    background: rgba(68,73,81,0.05);
  }
  img {
    margin-right: 8px;
  }
  &-error {
    color: #F56349;
    margin-left: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.search-bar-detail {
  flex: 1;
  padding: 0 10px 10px;
}

.file-download-icon {
  margin-left: 8px;
  &:hover {
    color: @primary-color;
  }
}

.tabs-title {
  border-bottom: 0.01rem solid #e8e8e8;
  &>span {
    display: inline-block;
    padding: 0 0 12px;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    margin: 0 0.32rem 0 0;
    &:hover {
      color: @hzero-primary-color-2-hover;
    }
  }
 
  &-active {
    color: @primary-color !important;
    font-weight: 500;
    border-bottom: 0.02rem @primary-color solid;
  }
}

.history-detail {
  height: 100%;
  overflow: auto;
  :global {
    td > .c7n-pro-table-cell-inner {
      line-height: 20px!important;
    }
  }
}

.history-detail-title {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  margin-bottom: 16px;
}