.order-workspace-attachment {
  display: flex;
}

.order-workspace-attachment-content {
  width: 50%;
}

.order-workspace-attachmentInfo-divider {
  :global {
    width: 0;
    margin: 0 16px;
    border-right: 1px dashed rgba(0, 0, 0, 0.16);
  }
}
