.supplier-company-list-basic {
  background-color: #fff;
  padding: 16px;
  border: 1px solid rgba(229, 231, 236, 1);
}

.tag-enabled-status {
  background: rgba(71, 184, 131, 0.15);
  border-radius: 2px;
  color: #179454;
  text-align: justify;
  line-height: 18px;
  font-weight: 500;
  padding: 1px 4px;
}

.tag-disEnabled-status {
  background: rgba(242, 128, 26, 0.15);
  border-radius: 2px;
  color: #f06200;
  line-height: 18px;
  font-weight: 500;
  padding: 1px 4px;
}

.tag-expired-status {
  background: #e5e7ec;
  border-radius: 2px;
  color: #4e5769;
  line-height: 18px;
  font-weight: 500;
  padding: 1px 4px;
}

.tag-pending-status {
  background: rgba(10, 125, 245, 0.15);
  border-radius: 2px;
  color: #0161d5;
  line-height: 18px;
  font-weight: 500;
  padding: 1px 4px;
}
