.titleRight {
  font-size: 14px;
  margin-top: 5px;
}

.collapseAll {
  border: none;
  background-color: #fff;
  :global {
    .ant-collapse-content-active {
      border: none;
    }
    .ant-collapse-no-arrow {
      border: none;
    }
    .ant-tag {
      height: 24px;
      border-radius: 2px;
      border: hidden;
      line-height: 24px;
      text-align: center;
      margin-right: 8px;
    }

    .ant-collapse-header {
      margin-bottom: -10px;
    }
  }
}

.m-r-m {
  line-height: 2;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 2px;
  height: 28px;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: #333;
  background-color: #fff;
  border-color: #d9d9d9;
}

.m-r-m > a {
  color: #333;
}

.pagination {
  margin: 16px 0;
  float: right;
  z-index: 3;
}

.fillCounterBtn {
  position: absolute;
  top: 19px;
  right: 0;
}
