.sinvRemark {
  :global {
    .ant-form-explain {
      margin-top: 2px;
    }
  }
}

.collapse-title {
  :global {
    border: none;
    background-color: #fff;
    .c7n-collapse-item {
      border-bottom: none;
      background-color: rgba(0, 0, 0, 0.04);
      margin-bottom: 16px;
    }
    .c7n-collapse-content {
      border-top: none;
    }
  }
}

.loading-mark {
  :global {
    .c7n-pro-modal-header {
      display: none;
    }
    .c7n-pro-modal-footer {
      display: none;
    }
    .c7n-pro-modal-content {
      // 背景透明 不会影响子元素
      background: rgba(0, 0, 0, 0);
      // 边框阴影
      box-shadow: 0 0;
    }
    .c7n-pro-modal-body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
