@import '~hzero-front/lib/srm-variables';

.work-flow-right-update-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.06);
  font-size: 12px;
  font-weight: 400;
  padding: 2px;
  :global {
    div {
      height: 28px;
      line-height: 28px;
      padding: 0 8px 0;
      color: rgba(0, 0, 0, 0.45);
      cursor: pointer;
    }
  }
  .active {
    color: rgba(0, 0, 0, 0.8);
    background: #fff;
    border-radius: 2px;
    font-weight: 600;
  }
}

.workflow {
  background: #f4f5f7;
  padding: 8px;

  .workflow-alert-banner {
    :global {
      .c7n-alert-message {
        font-size: 12px;
        color: #1983f5;
        line-height: 22px;
        font-weight: 400;
      }
      .c7n-alert-close-icon {
        .icon-close {
          color: #1983f5;
        }
      }
    }
  }

  .workflow-extra {
    :global {
      .af-basic-container {
        margin: 0;
      }
      // .af-basic-bottom-remain-area {
      //   margin: 0;
      //   button {
      //     color: @text-1;
      //   }
      // }
      .af-basic-container {
        // margin: 0 8px 4px 8px;
        margin-bottom: 4px;
      }
      .af-basic-bottom-remain-area {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        .c7n-pro-btn-wrapper.c7n-pro-btn-flat {
          color: @text-1;
        }
      }
    }
  }

  .workflow-wrap {
    background: #f4f5f7;
    :global {
      // 表单样式
      .c7n-pro-field-label-vertical.c7n-pro-field-label.c7n-pro-field-label-useColon {
        padding: 0;
        line-height: 1.5;
        // margin-bottom: 4px;
        // margin-top: 16px;
      }
      .c7n-pro-form:not(.c7n-pro-form-float-label) .c7n-pro-field-wrapper {
        padding: 4px 0 16px 0;
      }
      .c7n-pro-form:not(.c7n-pro-form-float-label) .c7n-pro-field-wrapper span {
        line-height: 1.5;
      }

      .page-content {
        margin: 0;
        padding: 0;
        background: #f4f5f7;
        .top-section-title {
          display: none;
        }
        .card-wrap {
          padding: 20px 20px 0;
          margin: 8px 0 0;
          background: #fff;
          :global {
            .c7n-tabs-content {
              .c7n-tabs-tabpane {
                padding: 0;
              }
            }
          }
          // 卡片标题
          .card-detail-title {
            font-size: 16px;
            color: #1d2129;
            font-weight: 600;
            .card-detail-checkbox {
              float: right;
              font-size: 12px;
              color: #1d2129;
              font-weight: 400;
            }
          }
          .card-detail-title-tips {
            display: block;
            font-size: 12px;
            font-weight: 400;
            // color: #868D9C;
            color: rgba(0, 0, 0, 0.45);
          }
          .card-remark {
            padding-bottom: 16px;
            .c7n-pro-field-label.c7n-pro-field-label-vertical {
              font-size: 14px;
              color: #868d9c;
              font-weight: 400;
              margin-bottom: 4px;
            }
            .c7n-pro-output-wrapper.c7n-pro-field.c7n-pro-output {
              font-size: 14px;
              color: #1d2129;
              font-weight: 600;
            }
          }
          .enterprise-title {
            margin: 0 -16px;
            border-bottom: 1px solid #e5e7ec;
            div {
              padding: 0 16px 16px;
            }
          }
          .enterprise-title-no-border {
            margin: 0 -16px;
            div {
              padding: 0 16px 16px;
            }
          }
        }
      }
      .c7n-tabs.c7n-tabs-left {
        .c7n-tabs-bar {
          padding: 20px 0;
          min-width: 180px;
          max-width: 220px;
          .c7n-tabs-bar-inner {
            .c7n-tabs-tab {
              text-align: left;
              padding-left: 0;
            }
          }
          .c7n-tabs-tab,
          .c7n-tabs-tab > div {
            text-align: left;
            padding: 0 24px 0 0 !important; // 覆盖调查表样式
          }
        }
        .c7n-tabs-content {
          padding: 20px 0 20px 20px;
          .tab-pane-content-title {
            font-size: 16px;
            color: #1d2129;
            font-weight: 600;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
