@import '~hzero-front/lib/srm-variables.less';

.card-sub-title {
  display: flex;
  align-items: center;
  margin: 32px 0 16px;
  font-weight: 600;

  &:first-of-type {
    margin-top: 16px;
  }

  .card-sub-title-line {
    display: inline-block;
    margin-right: 8px;
    height: 12px;
    border-left: 3px solid @primary-color;
  }
}
