.rowStyle {
  background: rgba(240, 84, 52, 0.1);
  :global {
    .c7n-pro-table-cell {
      background: rgba(240, 84, 52, 0.1);
    }
  }
}
.rowStyle:hover {
  background: rgba(240, 84, 52, 0.2);
  :global {
    .c7n-pro-table-cell {
      background: rgba(240, 84, 52, 0.2);
    }
  }
}
