.monitor-business-basic {
	overflow: hidden;
	:global {
		.c7n-pro-table-search-bar-merge-field .c7n-pro-input-prefix {
			left: 8px;
			top: 0;
		}
	}
}

.status-disabled {
	padding: 2px 4px;
	border-radius: 2px;
	line-height: 18px;
	color: #4e5769;
	font-weight: 500;
	background-color: #e5e7ec;
}

.status-enabled {
	padding: 2px 4px;
	border-radius: 2px;
	line-height: 18px;
	color: #179454;
	font-weight: 500;
	background: rgba(71, 184, 131, .15);
}

.monitor-business-content {
	margin: 8px;
	padding: 20px;
	height: calc(100vh - 148px);
	background: #fff;
}

.monitor-business-tag-basic {
	border-radius: 2px;
	padding: 2px 3px;
	font-weight: 500;
}

.monitor-business-tag-1 {
	background: #f25535;
	color: #fff;
}

.monitor-business-tag-2 {
	background: rgba(242, 85, 53, .15);
	color: #f25535;
}

.monitor-business-tag-3 {
	background: rgba(242, 128, 26, .15);
	color: #f46c0e;
}

.monitor-business-tag-4 {
	background: rgba(71, 184, 131, .15);
	color: #3ab545;
}

.monitor-business-tag-5 {
	background: rgba(48, 125, 57, .15);
	color: #307d39;
}

.table-box {
	height: calc(100vh - 48px - 35px - 48px - 32px - 72px - 8px - 16px - 8px);
}
