// 推荐物料品类行按钮
.supply-ability-detail-btn {
  font-size: 12px;
  text-align: left;
}
// 推荐物料品类行按钮
.supply-ability-detail-menu-btn {
  font-weight: 400;
}

// 批量编辑物料品类侧弹窗alert
.batch-change-supply-ability-alert {
  background: rgba(48, 149, 242, 0.1);
  border-radius: 2px;
  :global {
    .c7n-alert-icon {
      width: 13.33px;
      height: 13.33px;
      top: 10px;
    }
    .c7n-alert-content {
      font-size: 12px;
      color: #3095f2;
      text-align: justify;
      line-height: 22px;
      font-weight: 400;
    }
    .c7n-alert-close-wrapper {
      display: flex;
      align-items: flex-start;
      .icon-close {
        color: #3095f2;
      }
    }
  }
}

// 批量编辑物料品类侧弹窗 form
.batch-change-supply-ability-form {
  padding: 16px 20px 0;
  margin: 0 !important;
  :global {
    .c7n-pro-field-wrapper {
      padding: 0 !important;
    }
  }
}
