.content-table-title-box {
  :global {
    .af-extra-container {
      background: #f7f8fa;
      margin: 16px 0;
    }
    .af-extra-container .af-extra-field,
    .af-extra-container .af-extra-fields {
      background: #f7f8fa;
      margin: 16px;
      border-right: 1px solid #e5e7ec;
      padding: 0;
      height: 42px;
    }
    .af-extra-field:last-child {
      border-right: 0;
    }
    .af-extra-container .af-extra-field-value,
    .af-extra-container .af-extra-fields-value {
      font-size: 16px;
      font-weight: 600;
      color: #1d2129;
    }
  }
}
