@import '~hzero-front/lib/srm-variables.less';

.content-draw {
  :global {
    .content-title-1 {
      font-size: 14px;
      font-weight: 500;
      position: relative;
      padding-left: 11px;
      margin-bottom: 16px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 3px;
        height: 12px;
        background-color: @primary-color;
      }
    }
    .content-title-2 {
      font-size: 14px;
      font-weight: 500;
      position: relative;
      padding-left: 11px;
      margin-bottom: 16px;
      margin-top: 32px;
      display: inline-block;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 3px;
        height: 12px;
        background-color: @primary-color;
      }
    }
    .content-title-3 {
      font-size: 14px;
      font-weight: 500;
      position: relative;
      padding-left: 11px;
      margin-bottom: 16px;
      margin-top: 32px;
      display: inline-block;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 3px;
        height: 12px;
        background-color: @primary-color;
      }
    }
    .content-title-4 {
      font-size: 14px;
      font-weight: 500;
      position: relative;
      padding-left: 11px;
      margin-bottom: 16px;
      margin-top: 32px;
      display: inline-block;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 3px;
        height: 12px;
        background-color: @primary-color;
      }
    }
  }
}
