@import '~hzero-front/lib/srm-variables.less';

.waning-help {
  color: @blue-6;
  background-color: @blue-1;
  position: relative;
  top: -20px;
  margin: 0 -20px;
  border: none;
  :global {
    .icon {
      font-size: 16px !important;
      // line-height: 22px;
    }
  }
}