@import '~@/lowcodeGlobalColor.less';
.row-10 {
  display: flex;
  align-items: center;
  // justify-content: space-between;

  :global {
    .c7n-col-6 {
      text-align: right;
    }
  }
}

.field-list-table {
  table {
    tbody {
      .business-object-field {
        color: @HzeroGreen;
        cursor: pointer;
      }
    }
  }
}

.field-info-panel {
  :global {
    .c7n-pro-form {
      .c7n-pro-field-label-vertical + .c7n-pro-field-wrapper {
        padding-bottom: 0;
      }
    }
    .c7n-collapse-item {
      border-bottom: none;
      .c7n-collapse-expand-icon-wrapper .icon {
        transform: rotate(-180deg) !important;
        height: 0.16rem;
      }
      &.c7n-collapse-item-active .c7n-collapse-expand-icon-wrapper .icon {
        transform: rotate(0deg) !important;
        height: 0.22rem;
      }
    }

    .c7n-collapse-header {
      font-size: 14px;
      font-weight: 600;
      padding: 0 0.2rem 0.12rem !important;
      .c7n-collapse-expand-icon-wrapper {
        margin-left: 0;
      }
    }
    .c7n-collapse-content {
      padding: 0 0.2rem;
    }
    .c7n-collapse-item > .c7n-collapse-content > .c7n-collapse-content-box {
      padding-top: 0;
      padding-bottom: 0.32rem;
    }
    .c7n-pro-vertical-form-display .c7n-pro-field-label {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
