.modal-up {
  overflow: hidden;
  width: 100%;
  height: 100%;
  .modal-up-left {
    width: 14.67%;
    height: calc(100vh - 110px);
    float: left;
    // padding: 16px;
    padding: 16px 0;
    border-right: 1px solid #e0e0e0;
    .aLine {
      padding-left: 20px;
      text-align: left;
      line-height: 34px;
      display: block;
      // width: 160px;
      height: 34px;
      font-size: 14px;
      color: #000;
      font-weight: 400;
    }
    .aLineChecked {
      color: #29bece;
      border-right: 2px solid #29bece;
      font-weight: 600;
    }
    .aLine:hover {
      padding-right: 0;
      // background: rgba(0, 0, 0, 0.05);
      color: #29bece !important;
    }
    .aLine:active {
      padding-right: 0;
      // background: rgba(0, 0, 0, 0.05);
      color: #29bece !important;
    }

    .aLine:not(:first-child) {
      margin-top: 16px;
    }
  }
  .modal-up-right {
    width: 85%;
    height: calc(100vh - 110px);
    float: left;
    padding: 20px;
  }
}
