.operation-record-transfer {
  :global {
    .c7n-pro-btn + .c7n-pro-btn:not(.c7n-pro-btn-block) {
      margin-left: 0;
    }

    .c7n-pro-transfer-body-with-search {
      padding: 20px;
    }

    .c7n-pro-transfer-body-search-wrapper {
      position: unset;
      padding: 0;
      input {
        width: 278px;
      }
    }

    .c7n-pro-transfer-content {
      height: 90%;
    }

    .c7n-pro-transfer-content-wrapper {
      margin-top: 12px;
    }

    .c7n-pro-transfer-content-item {
      padding: 8px 0;
      margin: 1px 0;
    }

    .c7n-pro-transfer-content-item-selected {
      background-color: unset;
      color: unset;
    }

    .c7n-pro-transfer-operation {
      button {
        width: 32px;
        height: 32px;
      }
    }

    .c7n-pro-transfer-operation .c7n-pro-btn,
    .c7n-pro-transfer-sort .c7n-pro-btn {
      height: 0.36rem;
    }
  }
}
