@import '~srm-front-boot/lib/utils/style/basic.less';

.smbl-lum-scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
    background-color: #e4e4e5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #c0bebc;
  }
}

.smbl-talk-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #c0bebc;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #c0bebc;
    }
  }
}
