.supplier-model-property {
  :global {
    .c7n-pro-table-cell-inner,
    .c7n-pro-table-cell-inner-bordered {
      border: none;
      .c7n-pro-input-wrapper {
        vertical-align: top;
        .c7n-pro-input {
          height: 28px;
        }
      }
    }
  }
}
