.form-info {
  // width: 75%;
  :global {
    .c7n-pro-field-wrapper {
      // margin-right: 16px !important;
      .c7n-pro-input-group-before {
        width: 35% !important;
        padding: 0 !important;
        border: none !important;
      }
    }
  }
}
