.custom-tree-container {
  :global {
    .custom-tree-form {
      width: 360px;
      height: 40px;
      // padding-left: 24px;
      margin-bottom: 15px;
      margin-left: -4px;
      display: flex;
      align-items: center;
      .c7n-pro-input-prefix,
      .c7n-pro-input-suffix {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
      }

      .c7n-pro-input-suffix {
        width: auto;
        min-width: 0.24rem;
        padding-right: 4px;
      }

      .custom-tree-arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .has-pointer {
          cursor: pointer;
          &:focus {
            background: #eee;
          }
        }
        .arrow-disible {
          color: #eee;
        }
      }
    }
    .c7n-tree-list {
      .c7n-tree-list-holder {
        height: calc(100vh - 1.68rem - 56px);
        overflow-y: auto;
      }
    }
    .c7n-tree-title {
      word-break: break-all;
    }
    .primary-color {
      color: @primary-color;
    }
  }
}
