@import '~hzero-front/lib/srm-variables';

.ssta-permission-dropdown-wrapper {
  height: 100%;
  :global {
    .ssta-permission-dropdown-more {
      font-size: 12px;

      &-icon {
        font-size: 14px;
        margin-left: 4px;
      }
    }

    .c7n-pro-btn + .c7n-pro-btn:not(.c7n-pro-btn-block) {
      margin-left: 16px;
    }
  }
}

.ssta-permission-dropdown-menu {
  :global {
    .c7n-menu-item {
      .c7n-pro-btn-primary.c7n-pro-btn-link {
        color: @text-1;
      }
    }
  }
}
