@import '~hzero-front/lib/srm-variables';

.create-risk-modal-basic {
  :global {
    .c7n-pro-textarea-wrapper {
      margin-bottom: 0 !important;
    }

    .c7n-pro-select-dropdown-menu-item {
      // line-height: 32px;
    }
  }
}

.risk-type-option-tag {
  padding: 2px 5px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 2px;
  color: #4e5769;
  background-color: #e5e7ec;
}

.risk-type-option-tag-org {
  padding: 2px 5px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 2px;
  color: #0161d5;
  background-color: rgba(10, 125, 245, 0.15);
}
