.overflow-point {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label-manage-container {
  :global {
    .c7n-pro-select-clear-button {
      display: none;
    }
    .product-label-manage-table-search {
      .c7n-pro-form-wrapper colgroup col:nth-child(3) {
        width: 1.12rem !important;
      }
    }
    .product-label-manege-sku-container {
      .sku-info {
        width: 100%;
        display: flex;
        .sku-img {
          display: block;
          width: 40px;
          height: 40px;
          margin-right: 8px;
          margin-top: 6px;
        }
        .sku-content {
          flex: 1;
          overflow: hidden;
        }
      }
    }
  }
  .info-list {
    width: 100%;
    p {
      margin: 0;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 20px;
    }
  }
  .info-item {
    width: 100%;
    .overflow-point;
  }
}
.label-manage-modal {
  .model-title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 22px;
  }
  .model-title-tip {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 18px;
  }
}
