.condition-wrap {
  color: #868d9c;
  line-height: 18px;
  margin-bottom: 16px;
  .condition-title {
    margin-bottom: 4px;
  }
  .condition-content {
    color: #1d2129;
    line-height: 18px;
    &-item {
      margin-bottom: 8px;
    }
  }
}
