.btn-toogle-group {
  display: inline-block;
  background-color: #f2f3f5;
  padding: 1px;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
}

.btn-common {
  display: inline-block;
  border-radius: 2px;
  background: #f2f3f5;
  color: #4e5769;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  padding: 3px 8px;
  cursor: pointer;
}

.btn-active {
  background: #fff;
  color: #1d2129;
}
