.detail-wrap {
  :global {
    .page-content {
      padding: 0;
      background-color: rgb(244, 245, 247);
    }
  }
  .card-wrap {
    padding: 20px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    background: #fff;
    .card-title {
      font-size: 16px;
      color: #1d2129;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }
}
