.tag-content {
  border: none;
  height: 0.18rem;
  line-height: 0.18rem;
  font-size: 12px;
  font-weight: 600;
  cursor: default;
  margin: 0;
}
.validator {
  margin-bottom: 0.08rem;
  > p {
    margin-bottom: 0;
  }
  .icon {
    font-size: 0.14rem;
    margin-right: 0.04rem;
    margin-top: -0.02rem;
  }
}
.validator:last-of-type {
  margin-bottom: 0;
}
