.row-agent-column {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  img {
    height: 16px;
    width: 12px;
    min-width: 12px;
    margin-right: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.remark-box {
  width: 30%;
  height: 100px;
  float: left;
  // line-height: 60px;
  text-align: center;
}

.textarea-box {
  width: 65%;
  height: 70px;
  float: left;
  // line-height: 70px;
  // text-align: center;
  .text-area {
    width: 100%;
    height: 60px;
    margin-bottom: 3px;
    overflow: hidden;
  }
}

.btn-box {
  width: 100%;
  height: 20px;
  border-top: 1px solid #aaa;
  padding-top: 8px;
  .btn-ok {
    margin-left: 2%;
  }
  .btn-no {
    margin-left: 10%;
  }
}

.rate-box {
  width: 100%;
  height: 50px;
}

.rate-box-left {
  width: 30%;
  height: 50px;
  float: left;
  line-height: 50px;
  text-align: center;
}

.rate-box-right {
  width: 70%;
  height: 70px;
  float: left;
  line-height: 50px;
  text-align: 20%;
  .rate-box {
    text-align: left;
  }
}

.tooltip-adjust {
  margin-top: 5px;
  margin-left: 10px;
}