.badge-item {
  :global {
    .ant-badge-count {
      height: 14px;
      line-height: 14px;
      border-radius: 10px;
      padding: 0 2px 0 2px;
      min-width: 14px;
    }
  }
}

.process-mange {
  flex: 1;
  :global {
    .ant-spin-nested-loading {
      height: 100%;
    }
    .ant-spin-container {
      height: calc(100% - 8px);
    }
    .page-content-wrap {
      height: 100%;
      overflow: hidden !important;
    }
    .page-content {
      height: 100% !important;
      overflow: hidden;
      margin: 8px;
    }
  }
}
