.full-modal-wrapper {
  :global {
    .ant-modal {
      top: 0;
    }

    .ant-modal-body {
      padding: 0 !important;
    }

    .ant-modal-header {
      overflow: hidden;
      padding: 5px 20px;
    }
  }
}
