.c7n-search-bar-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.c7n-search-bar-content-wrapper {
  overflow-y: auto;
  max-height: calc(100% - 45px);
}

.c7n-search-bar-content {
  width: 100%;
  height: 100%;
}

.c7n-search-bar-empty {
  flex: 1;
}

.c7n-search-bar-list-pagination {
  margin-top: 12px;
  text-align: right;
}

.c7n-search-bar-item {
  width: 100%;
  padding-bottom: 8px;
  &:last-of-type {
    padding-bottom: 0;
  }
}
