.sheet-icon {
  // display: inline-block;
  min-width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-left: 4px;
  // margin-top: 12px;
  // background: #e7e8ea;
  &:hover,
  &-focus {
    background: #e7e8ea;
    border-radius: 2px;
  }
}
.sheet-icon-revoke {
  background: url('../../../../../../../../assets/sheet/revoke.svg') no-repeat;
}
.sheet-icon-recovery {
  background: url('../../../../../../../../assets/sheet/recovery.svg') no-repeat;
}
.sheet-icon-formatBrush {
  background: url('../../../../../../../../assets/sheet/formatBrush.svg') no-repeat;
}
.sheet-icon-clearFormat {
  background: url('../../../../../../../../assets/sheet/clearFormat.svg') no-repeat;
}
.sheet-icon-fontBold {
  background: url('../../../../../../../../assets/sheet/fontBold.svg') no-repeat;
}
.sheet-icon-italic {
  background: url('../../../../../../../../assets/sheet/italic.svg') no-repeat;
}
.sheet-icon-underLine {
  background: url('../../../../../../../../assets/sheet/underLine.svg') no-repeat;
}
.sheet-icon-deleteLine {
  background: url('../../../../../../../../assets/sheet/deleteLine.svg') no-repeat;
}
.sheet-icon-alignLeft {
  background: url('../../../../../../../../assets/sheet/alignLeft.svg') no-repeat;
}
.sheet-icon-alignCenter {
  background: url('../../../../../../../../assets/sheet/alignCenter.svg') no-repeat;
}
.sheet-icon-alignRight {
  background: url('../../../../../../../../assets/sheet/alignRight.svg') no-repeat;
}
.sheet-icon-wordWrap {
  background: url('../../../../../../../../assets/sheet/wordWrap.svg') no-repeat;
}
.sheet-icon-cellMerge {
  background: url('../../../../../../../../assets/sheet/cellMerge.svg') no-repeat;
}
.sheet-icon-disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
