.move-unit {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.slide {
  position: fixed;
  display: block;
  width: 6px;
  margin-left: -2px;
  background-color: transparent;
  height: 100%;
  z-index: 200;
  cursor: col-resize;
}

.slide-solid {
  height: 100vh;
  position: fixed;
  display: block;
}

.slide-dotted {
  position: fixed;
  top: 0;
  display: block;
  width: 10px;
  //margin-left: -5px;
  border-left: 1px dotted #9e9e9e;
  height: 100%;
  z-index: 300;
  cursor: col-resize;
}
