.label-contain {
  > span {
    display: inline-block;
    margin-right: 10px;
    white-space: break-spaces;
    font-size: 12px;
    color: #465476;
    i {
      color: #7c859b;
      margin: 0 0 4px 4px;
    }
  }
}
