.card-search-bar {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;

  .card-search-lov {
    margin-left: 20px;
    display: inline-block;
    line-height: 32px;
  }

  .card-content-sort {
    position: absolute;
    right: 15px;
    top: 16px;
    font-weight: 400;
  }
}
