.select-render-item {
  width: 50%;
  .select-render-item-txt {
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
    background: #f2f2f4;
    color: #010000;
  }
  .select-render-item-grey {
    font-weight: 500;
    background: #e8e8eb;
    color: #6a6a6d;
  }
  .select-render-item-orange {
    background: #fc8800;
    color: #fff;
  }
  .select-render-item-plain {
    background: #f56349;
    color: #f3f2f4;
  }
}
