.edit-list-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid rgb(229, 231, 236);
}
.list-item-title {
  font-size: 14px;
  color: #101319;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 4px;
}
.list-item-description {
  font-size: 12px;
  color: #868d9c;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
}

.list-item-right {
  flex: 1;
  text-align: right;
}
