@import '~hzero-front/lib/assets/styles/variables.less';
@import '~srm-front-boot/lib/utils/style/basic.less';

.tag {
  display: inline-block;
  padding: 0 5px;
  height: 18px;
  line-height: 18px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 2px;
  border: none;
}

.tag-success {
  color: rgb(71, 184, 129);
  background: rgba(71, 184, 129, 0.1);
}

.tag-waitting {
  color: rgb(248, 141, 16);
  background: rgba(252, 160, 0, 0.1);
}

.tag-failed {
  color: rgba(0, 0, 0, 0.85);
  background: rgba(0, 0, 0, 0.08);
  // font-weight: 700;
}

.tag-error {
  color: rgb(245, 102, 73);
  background-color: rgb(255, 238, 235);
}
