.operation-timeline{
  padding-bottom: 12px;
  :global {
    .timeline-container{
      display: flex;
      .timeline-icon .icon{
        top: 0;
        font-size: 14px;
        margin-right: 12px;
        margin-left: 6px;
        position: relative;
      }
      .timeline-desc{
        position: relative;
        top: 1;
      }
    }
    .timeline-footer{
      margin: 8px 0 0px 32px;
      padding-bottom: 12px;
      border-bottom: 1px solid #EBEBEB;
      color: rgba(0,0,0,0.45);
    }
  }
}
.timeline-no-data {
  position: relative;
  top: 120px;
  text-align: center;
}