.compare-wrapper {
  display: flex;
  width: 100%;

  .compare-divide {
    background-color: #f4f5f7;
    width: 8px;
    flex-shrink: 0;
  }

  .compare-half {
    width: 50%;
    min-width: 50%;
    overflow: scroll;
    background-color: #fff;
    margin-top: 8px;
  }
}

.compare-current {
  font-size: 14px;
  border-bottom: 1px solid #f4f5f7;
  height: 60px;
  line-height: 80px;
  margin-left: 10px;

  .compare-green {
    color: green;
  }

  .compare-num {
    margin-left: 10px;
    color: green;
  }
}

.compare-history {
  font-size: 14px;
  border-bottom: 1px solid #f4f5f7;
  height: 60px;
  line-height: 80px;
  margin-left: 10px;
  color: red;
}
