.invite-certification-detail {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 0 16px;
  padding: 0;
  :global {
    .page-content-wrap {
      .page-content {
        margin-bottom: 0;
        .c7n-card-body {
          padding: 0;
          & > div:first-child {
            font-size: 16px;
            color: #000;
            line-height: 24px;
            margin-bottom: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
