.right-column {
  :global {
    a:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.expand-icon {
  :global {
    height: 16px;
    width: 16px;
    font-size: 16px;
    cursor: pointer;
    &-loading {
      cursor: none;
    }
  }
}

// .referencing-modal {
//   :global {
//     .c7n-pro-modal-body {
//       max-height: 500px !important;
//       width: 1000px,
//     }
//   }
// }
