.supplier-performance-content {
  display: flex;
  overflow: hidden;
  .tabs-wrap {
    overflow: hidden !important;
    display: flex;
    flex: 1;
    flex-direction: column;
    .c7n-tabs-content {
      flex: 1;
      .c7n-tabs-tabpane {
        overflow: hidden;
      }
    }
  }
}

.table-link-btn {
  cursor: pointer;
  color: @primary-color;
}

.tag-high {
  background: #e64322;
  padding: 2px 4px;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
}

.tag-middle {
  background: #f06200;
  padding: 2px 4px;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
}

.tag-low {
  background: #179454;
  padding: 2px 4px;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
}
