@import '~hzero-front/lib/srm-variables.less';

@red-color: #f56349;

.score-element-header {
  font-size: 12px;
  font-weight: 900;
  margin-top: 20px;

  h3 {
    font-weight: 600;
  }
  .card-sub-title-line {
    display: inline-block;
    margin-right: 8px;
    height: 12px;
    border-left: 3px solid @primary-color;
  }

  .score-title {
    display: flex;
  }

  .tech-input {
    margin-left: 8px;
    font-weight: 400;
    display: flex;

    :global {
      .c7n-pro-output-wrapper {
        line-height: 1.5;
      }

      .c7n-pro-btn-wrapper {
        margin-top: -3px;
      }
    }
  }
}

.score-element-table {
  // .diff-render-component {
  //   font-size: 0;
  // }

  :global {
    // .c7n-pro-table-thead  tr:nth-child(2){
    //   display: none;
    // }

    // .c7n-pro-table-cell-inner{
    //   height: 0.28rem !important;
    //   line-height: 0.26rem !important;
    // }
    // .c7n-pro-table-cell-inner-bordered {
    //   height: auto !important;
    //   // border: none;
    // }

    // .c7n-pro-select-wrapper {
    //   font-size: 12px;
    // }

    // .c7n-pro-input-wrapper {
    //   font-size: 12px;
    // }

    // .c7n-pro-select {
    //   height: 0.28rem !important;
    // }

    // .c7n-pro-input {
    //   height: 0.28rem !important;
    // }

    // .c7n-pro-form-wrapper {
    //   height: 0.28rem !important;
    // }
  }
}

.diffContainer {
  :global {
    .c7n-pro-input-number-wrapper,
    .c7n-pro-calendar-picker-wrapper {
      width: 100%;
    }

    .c7n-pro-select-group-help {
      color: rgba(0, 0, 0);
    }
    .c7n-pro-attachment-list-wrapper .c7n-pro-attachment-header {
      align-items: baseline;
    }
  }
  .redColor {
    color: @red-color;

    input {
      color: @red-color;
    }

    :global {
      // override c7n pro textarea color #000
      .c7n-pro-textarea-wrapper.c7n-pro-textarea-float-label.c7n-pro-textarea-border {
        .c7n-pro-textarea {
          color: @red-color;
        }
      }
      .c7n-pro-btn-wrapper.c7n-pro-attachment.c7n-pro-btn.c7n-pro-btn-link.c7n-pro-btn-primary {
        color: @red-color;
      }
    }
  }
}

.inquiryScope-table {
  // .diff-render-component {
  //   font-size: 0;
  // }

  :global {
    // .c7n-pro-table-thead  tr:nth-child(2){
    //   display: none;
    // }

    // .c7n-pro-table-cell-inner{
    //   height: 0.28rem !important;
    //   line-height: 0.26rem !important;
    // }
    // .c7n-pro-table-cell-inner-bordered {
    //   height: auto !important;
    //   // border: none;
    // }

    // .c7n-pro-select-wrapper {
    //   font-size: 12px;
    // }

    // .c7n-pro-input-wrapper {
    //   font-size: 12px;
    // }

    // .c7n-pro-select {
    //   height: 0.28rem !important;
    // }

    // .c7n-pro-input {
    //   height: 0.28rem !important;
    // }

    // .c7n-pro-form-wrapper {
    //   height: 0.28rem !important;
    // }
  }
}

.controller-fold {
  margin-top: 10px;
}

.diff-render-component {
  :global {
    .c7n-pro-calendar-picker-wrapper {
      width: 100%;
    }

    .c7n-pro-select-lov {
      width: 100%;
    }

    .c7n-pro-input-number-wrapper {
      width: 100%;
    }

    .icon-close {
      color: black;
    }

    .icon-close:hover {
      color: @primary-color;
    }
  }

  .diff-render-red {
    color: red;

    :global {
      .c7n-pro-input-number {
        color: red;
      }

      .icon-close {
        color: black;
      }

      .icon-close:hover {
        color: @primary-color;
      }
    }
  }
}

.table-render-red {
  color: red;
}

.controller-form {
  margin-top: 11px;

  :global {
    .c7n-pro-form-wrapper {
      line-height: 34px;
    }
  }
}

.history-render-component {
  .history-render-red {
    color: red;
  }
}
