.search-form {
  :global {
    .lov-input {
      border: none;
    }
    .ant-form-item-label {
      text-align: left;
    }
    .ant-radio-button-wrapper {
      margin-right: 8px;
      border: none !important;
      &::before {
        content: none;
      }
    }
    .date-line {
      .ant-form-item {
        display: inline-block;
        margin-right: 12px;
      }
    }
  }
}
