@import '~hzero-front/lib/srm-variables';
.supplierEntryDetailSteps {
  :global {
    .c7n-steps-item-finish .c7n-steps-item-icon {
      background: #47b881;
      border-color: #47b881;
      color: #fff;
    }
    .c7n-steps-item-process .c7n-steps-item-icon {
      background: #47b881;
      border-color: #47b881;
    }

    .c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-title {
      color: @text-2;
    }

    .c7n-steps-item-process > .c7n-steps-item-content > .c7n-steps-item-title {
      color: @text-1;
    }

    .c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-title:after {
      background: #47b881;
    }

    .c7n-steps-item-process > .c7n-steps-item-content > .c7n-steps-item-title:after {
      background: #47b881;
    }

    .c7n-steps-item-wait .c7n-steps-item-icon {
      background: rgba(0, 0, 0, 0.25);
      border: 0;
    }

    .c7n-steps-item-wait > .c7n-steps-item-content > .c7n-steps-item-title {
      color: @text-3;
    }

    .c7n-steps-item-wait > .c7n-steps-item-content > .c7n-steps-item-title:after {
      background: rgba(0, 0, 0, 0.08);
    }
    .c7n-steps-item-title {
      font-size: 14px;
    }
  }
}

.entry {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 !important;
  padding: 0;
  border: 0 !important;
}
.entry-cuz-tab-card {
  background: rgba(0, 0, 0, 0);
  margin: 8px;
  .second-section-wrap {
    padding: 20px;
    background: #fff;
    margin-bottom: 8px;
    :global {
      .second-section-title {
        margin-bottom: 0;
        &::before {
          display: none;
        }
      }
      .purchase-wrap {
        .second-section-title {
          margin-bottom: 16px;
          &::before {
            display: inline-block;
          }
        }
      }
    }
  }
  :global {
    .top-section-title {
      display: none;
    }
  }
}

.entryListContent {
  height: 'calc(100vh - 160px)' !important;
}

.entryStepContent {
  padding: 20px;
  margin: 8px 8px 0 !important;
}

.supplierEntryDetailContent {
  .supplierEntryCard {
    :global {
      .c7n-card-body {
        padding: 0;
      }
    }
  }
  :global {
    .page-content-wrap:first-child {
      .page-content {
        margin: 8px !important;
      }
    }
  }
  .entryContent {
    padding: 20px;
    margin-top: 0 !important;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.supplierEntryCard {
  .supplierEntryCardTooltip {
    font-size: 12px;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 18px;
    font-weight: 400;
  }
  :global {
    .c7n-pro-vertical-form-display {
      .c7n-pro-field-label.c7n-pro-field-required {
        &::before {
          display: none;
        }
      }
    }
  }
}
.supplierEntryCardTitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 18px;
    font-weight: 500;
    margin-left: 8px;
  }
}

.file-card-uuid {
  :global {
    .c7n-pro-attachment-list-card {
      margin-top: 0;
    }
  }
}

// 境内上传组件
.domestic-attachment-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background-color: #f8f8f8;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  flex-direction: column;
  cursor: pointer;
  // .domestic-attachment-label::after {
  //   content: '*';
  //   color: #d50000;
  //   width: 0.08rem;
  //   line-height: 12px;
  //   margin: 0 10px 0 2px;
  //   font-family: 'SimSun', sans-serif;
  // }
}

// 登记，业务信息-form
.legal-basic-form {
  display: flex;
  .legal-basic-form-second {
    width: 40%;
    margin-left: 8px;
    .register-business-license {
      color: rgba(0, 0, 0, 0.45);
      img {
        width: 140px;
      }
    }
    .company-logo {
      color: rgba(0, 0, 0, 0.45);
      img {
        width: 100px;
        height: 110px;
      }
    }
    :global {
      .c7n-pro-output-invalid {
        padding: 0;
      }
      .c7n-pro-attachment-required::after {
        display: none;
      }
      .c7n-upload-list-item {
        height: 180px;
        width: 180px;
        margin: 0;
        .c7n-upload-list-item-span {
          height: 100%;
        }
      }
      .c7n-upload {
        height: 180px;
        width: 180px;
        margin: 0;
      }
    }
    .legal-basic-licence-url {
      padding: 0;
    }
  }
}

.register-attachment-modal {
  :global {
    .c7n-pro-modal-body {
      padding: 0 0.24rem 0.24rem 0.24rem;
    }
  }
}

// 境内-附件样式
.legal-basic-domestic-upload-form {
  .domestic-upload-unfinish-card {
    display: flex;
    :global {
      .c7n-pro-attachment-list-card {
        margin-top: 0;
        .c7n-pro-attachment-card-button {
          display: block;
          position: absolute;
        }
      }
    }
  }
  .domestic-upload-finish-card {
    &:before {
      content: '';
      position: absolute;
      left: 16px;
      top: 4px;
      width: 3px;
      height: 14px;
      background-color: @primary-color;
      pointer-events: none;
    }
    :global {
      .c7n-pro-attachment-list-card {
        margin-top: 0;
        .c7n-pro-attachment-list-item-success {
          position: absolute;
        }
        .c7n-pro-attachment-card-button {
          display: none;
        }
      }
    }
  }
  .domestic-upload-business-license {
    img {
      width: 140px;
    }
  }
  // 拖拽上传弹窗
  .upload-dragger {
    height: 210px;
    :global {
      .c7n-upload-drag-container {
        line-height: 1.5;
        .c7n-upload-drag-icon {
          margin-top: 24px;
        }
        .c7n-upload-text {
          font-weight: 400;
          height: 22px;
          font-size: 14px;
        }
        .c7n-upload-hint {
          margin-bottom: 24px;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    // orc失败
    .upload-dragger-icon {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      :global {
        div {
          width: 20px;
          height: 20px;
          background-color: #f56349;
          border-radius: 10px;
          margin-right: 12px;
        }
        span {
          font-size: 14px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.65);
        }
        .icon-sentiment_dissatisfied {
          color: #fff;
          font-size: 16px !important;
          margin-top: 1px;
        }
      }
    }
    .upload-dragger-again {
      font-size: 12px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
    }
  }
  :global {
    & tr:first-child {
      & > td:first-child {
        width: 360px;
      }
    }
    & tr:nth-child(2) {
      & > td:first-child {
        .c7n-pro-field-wrapper {
          margin-top: 0 !important;
        }
      }
    }
    .c7n-upload-list-item-done {
      width: 100%;
      height: 210px;
      .c7n-upload-list-item-thumbnail {
        position: absolute !important;
      }
    }
  }
  .upload-dragger-tips {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    font-weight: 400;
  }
}

// 图片预览
.upload-img-style {
  position: relative;
  border: 1px solid #e0e0e0;
  padding: 8px;
  background-color: #fff;
  height: 100%;
  margin: 0;
  :global {
    img {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }
  .img-btn {
    display: none;
  }
  &:hover .img-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    font-size: 18px;
    color: #fff;
    a {
      color: #fff;
      margin-right: 10px;
      display: flex;
      align-items: center;
      i {
        color: #fff;
      }
    }
  }
}

.view-img-no-model {
  width: 180px !important;
  height: 180px !important;
}

.view-img-model {
  height: 210px;
}

// 地址信息- 省市区table列样式
.region-td {
  :global {
    .c7n-pro-input-group {
      margin-top: -4px;
    }
    .c7n-pro-table-cell-inner {
      .c7n-pro-input-wrapper.c7n-pro-input-readonly {
        .c7n-pro-input {
          height: 0.26rem;
          line-height: 0.26rem;
        }
      }
    }
    .c7n-pro-table-cell-inner-invalid {
      .c7n-pro-input {
        background-color: #fcebeb;
        border-color: #f56349;
      }
    }
  }
}

.c7n-upload-url {
  :global {
    .c7n-upload-list-item-done {
      display: none;
    }
    .c7n-upload-list-item-undefined {
      display: none;
    }
  }
}
