.sub-content-container {
  padding: 18px;
  :global {
    .sub-content-header {
      font-size: 16px;
      font-weight: 600;
      color: #000;
      display: flex;
      align-items: center;
      i {
        font-weight: normal;
        font-size: 14px;
        margin-left: 4px;
        margin-top: 1px;
      }
    }
    .sub-content-body {
      padding: 20px 0;
    }
  }
}

.content-divide {
  height: 8px;
  background-color: #f4f5f7;
}