.ssta-buttons-icon {
  margin-right: 8px;
}

.ssta-buttons-icon:hover {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 2px;
  background-color: #f2f2f2;
}
.ssta-buttons-popover {
  :global {
    .c7n-popover-content {
      width: 100%;

      .c7n-popover-inner-content {
        padding: 8px 0;

        .c7n-pro-btn {
          display: block;
          width: 100%;
          border-radius: 0;
          margin: 0 0;
          text-align: left;
        }
      }
    }
  }
}
.ssta-buttons-menu {
  :global {
    .c7n-menu-item {
      padding: 0 0;

      .c7n-pro-btn-wrapper {
        height: 100%;
        width: 100%;
        padding: 0 0.16rem;
        border-radius: 0;
        background-color: transparent;
        i {
          display: none;
        }
      }
    }
  }
}
