@prefix              : default-exp-config;
@editor-width        : 680px;
@compute-width       : 713px;
@compute-height      : 330px;
@compute-init-top    : -340px;
@button-offset       : 8px;
@container-height    : 421px;
@tree-container-width: 205px;
@tree-indent         : 8px;
@output-line-height  : 32px;