.box-container {
  height: 100%;
  :global {
    .box-content {
      max-height: 93%;
      overflow-y: scroll;
      .box-item {
        border: 1px solid rgba(0, 0, 0, 0.08);
        margin-bottom: 12px;
        padding: 16px;
        .item-name {
          margin-bottom: 8px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
