.rfx-notice-tender-page-content-container {
  padding: 48px 100px;
  .notice-header {
    text-align: center;
    .notice-header-title {
      font-size: 24px;
      line-height: 36px;
      color: #000;
      font-weight: 500;
    }
    .notice-header-subtitle {
      font-size: 12px;
      color: #333;
      line-height: 18px;
      margin-top: 8px;
    }
  }

  :global {
    .c7n-pro-form.c7n-pro-form-float-label > table > tbody > tr .c7n-pro-field-wrapper {
      padding-left: 0.05rem !important;
    }
    // .c7n-pro-form.c7n-pro-form-float-label .c7n-pro-field-wrapper {
    //   padding-left: .5rem !important;
    // }
    & .notice-content {
      margin: 40px 0 16px;

      form {
        width: 75%;
        max-width: 1172px;
      }
    }
  }
}
