.overflow-point {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attr-manage-container {
  .info-item {
    width: 100%;
    .overflow-point;
  }
}

.brand-manage-modal {
  :global {
    .c7n-pro-field-help {
      font-size: 12px;
    }
    .c7n-pro-upload {
      width: 100%;
      .c7n-pro-upload-list-item {
        img {
          width: 48px;
          height: 48px;
        }
        .c7n-pro-upload-list-item-name {
          width: 100%;
          display: inline-block;
          .overflow-point;
        }
      }
    }
  }
}
