.captcha-wrapper {
    :global {
        .img-wrapper {
            width: 100%;
            height: 100px;
            margin-top: 15px;
            background: #c0c0c0;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
    }
}

.captcha-footer {
    :global {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
