.title {
  border-radius: 0 0 2px 2px;
  position: relative;
  box-sizing: border-box;
  font-size: 1.17em;
  color: #333;
  list-style: none;
  background-color: #fafafa;
  height: 48px;
  line-height: 48px;
  text-indent: 16px;
}
