.header-wrapper {
  :global {
    .ant-row.approve-header {
      font-size: 14px;
      border: none;
      background: none;
      padding-left: 0;
      height: 32px;
    }

    .ant-form-item > .ant-form-item-label {
      text-align: left !important;
    }

    .ant-row.approve-header:hover {
      border: none;
      background: none;
    }
  }
}
