
.customer-account-config-basic {
  :global {

    .c7n-pro-table-search-bar-merge-field .c7n-pro-input-prefix {
      margin-left: 8px;
    }
  }
}

.table-box {
  height: calc(100vh - 276px);
}

.tag-process {
  padding: 2px 5px;
  border-radius: 2px;
  color: #f06200;
  background-color: rgba(242, 128, 26, .15);
  font-weight: 600;
}

.tag-success {
  padding: 2px 5px;
  border-radius: 2px;
  color: #179454;
  background-color: rgba(23, 148, 84, .15);
  font-weight: 600;
}

.tag-fail {
  padding: 2px 5px;
  border-radius: 2px;
  color: #e64322;
  background-color: #e6432215;
  font-weight: 600;
}

.tag-refund {
  padding: 2px 5px;
  border-radius: 2px;
  color: #4e5769;
  background-color: #e5e7ec;
  font-weight: 600;
}
