.not-found {
  height: 100%;
  text-align: center;
  &-pic {
    color: @primary-color;
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-title {
    margin-top: 24px;
    font-size: 16px;
    color: #1d2129;
    font-weight: 600;
  }
  &-subTitle {
    margin-top: 8px;
    font-size: 14px;
    color: #868d9c;
    font-weight: 400;
  }
  &-footer {
    margin-top: 24px;
  }
}
