.spcm-narmal-tag {
  padding: 0 5px;
  margin-right: 0;
  font-weight: 600;
}

.spcm-small-tag {
  padding: 0 2px;
  height: 16px;
  margin-right: 0;
  font-weight: 600;
  line-height: 14px;
}

.spcm-status-tag-icon {
  font-size: inherit;
  font-weight: 400;
  margin-left: 2px;
  border-radius: 2px;
  height: 100%;
  line-height: 1.6;
}
