.common-timeline-sitf {
  :global {
    .actionTab-header {
      display: inline-block;
      margin-left: 16px;
    }
    .c7n-collapse-header {
      padding: 0 0 8px !important;
      font-family: PingFangSC-Medium,sans-serif;
      color: rgba(0,0,0,.85) !important;
      cursor: default !important;
    }

    .c7n-collapse-item {
      border: none;
    }

    .icon{
      float: left;
      line-height: 25px;
    }

    .action-name {
      font-size: 13px;
      padding-right: 8px;
    }

    .action-words {
      font-size: 13px;
      color: rgba(35,32,32,.65);
    }

    .c7n-timeline-item-content {
      padding: 0 0 0 0.24rem;
    }
  }
}