.model-bottom-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 10px 24px;
  text-align: left;
  left: 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

.searchBar-filter-modal-form {
  & > div {
    padding-bottom: 0 !important;
  }
  label {
    font-size: 14px !important;
    font-weight: 600 !important;
    &::before {
      content: '' !important;
      margin-right: 0 !important;
    }
  }
  :global(.ant-form-item-label) {
    width: 100% !important;
    padding-bottom: 4px !important;
    text-align: left;
    white-space: nowrap;
  }
  :global(.ant-form-item-control-wrapper) {
    width: 100% !important;
  }
  :global(.ant-form-item-label .ant-form-item-required) {
    i {
      font-size: 12px !important;
      font-weight: 100 !important;
    }
    &::after {
      display: inline-block !important;
      margin-right: 4px;
      content: '*';
      line-height: 1;
      font-size: 12px;
      color: #f5222d;
    }
  }
  :global(.ant-input-group-addon) {
    color: #aaa;
  }
}

.searchBar-container {
  display: flex;
  box-shadow: unset !important;
  padding: 0 !important;
  padding-bottom: 0 !important;
  &-left {
    // width: 220px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    background-color: #fff;
    overflow: hidden;
    border-right: 1px solid #e8e8e8;
    &-title {
      padding-left: 24px;
      text-align: left;
      font-weight: 600;
      background: #ffffff;
      line-height: 42px;
      border-bottom: 1px solid #e8e8e8;
      &>span:last-child {
        float: right;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          color: @primary-color;
        }
      }
    }
    &-list {
      // overflow: auto;
      max-width: 250px;
      &-disabled {
        // opacity: 0.5;
        // margin-top: 20px;
      }
      &-title {
        margin-top: 4px;
        padding-left: 30px;
        color: #8592a6;
        font-size: 12px;
        border-top: 1px solid #f5f5f6;
        line-height: 32px;
      }
      &-item {
        line-height: 32px;
        position: relative;
        // display: flex;
        padding-left: 24px;
        margin: 8px 0;
        cursor: pointer;
        &>div:first-child {
          width: calc(100% - 64px);
          // max-width: calc(100% - 64px);
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
        }
        &-current {
          background: #f2f4f6;
        }
        &:hover {
          background: #f2f4f6;
          .searchBar-container-left-list-item-btns {
            display: block;
            // visibility: visible;
          }
        }
        &-btns {
          // width: 120px;
          // visibility: hidden;
          display: none;
          position: absolute;
          top: 0;
          right: 12px;
          i {
            margin-left: 8px;
            &:not(.searchBar-btn-disabled):hover {
              color: @primary-color;
            }
          }
        }
      }
    }
  }
  &-right {
    flex: 1 1;
    background-color: #fff;
    // overflow: auto;
    // padding: 8px 24px 16px 8px;
    &-header {
      text-align: right;
      margin-top: 10px;
    }
  }
}

.searchBar-filter-modal-form {
  :global {
    .ant-row.ant-form-item {
      margin-bottom: 14px;
    }
    .ant-form-item-label {
      width: 100%!important;
      padding-bottom: 4px!important;
      white-space: nowrap;
      padding: 0 0 8px;
      margin: 0;
      display: block;
      text-align: left;
      line-height: 1.5;
      &>label:not(.ant-form-item-required):after {
        content: '' !important;
      }
    }
    .ant-form-item-control {
      line-height: 1.5;
    }
    .ant-input-number {
      width: 100%;
    }
  }
}

.search-bar-detail {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
  .unit-right-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &>div:last-child {
      flex-grow: 1;
    }
  }
  :global {
    .ant-spin-nested-loading {
      flex-grow: 1;
      display: flex;
      .ant-spin-container {
        flex-grow: 1;
      }
    }
  }
}

.search-bar-table-list-item {
  &:hover {
    .search-bar-table-list-item-operator {
      display: block;
    }
  }
  &-operator {
    float: right;
    line-height: 36px;
    display: none;
    &>span {
      cursor: pointer;
      &>i{
        margin-left: 8px;
        &:not(.searchBar-btn-disabled):hover {
          color: @primary-color;
        }
      }
    }
  }
}
.searchBar-form-horizontal {
  margin-bottom: 60px;
  :global {
    .ant-form-item {
      margin-bottom: 0 !important;
    }
    .ant-checkbox-wrapper {
      font-size: 14px !important;
      font-weight: 600 !important;
    }
  }
}

.searchBar-btn-disabled {
  cursor: not-allowed;
  color: rgb(165, 165, 165);
}
.searchBar-tag {
  line-height: 18px;
  height: 18px;
  margin-right: 4px;
  font-size: 12px;
  padding: 0 6px;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  &-pre {
    color: #fa8c16;
    background: #fff7e6;
    border-color: #ffd591;
  }
  &-normal {
    color: #52c41a;
    background: #f6ffed;
    border-color: #b7eb8f;
  }
}

.searchBar-tag-default {
  flex-shrink: 0;
  padding: 1px 6px;
  border: 1px solid #dadfe6;
  color: #606c80;
  font-size: 12px;
  line-height: 16px;
  border-radius: 2px;
  margin-left: 10px;
}

.input-number-range {
  :global {
    .ant-input-group {
      display: flex !important;
      align-items: center;
      &>div {
        &:first-child, &:last-child {
          flex: 1;
        }
      }
    }
  }
  &-divider {
    margin: 0 4px;
  }
}

.table-header {
  padding-top: 16px;
  display: flex;
  &-left {
    flex-grow: 1;
    display: flex;
    .left-item {
      width: 50%;
      display: flex;
      padding: 0 24px;
      line-height: 32px;
      &-label {
        &:after {
          content: ":";
          margin: 0 8px 0 2px;
          position: relative;
          top: -0.5px;
        }
      }
      &-content {
        flex-grow: 1;
      }
    }
  }
  &-right {
    text-align: right;
  }
}

.fx-row {
  display: flex;
  position: relative;
  .fx-alink {
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 0px;
  }
  :global {
    .ant-form-item{
      display: inline-block;
      flex-grow: 1;
      margin-right: 16px;
    }
    .ant-calendar-picker {
      vertical-align: middle;
    }
  }
}
.input-number-item {
  width: auto;
}
