@import '~hzero-front/lib/srm-variables';

.risk-level-distribution-chart {
  display: flex;
  justify-content: space-between;
  :global {
    input {
      height: 22px !important;
    }
  }
}

.chart-no-content-message {
  margin-top: 8px;
  color: @text-3;
}

// .risk-workplace-list-none-content {
//   :global {
//     svg path {
//       fill: @primary-color;
//     }
//   }
// }
