.order-alert-title {
  :global {
    margin-bottom: 16px !important;
    border: none;
    color: rgba(48, 149, 242);
    background-color: rgba(48, 149, 242, 0.1) !important;

    .icon {
      color: rgba(48, 149, 242);
    }
  }
}
