.confirmModal {
  :global {
    .c7n-pro-modal-content {
      .c7n-pro-modal-body {
        padding: 0.2rem;
        td {
          padding: 0;
          .c7n-pro-confirm-title {
            font-size: 16px;
            line-height: 24px;
          }
          .c7n-pro-confirm-content {
            margin-top: 16px;
          }
        }
      }
    }
  }
}

.catefory-alert {
  :global {
    .c7n-alert-message {
      height: 18px;
    }
    .c7n-alert-icon {
      top: 9px;
    }
  }
}
