@import '~hzero-front/lib/srm-variables.less';

:global {
  .rf-page-content-warp {
    padding: 0 8px;
    height: calc(100% - 48px);
    overflow: auto;
  }
}

.rf-page-container {
  //height: 100%;
  height: calc(100% - 48px);
  overflow: auto;

  :global {
    .c7n-spin-nested-loading {
      height: 100% !important;
    }

    .c7n-spin-container {
      height: 100% !important;
    }
  }
}

.rf-page-content {
  .rf-card-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    :global {
      .card-warp {
        padding: 20px;
        margin: 4px 0;
        background-color: #fff;
      }
      .card-warp:first-child {
        margin-top: 8px;
      }
      .card-warp:last-child {
        flex: 1;
        margin-bottom: 8px;
      }
    }

    .card-warp {
      padding: 20px;
      margin: 4px 0;
      background-color: #fff;

      .card-title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 600;
        color: #000;
      }

      .card-content {
        width: 100%;

        .card-sub-title {
          margin: 32px 0 16px;
          font-weight: 600;
          .card-sub-title-line {
            display: inline-block;
            margin-right: 8px;
            height: 12px;
            border-left: 3px solid @primary-color;
          }
        }

        :global {
          .c7n-steps-rf-custom {
            .c7n-pro-input-rendered-value {
              width: 100%;
              padding: 0 0.1rem 0 0;

              .c7n-steps-item-process .c7n-steps-item-icon {
                //background: none !important;
                background-color: #fff;
              }
            }

            .c7n-pro-field-label {
              margin-left: 0;
            }

            .c7n-steps {
              margin-top: 6px;
            }

            .rfx-card-item-step {
              .c7n-steps-item-process .c7n-steps-item-icon {
                //background: none !important;
                background-color: #fff;
              }
            }
          }

          .c7n-steps-rf-custom::before {
            border-color: #fff !important;
          }

          // 步骤条样式
          // .c7n-steps-item {
          //   cursor: pointer;
          // }
          // .c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-title {
          //   color: #46b880;
          // }
          // .c7n-steps-item-finish > .c7n-steps-item-content > .c7n-steps-item-title::after {
          //   background-color: #46b880;
          // }
          // .c7n-steps-item-finish .c7n-steps-item-icon {
          //   // color: #fff;
          //   background-color: #46b880;
          // }
          // .c7n-steps-item-process .c7n-steps-item-icon {
          //   background-color: #46b880;
          // }
          form {
            width: 100%;
          }
        }
      }
    }
    .card-warp:first-child {
      margin-top: 8px;
    }
    .card-warp:last-child {
      flex: 1;
      margin-bottom: 8px;
    }
  }
}

.rf-common-page-content {
  height: calc(100% - 48px);
  .rf-card-content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .card-warp {
      padding: 20px;
      margin: 4px 0;
      background-color: #fff;
      .card-title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 600;
        color: #000;
      }
      .card-content {
        width: 100%;
        .card-sub-title {
          margin: 32px 0 16px;
          font-weight: 600;
          .card-sub-title-line {
            display: inline-block;
            margin-right: 8px;
            height: 12px;
            border-left: 3px solid @primary-color;
          }
        }
        :global {
          .c7n-steps-rf-custom {
            .c7n-pro-input-rendered-value {
              width: 100%;
              padding: 0 0.1rem 0 0;
              .c7n-steps-item-process .c7n-steps-item-icon {
                background: none !important;
              }
            }
            .c7n-pro-field-label {
              margin-left: -12px;
            }
            .c7n-steps {
              margin-top: 6px;
            }
          }
          .c7n-steps-rf-custom::before {
            border-color: #fff !important;
          }

          form {
            width: 100%;
          }
        }
      }
    }

    .card-warp:first-child {
      margin-top: 8px;
    }
    .card-warp:nth-last-of-type(1) {
      flex: 1;
      margin-bottom: 8px;
    }
    .bottom-line {
      width: 100%;
      border: 2px solid #f4f5f7;
    }
  }
}

.consultationStage {
  :global {
    .defaultAnchor {
      margin-top: 16px;
    }
  }
}

.rf-ladder-quotation-modal-wrapper {
  .ladder-sub-title {
    margin: 32px 0 16px 0;
    font-weight: 600;
    .ladder-sub-title-line {
      display: inline-block;
      margin-right: 8px;
      height: 12px;
      border-left: 3px solid @primary-color;
    }
  }

  .ladder-sub-title:first-child {
    margin: 0 0 16px 0;
  }
}

// 处理c7n上传文件样式
.rf-upload-style {
  :global {
    .c7n-pro-field-wrapper {
      padding: 0.1rem 0;
    }

    .c7n-pro-upload-bkt {
      padding: 4px 0;
    }
  }
}

// 处理评分要素renderer组件样式
.indicate-table-cell {
  :global {
    .c7n-pro-table-cell-inner {
      height: auto !important;
    }
  }
}

.rfx-detail-steps-active-text {
  color: @text-1;
  font-weight: 600;
  font-size: 14px;
}

.rfx-detail-steps-text {
  color: @text-3;
  font-size: 14px;
}
