.theme-config-protocol :global {
  width: 6rem;
  background-color: #fff;
  background-image: url(../../../assets/agreement-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  border-radius: 0.05rem;
  padding: 0;

  .ant-modal-header,
  .ant-modal-footer {
    display: none;
  }

  .ant-modal-content {
    background: initial;
  }

  .protocol-title {
    font-size: 0.24rem;
    color: #fff;
    line-height: 0.36rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0.08rem;
    margin-bottom: 0.2rem;
  }

  .protocol-please {
    font-size: 0.12rem;
    color: #fff;
    line-height: 0.18rem;
    font-weight: 600;

    p {
      margin-bottom: 0.08rem;
    }
  }

  .protocol-content {
    width: 5.4rem;
    margin: 0.22rem auto 0;
    padding: 0.2rem;
    background: #f5f7fa;
    box-shadow: 0 0.01rem 0.02rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.05rem;
    font-size: 0.14rem;

    p:first-of-type {
      margin-bottom: 0.16rem;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .protocol-footer {
    margin-top: 0.36rem;
    text-align: right;

    .c7n-pro-btn {
      margin-left: 0.08rem;
    }
  }

  .seal-manage-empty-basic-panel {
    :global {
      svg path {
        fill: @primary-color;
      }
    }
  }
}

.scroll-table-panel {
  overflow: hidden;
  height: calc(100vh - 246px);

  :global {
    // .c7n-pro-table-body {
    //   height: 5rem !important;
    // }

    .c7n-tag {
      border: none;
    }
  }
}
