.effectiveDays-more-col {
    color: #fff !important;
    background-color: #FFBF00 !important;

    &:hover {
        background-color: rgb(241, 184, 11) !important;
      }
  }

.effectiveDays-col {
    color: #fff !important;
    background-color: #ff5252 !important;
  
    &:hover {
      background-color: #ef5350 !important;
    }
  }