.custom-filter-search {
  :global {
    .c7n-pro-select {
      width: 280px !important;
      max-width: none !important;
    }
  }
}

:global {
  .c7n-pro-table-search-bar-fields {
    margin-top: 0 !important;
  }
}
