.fontStyle {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding-right: 20px;
}
.page-content {
  :global {
    .ant-calendar-picker {
      width: 100%;
    }
    .ant-col-24 {
      & .ant-col-22 {
        width: 90.6%;
      }
      & .ant-col-2 {
        width: 9.4%;
      }
      & .ant-col-3 {
        width: 13.9%;
      }
      & .ant-col-21 {
        width: 86.1%;
      }
      & .ant-col-offset-3 {
        margin-left: 13.9%;
      }
    }
  }
}
