.header-form {
  :global {
    .ant-form-explain {
      margin-top: 2px;
    }
    .ant-input {
      overflow: hidden;
    }
  }
}
.form-collapse {
  border: none;
}
.ant-collapse {
  border: none;
  margin-bottom: 16px;

  .ant-collapse-item.ant-collapse-no-arrow .ant-collapse-header {
    padding: 0;
  }

  .ant-collapse-item {
    border-bottom: none;

    .ant-collapse-header {
      height: 48px;
      line-height: 48px;
      background-color: #fafafa;

      & > i {
        color: rgb(41, 190, 206);
        font-weight: bold;
        margin-left: 8px;
      }

      & > h3 {
        text-indent: 16px;
        display: inline-block;
      }

      & > a {
        margin-left: 16px;
      }
    }

    .ant-collapse-content {
      border-top: none;
    }
  }
}

.header-form {
  :global {
    .ant-form-explain {
      margin-top: 2px;
    }
    .ant-input {
      overflow: hidden;
    }
  }
}

.table-control-group {
  text-align: right;
  margin-bottom: 16px;
  & > button:not(:first-child) {
    margin-left: 8px;
  }
}
