@card-padding: 20px;

.card-style {
  padding: @card-padding;
  border-bottom: 1px solid #ebebeb;
}

@current-header-color: #47b881;
@history-header-color: #f56349;

.compare-header {
  padding: 8px @card-padding;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  font-weight: 500;
  border-bottom: 1px solid #ebebeb;
}

.sku-content-detail {
  // padding-top: 8px;
  background: #f4f5f7;

  :global {
    .sku-card-title {
      font-size: 16px;
      color: #000;
      height: 24px;
      margin-bottom: 16px;
      line-height: 24px;
      font-weight: 600;
    }

    .spu-info-wrapper {
      .spu-content {
        display: flex;
        margin-bottom: 20px;

        .spu-info {
          flex: 1;
          margin-left: 14px;

          .spu-name {
            max-height: 34px;
            line-height: 17px;
            font-size: 12px;
            color: #000;
            font-weight: 500;
            display: -webkit-box;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 8px;
          }

          .spu-code {
            height: 18px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.65);
            line-height: 18px;
            font-weight: 400;
          }
        }
      }
    }

    .sku-container {
      & > .c7n-spin-nested-loading .c7n-spin-container {
        & > div > .page-content-wrap {
          .page-content {
            padding: 0;
            margin: 8px;
          }
        }

        & > div:not(:last-child) > .page-content-wrap {
          .page-content {
            margin-bottom: 0 !important;
          }
        }
      }

      .part-title {
        font-size: 16px;
        color: #101319;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 600;
        margin-bottom: 16px;
      }

      .af-basic-container {
        margin-top: 0;
        margin-left: 4px;
      }
      .af-basic-bottom-remain-area {
        margin: -4px 0 0 0;
      }

      .basic-operate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .basic-operate-right {
          .view-filter {
            height: 32px;
            background-color: #f2f3f5;
            display: flex;
            align-items: center;
            padding: 2px;

            > span {
              cursor: pointer;
              font-size: 14px;
              font-weight: 400;
              padding: 3px 8px;
              margin: 2px;
              &.view-active {
                background: #fff;
                color: #1d2129;
                font-weight: 600;
                border-radius: 2px;
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
              }
            }
          }
        }
      }

      .sku-update-tip {
        margin: 8px 8px -8px 8px;
        width: 100%;
        > .c7n-alert {
          border: none;
          background-color: rgba(25, 132, 247, 0.1);
          color: #0161d5;
        }
      }

      .sku-current,
      .sku-history {
        .compare-header;
      }

      .sku-current {
        color: @current-header-color;
      }

      .sku-history {
        color: @history-header-color;
      }

      .sku-info-wrapper {
        .card-style;

        .sku-content {
          display: flex;
          margin-bottom: 20px;

          .sku-infos {
            flex: 1;
            overflow: hidden;
            margin-left: 16px;

            .sku-top {
              display: flex;
              overflow: hidden;

              .sku-status {
                margin-left: 4px;
              }
            }

            .sku-name {
              margin: 0;
              max-width: 520px;
              height: 24px;
              font-size: 16px;
              color: #000;
              line-height: 24px;
              font-weight: 600;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .sku-title {
              height: 18px;
              font-size: 12px;
              color: #f56349;
              line-height: 18px;
              font-weight: 400;
              margin-top: 4px;
            }

            .sku-price {
              margin-top: 4px;

              .sku-price-value {
                font-size: 22px;
                color: #fa6400;
                letter-spacing: 0;
                font-weight: 600;
                margin-right: 4px;
              }

              .sku-price-label {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.45);
                font-weight: 400;
              }
            }
          }
        }
      }

      .item-info {
        padding: 20px;
      }

      .spu-info-wrapper {
        .card-style;
      }

      .pur-price-wrapper {
        .card-style;
      }

      .sku-attrs-wrapper {
        .c7n-collapse > .c7n-collapse-item:last-child {
          border-bottom: none;
        }
        .c7n-collapse-item {
          margin-bottom: 4px;
        }
        .c7n-collapse-item.c7n-collapse-item-active {
          margin-bottom: 0;
        }
        .c7n-collapse-header {
          font-size: 16px;
          color: #101319;
          line-height: 24px;
          font-weight: 600;
          padding: 0 0 12px !important;
        }
        .c7n-collapse-content {
          padding: 0 !important;
          .c7n-collapse-content-box {
            padding-bottom: 0;
          }
        }
        .card-style;
        padding-bottom: 4px;

        .sku-attrs-none {
          color: rgba(0, 0, 0, 0.45);
          font-size: 12px;
          line-height: 24px;
        }
      }
    }
  }
}

.sku-modal-compare {
  display: flex;
  width: 100%;
  height: 100%;

  :global {
    .sku-current,
    .sku-history {
      .compare-header;
    }

    .sku-current {
      color: @current-header-color;
    }

    .sku-history {
      color: @history-header-color;
    }

    .sku-compare-wrapper {
      flex: 1;
      overflow: hidden;
      border-right: 1px solid #ebebeb;
      display: flex;
      flex-direction: column;

      .sku-compare-body {
        padding: @card-padding;
        overflow: auto;
        flex: 1;
      }
    }
  }
}

:global {
  .page-content-wrap {
    :global {
      .smpc-sku-detail {
        height: 0 !important;
        overflow: hidden;
      }
    }
  }
}
