.sodrOrderRemark {
  :global {
    .ant-form-explain {
      margin-top: 2px;
    }
  }
}

.expandIcon {
  :global {
    display: inline;
    float: left;
    width: 3px;
    height: 14px;
    background: #36c2cf;
    margin-top: 4px;
    margin-right: 12px;
  }
}
