.label-wrapper {
  :global {
    tr td:first-child {
      background-color: #f8f8f8;
      color: #666;
    }
    tr td:last-child {
      background-color: #fff;
    }
    tr {
      height: 48px;
    }
  }
  .description-data {
    font-family: 'Monospaced Number', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 0;
  }
}
