.card-wrapper {
  :global {
    .first-label {
      margin-right: 5px;
    }
    .number {
      color: #638ae6;
    }
    .second-label {
      margin: 0 5px 0 20px;
    }
    .ant-card-head {
      padding: 0;
    }
    .ant-card-head-title span {
      text-indent: 24px;
      display: inline-block;
      border-left: 2px solid #5e7ee6;
    }
    .ant-card {
      & > div {
        background-color: 'f8f8f8';
      }
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
}
