.table-wrapper {
  :global {
    .ant-table-tbody {
      text-indent: 10px;
      tr {
        line-height: 45px;
        td:first-child {
          background-color: #f8f8f8;
        }
        &:hover td:last-child {
          background-color: #fff;
        }
      }
    }
  }
}
