@import '~hzero-front/lib/srm-variables.less';

.item-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;

  .item-title-symbol {
    display: inline-block;
    height: 12px;
    border-left: 3px solid @primary-color;
    margin-right: 8px;
  }
}

.form-content-common-wrap {
  margin-bottom: 32px;
}

.table-content {
  margin-top: 32px;
}
