.content {
  display: flex;
  flex-direction: row;

  &-rightList {
    width: 100%;
    background-color: #fff;
    padding: 0 0.16rem 0.16rem;

    .tag-green {
      font-size: 12px;
      color: #47b881;
      background: rgba(71, 184, 129, 0.1);
      border-radius: 2px;
      border: none;
      height: 0.18rem;
      line-height: 0.18rem;
    }

    .tag-red {
      font-size: 12px;
      color: #f56349;
      background: rgba(245, 99, 73, 0.1);
      border-radius: 2px;
      border: none;
      height: 0.18rem;
      line-height: 0.18rem;
    }

    .tag-yellow {
      font-size: 12px;
      color: #fca000;
      background: rgba(252, 160, 0, 0.1);
      border-radius: 2px;
      border: none;
      height: 0.18rem;
      line-height: 0.18rem;
    }

    .tag-blue {
      font-size: 12px;
      color: #5faee3;
      background: rgba(95, 174, 227, 0.1);
      border-radius: 2px;
      border: none;
      height: 0.18rem;
      line-height: 0.18rem;
    }

    :global {
      .c7n-pro-select-lov {
        .c7n-pro-select {
          width: 100% !important;
          max-width: 2.8rem !important;
        }
      }
    }
  }
}

// 表格
.link-span {
  cursor: pointer;
  color: @primary-color;
}
