.carbon-copy-tag,
.workflow-carbon-copy-tag-popover {
  :global {
    .carbon-copy-tag-action {
      color: rgba(0, 0, 0, 0.45);
      margin: 0 8px 0 4px;
    }
    .carbon-copy-tag-employee {
      background-color: #e5e7ec;
      font-weight: 400;
      margin-right: 6px;
      border-radius: 2px;
      border-left: 3px solid;
      padding: 2px 4px;
      white-space: nowrap;
    }
  }
}
