@import '~hzero-front/lib/srm-variables.less';
.empty-warper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .empty-info {
    font-size: 12px;
    font-weight: 400;
    color: @text-3;
    margin-top: 16px;
    text-align: center;
  }
  .primary-color {
    color: @primary-color;
    margin-bottom: 0;
  }
}
