@import '~hzero-front/lib/srm-variables.less';
.form-wrapper {
  > table > tbody > tr > td {
    vertical-align: middle;
  }
}

.content-warp {
  padding: 0;
  background: rgb(244, 245, 247);
  display: flex;
  flex-direction: column;
  .basic-info-warp {
    padding: 20px;
    background: rgb(255, 255, 255);

    :global{
      .c7n-pro-field-label{
        font-weight: 400;
      }
    }
  }
  .tab-info-warp {
    background: #fff;
    margin-top: 10px;
    // padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .tab-info-title {
      height: 60px;
      font-size: 16px;
      color: #1d2129;
      font-weight: 600;
      padding: 20px;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

.tabs-tab {
  flex: 1;
  display: flex;
  padding-right: 16px;
}

.tabs-wrapper {
  :global {
    .c7n-tabs-bar-inner {
      min-width: 180px;
      max-width: 220px;
    }

    .c7n-tabs-extra-vertical-content {
      padding: 16px 0 !important;
      border-top: 1px solid #e5e7ec;
    }

    .c7n-tabs-vertical.c7n-tabs-left > .c7n-tabs-bar .c7n-tabs-tab {
      text-align: left;
    }

    .c7n-tabs-vertical > .c7n-tabs-bar .c7n-tabs-extra-content {
      margin-top: 16px;
    }

    .c7n-tabs-vertical.c7n-tabs-left > .c7n-tabs-content {
      padding-left: 20px;
    }

    .c7n-text-wrapper {
      width: 100%;

      .c7n-text {
        width: 100%;
      }
    }
    .c7n-tabs-nav .c7n-tabs-tab .icon,
    .c7n-tabs-second-nav .c7n-tabs-tab .icon {
      margin-right: 0;
    }

    // .c7n-tabs-nav .c7n-tabs-tab:hover,
    .c7n-tabs-nav .c7n-tabs-tab:active,
    .c7n-tabs-nav .c7n-tabs-tab-active {
      font-weight: 600;
    }

    // .c7n-tabs-nav {
    // padding-top: 16px;
    // }

    .module-wrapper {
      display: flex;
      justify-content: space-between;
      height: 20px;
      line-height: 20px;
      .module-title {
        font-weight: 600;
      }
    }

    .module-tip {
      margin-bottom: 4px;
      height: 20px;
      line-height: 20px;
      text-align: left;
      color: rgba(0, 0, 0, 0.45);
    }
  }

  .tabs-wrapper-title {
    display: flex;
    min-width: 180px;
    max-width: 220px;
    justify-content: space-between;

    &-templateName {
      max-width: 196px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.tabs-wrapper-detail {
  :global {
    .c7n-tabs-bar-inner {
      min-width: 180px;
      max-width: 220px;
    }

    .c7n-tabs-extra-vertical-content {
      padding: 8px 0 !important;
    }

    .c7n-tabs-vertical.c7n-tabs-left > .c7n-tabs-bar .c7n-tabs-tab {
      text-align: left;
    }

    .c7n-tabs-vertical > .c7n-tabs-bar .c7n-tabs-extra-content {
      margin-top: 16px;
    }

    .c7n-tabs-vertical.c7n-tabs-left > .c7n-tabs-content {
      padding-left: 20px;
    }

    .c7n-text-wrapper {
      width: 100%;

      .c7n-text {
        width: 100%;
      }
    }
    .c7n-tabs-nav .c7n-tabs-tab .icon,
    .c7n-tabs-second-nav .c7n-tabs-tab .icon {
      margin-right: 0;
    }

    // .c7n-tabs-nav .c7n-tabs-tab:hover,
    .c7n-tabs-nav .c7n-tabs-tab:active,
    .c7n-tabs-nav .c7n-tabs-tab-active {
      font-weight: 600;
    }

    // .c7n-tabs-nav {
    // padding-top: 16px;
    // }

    .module-wrapper {
      display: flex;
      justify-content: space-between;
      height: 20px;
      line-height: 20px;
      .module-title {
        font-weight: 600;
      }
    }

    .module-tip {
      margin-bottom: 4px;
      height: 20px;
      line-height: 20px;
      text-align: left;
      color: rgba(0, 0, 0, 0.45);
    }
  }

  .tabs-wrapper-title {
    display: flex;
    min-width: 180px;
    max-width: 220px;
    justify-content: space-between;

    &-templateName {
      max-width: 196px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.module-operate {
  p {
    cursor: pointer;
  }
}

.ssrc-quotation-template-column {
  :global {
    .c7n-pro-table-cell-inner {
      height: auto !important;
    }
  }
}

.card-sub-title-line {
  display: inline-block;
  margin-right: 8px;
  height: 12px;
  border-left: 3px solid @primary-color;
}

.attachment-button-wrap {
  max-width: 100% !important;
}
