@import '~hzero-front/lib/srm-variables.less';

// :global {
// .maskStyle {
//   z-index: 996;
// }

// .ant-modal-mask {
//   z-index: 997;
// }

// .ant-modal-sidebar-right {
//   z-index: 998;
// }
// }

// .customModalWrapInnder {
// z-index: 999;
// }

.preview {
  float: right;
  font-size: 16px;
  line-height: 16px;
  padding-left: 6px;
  cursor: pointer;
  color: @primary-color;
}
