.form-collapse {
  border: none;
}

.header-form {
  :global {
    .ant-form-explain {
      margin-top: 2px;
    }

    .ant-input {
      overflow: hidden;
    }
  }
}

.remark-style {
  :global {
    .ant-form-item-label {
      label {
        font-size: 16px;
      }
    }
  }
}
