.fx {
  height: 30px;
  padding: 0 3px;
  font-style: italic;
  font-weight: 600;
}

.float-output {
  :global {
    .c7n-pro-output-float-label>.c7n-pro-field-label-wrapper>.c7n-pro-field-label {
      font-weight: 400;
    }
  }
}