.scan-project-basic {
	margin-top: 8px;
	// height: calc(100vh - 220px);
	display: flex;
	flex-direction: column;
	flex: 1;
	// overflow-x: hidden;
	// overflow-y: auto;
	// padding-bottom: 190px;

	:global {
		.c7n-tag {
			border: none;
		}
	}
}

.level-define-level-panel {
	margin-bottom: 18px;

	.level-panel-tips {
		margin-top: 8px;
		line-height: 18px;
		font-size: 12px;
		font-weight: 400;
		color: #868d9c;
	}
}

.level-define-chart-panel {
	display: flex;
	margin-top: 24px;
}

.level-define-item-panel {
	color: red;
	margin-top: 24px;
}

.level-define-table-row {
	line-height: 32px;
	border-top: 1px #333 solid;
}

.level-define-table-col {
	border-left: 1px #333 solid;
	padding: 0 20px;
}

.risk-low-level-tag {
	background: rgba(71, 184, 131, .15);
	border-radius: 2px;
	color: #179454;
	font-weight: 600;
	padding: 1px 4px;
}

.risk-middle-level-tag {
	font-weight: 600;
	color: #f06200;
	background: rgba(242, 128, 26, .15);
	border-radius: 2px;
	padding: 1px 4px;
}

.risk-high-level-tag {
	font-weight: 600;
	color: #e64322;
	background: rgba(242, 85, 53, .15);
	border-radius: 2px;
	padding: 1px 4px;
}

.status-high-tag {
	color: #fff;
	line-height: 18px;
	height: 18px;
	background-color: #e64322;
	font-weight: 500;
	border-radius: 2px;
	padding: 0 4px;
}

.status-middle-tag {
	color: #fff;
	line-height: 18px;
	height: 18px;
	background-color: #feb936;
	font-weight: 500;
	border-radius: 2px;
	padding: 0 4px;
}

.status-low-tag {
	color: #fff;
	line-height: 18px;
	height: 18px;
	background-color: #179454;
	font-weight: 500;
	border-radius: 2px;
	padding: 0 4px;
}

.level-define-card-panel-bottom {
	padding: 20px;
	// margin-top: 8px;
	width: calc(100% - 236px);
	position: fixed;
	bottom: 8px;
	background: #fff;
}

.level-define-card-panel {
	padding: 20px;
	margin: 8px 0;
	background: #fff;
}

.level-define-card-panel:first-child {
	margin-top: 0;
}

.level-define-card-panel:last-child {
	margin-bottom: 0;
}

.level-define-card-title {
	font-size: 16px;
	color: #1d2129;
	line-height: 24px;
	font-weight: 600;
}

.level-define-card-second-level {
	display: flex;
	margin-top: 16px;
	align-items: center;

	.card-second-title {
		font-size: 14px;
		color: #1d2129;
		line-height: 22px;
		font-weight: 500;
		border-left: 3px solid #00b8cc;
		padding-left: 8px;
		height: 14px;
		display: flex;
		align-items: center;
	}

	.card-second-btn-group {
		margin-left: 16px;
		font-size: 12px;

		a {
			margin-right: 16px;
		}
	}
}

.level-third-panel {
	margin: 16px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
	gap: 10px;
}

.card-range-item {
	margin: 4px 12px 4px 0;
	display: flex;
	flex-direction: column;
	width: calc(23.5% + 7.5px);
}

.card-level-item {
	height: 40px;
	flex: 0 0 calc(25% - 10px);
	min-width: 250px;
	padding: 0 12px;
	background: #f7f8fa;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.card-level-item {
		flex: 0 0 calc(50% - 10px);
	}
}

@media (max-width: 480px) {
	.card-level-item {
		flex: 0 0 calc(100% - 10px);
	}
}

.card-level-item-title {
	margin: 0 8px;
	width: 100%;
	display: flex;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	.card-level-item-title-name {
		max-width: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.card-level-item:nth-child(4n) {
	margin-right: 0;
}

.content-top-card {
	padding: 16px;

	&-points {
		margin-top: 16px;
		display: flex;
		align-items: center;

		&-item {
			flex: 1;
			padding: 8px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #1d2129;
			font-weight: 600;
			border: 1px solid #e5e7ec;
			border-radius: 2px;

			span {
				font-size: 16px;
			}
		}
	}
}

.status-disabled {
  padding: 2px 4px;
  border-radius: 2px;
  line-height: 18px;
  color: #e64322;
  font-weight: 500;
  background-color: rgba(242, 85, 53, .15);
}

.status-enabled {
  padding: 2px 4px;
  border-radius: 2px;
  line-height: 18px;
  color: #179454;
  font-weight: 500;
  background: rgba(71, 184, 131, .15);
}
