.content-auto {
  overflow-y: auto;

  .title-h3 {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 16px;
    font-weight: 600;

    .block {
      height: 12px;
      width: 3px;
      background-color: @primary-color;
      margin-right: 8px;
    }

    .form {
      padding: 0 0 32px 20px !important;
    }
  }
}
.page-title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.content-marg-header {
  // margin-top: 0 !important;
  margin-bottom: 8px !important;
  padding: 20px !important;

  .return-tit {
    position: relative;

    .check-box-return {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.height_sett {
  :global {
    min-height: calc(100vh - 395px) !important;
  }
  // min-height: calc(100vh - 395px) !important;
}
.height_sett_readonly {
  :global {
    min-height: calc(100vh - 430px) !important;
  }
}

.content-marg {
  margin-top: 0 !important;
  margin-bottom: 8px !important;
  padding: 20px !important;
  .return-tit {
    position: relative;

    .check-box-return {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .noData {
    width: 100%;
    height: 200px;
    text-align: center;
    .tip {
      font-size: 12px;
      color: #4e5769;
      line-height: 18px;
      font-weight: 400;
    }
  }
}

// 明细变更返回按钮样式
.header-style {
  position: relative;
  .back-style {
    float: left;
    width: 40px;
    height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    // position: absolute;
    // top: 40;
    // left: 20;
    .back-style-dev {
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: 15px;
      .back-style-icon {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
    .back-style-dev:hover {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f0f2f5;
    }
  }
  // 明细变更返回按钮样式
  .header-style-box {
    .page-head-title {
      margin-left: 16px;
    }
  }
}

.form-title {
  :global {
    .c7n-pro-field-wrapper
      .c7n-pro-output-wrapper
      .c7n-pro-field-label-wrapper
      .c7n-pro-field-label {
      font-weight: 400;
    }
  }
}
