.scux-technical-documents-detail-wrapper {
  height: 100%;
  :global {
    .c7n-spin-nested-loading,
    .c7n-spin-container {
      height: 100%;
    }
  }
  .scux-technical-documents-content {
    overflow-y: auto;
    padding: 0.2rem;
    &-detail-tabs {
      margin-top: 0.2rem;
    }
    :global {
      .c7n-card {
        .c7n-card-head {
          padding: 0 0;
          border-bottom: 0;
          .c7n-card-head-title {
            padding-top: 0;
          }
        }
        .c7n-card-body {
          padding: 0;
          padding-top: 0;
        }
        .c7n-collapse-header {
          padding: 0 0 0.12rem 0;
          font-weight: 500;
          font-size: 0.16rem;
        }
        .c7n-collapse-content {
          padding: 0;
        }
        .c7n-collapse-ghost
          > .c7n-collapse-item
          > .c7n-collapse-content
          > .c7n-collapse-content-box {
          padding-bottom: 0;
        }
      }
      .c7n-card:not(:last-child) {
        margin-bottom: 8px;
      }
      .c7n-card:last-child {
        flex-grow: 1;
      }
    }
  }
  &-no-header {
    .scux-technical-documents-detail-content-wrapper {
      margin: 0;
    }
  }
}
.scux-technical-documents-detail-content-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 8px;
  height: calc(100% - 65px);
}
