.detail-link-modal {
  :global {
    .c7n-pro-modal-drawer-header {
      display: none;
    }

    .c7n-pro-modal-drawer-body {
      overflow: hidden;
      padding: 0;

      .c7n-spin-nested-loading,
      .page-content-wrap {
        max-height: calc(100vh - 50px);
        overflow-y: auto;
      }
    }
  }
}

.status-color {
  height: 18px;
  line-height: 16px;
  padding: 0 4px;
  font-weight: 500;
  margin-left: 8px;
}

.data-record-wrapper {
  margin-top: 160px;

  :global {
    .c7n-result-icon {
      margin-bottom: 16px;
    }

    .c7n-result-title {
      font-size: 14px;
      color: #575a5e;
    }
  }
}
