@import '~hzero-front/lib/srm-variables';

.life-cycle-approval-extra {
  :global {
    .af-basic-container {
      margin: 0;
    }
    .af-basic-bottom-remain-area {
      margin: 0;
      .c7n-pro-btn-flat {
        color: @text-1;
      }
    }
  }
}

.life-cycle-approval-wrap {
  background: #f4f5f7;
  padding: 8px;
  :global {
    .page-content {
      margin: 0;
      padding: 0;
      background: #f4f5f7;
      .top-section-title {
        display: none;
      }
      .card-wrap {
        padding: 16px 16px 0;
        margin: 8px 0 0;
        background: #fff;
        // 卡片标题
        .card-detail-title {
          font-size: 16px;
          color: #1d2129;
          font-weight: 600;
          .card-detail-checkbox {
            float: right;
            font-size: 12px;
            color: #1d2129;
            font-weight: 400;
          }
        }
        // 企业信息
        .enterprise-title {
          margin: 0 -16px;
          border-bottom: 1px solid #e5e7ec;
          div {
            padding: 0 16px 16px;
          }
        }
      }
    }
    .c7n-tabs.c7n-tabs-left {
      .c7n-tabs-bar {
        .c7n-tabs-bar-inner {
          padding: 16px 0;
          .c7n-tabs-tab {
            text-align: left;
            padding-left: 0;
          }
        }
      }
      .c7n-tabs-content {
        padding: 20px 0 20px 20px;
      }
    }
  }
}
.stage-desc-wrap {
  display: flex;
  height: 100%;
  max-width: 300px;
  padding-right: 20px;
  align-items: center;
  justify-content: flex-end;
  :global {
    .stage-desc {
      font-size: 18px;
      color: #1d2129;
      font-weight: 600;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  svg {
    width: 20px;
    height: 20px;
    margin: 0 8px;
  }
}
