.container {
  margin-top: 16px;
  :global {
    .item {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      vertical-align: top;
      margin-right: 16px;
      position: relative;
      cursor: pointer;
    }
    .item.active {
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 5px;
        transform: rotate(-45deg);
        background: #fff;
        left: 8px;
        top: 11px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 10px;
        transform: rotate(45deg);
        background: #fff;
        left: 13px;
        top: 7px;
      }
    }
  }
}
