.field-contain {
  // border: '1px dashed gray';
  margin-bottom: 5px;
  cursor: move;
}

.field-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    color: #465476;
    i,
    span {
      margin-right: 16px;
      color: #465476;
    }
    i {
      opacity: 0.5;
    }
    span:last-child {
      margin-right: 0;
      background: #e6ebfe;
      border: 1px solid #9cb3fc;
      border-radius: 2px;
      color: #0840f8;
      padding: 4px;
    }
  }
}

.head-title {
  color: #595959;
}
.head-bo:hover,
.head-title:hover {
  cursor: pointer;
  color: @primary-color;
}

.head-title-last {
  color: #262626;
}
