@import "~hzero-front/lib/srm-variables";

.risk-control-entrance-comp {
	margin-bottom: 4px;
	display: flex;
	align-items: center;
	height: 50px;
	border-radius: 5px;
	background-color: #f7f8fa;
	font-weight: 600;
	width: calc(100% - 4px);
	cursor: pointer;

	:global {
		i {
			color: @primary-color;
		}
	}
}

.risk-workplace-fast-entry-icon {
	display: flex;
	width: 24px;
	height: 24px;
	align-items: center;
	justify-content: center;
	margin: 0 12px 0 16px;
	border-radius: 2px;
	background: @primary-color;

	:global {
		svg path {
			fill: #fff;
		}
	}
}
