@import '~hzero-front/lib/srm-variables.less';

.no-supplier {
  display: flex;
  flex-direction: column;
  align-items: center;
  .link-color {
    color: @primary-color;
  }
  .no-supplier-title {
    font-size: 14px;
    color: #868d9c;
  }
}
