// @darkblue: #012492;
@darkblue: #29bece;
// @darkblue2: rgba(1, 36, 146, 0.8);
@darkblue2: #29bece;

@lightblue1: #eff6ff;
@lightblue2: #b8d7ff;
@lightblue3: #f8faff;
@Grey: #333435;
@Grey2: #5a6677;
@Grey3: #aaadba;
@Grey4: #b6bbc6;
@Grey5: #e2e2e6;
@Grey6: rgba(0, 0, 0, 0.15);
@Grey8: #fafafa;
@Grey9: #f1f1f1;

@green: #38bc84;

@c7npink: #fcebeb;
@c7nred: #d50000;
@c7nred2: #f75e5e;

@HzeroGreen: #29bece;
