.search {
  font-size: 13px;
  line-height: 32px;
  position: relative;
  :global {
    .c7n-pro-input-prefix {
      left: 0.02rem;
      top: -2px;
      bottom: 0;
      height: auto;
      line-height: 32px;
      i {
        font-size: 14px;
      }
    }
    .c7n-pro-input {
      height: 32px;
    }
    .c7n-pro-input-multiple-input {
      margin-left: 0;
    }
  }
}
