.water-mask-content-editor {
  min-height: 300px;
  display: flex;
  height: 100%;
  &-left {
    flex: 1;
    overflow-x: hidden;
    padding: 16px;
    word-break: break-all;
    line-height: 24px;
    :global {
      .c7n-pro-textarea-wrapper {
        width: 100%;
      }
      .c7n-pro-input-wrapper {
        vertical-align: baseline;
      }
      .c7n-pro-input {
        padding: 0;
        height: 18px;
        line-height: 18px;
      }
    }
  }
  &-right {
    width: 240px;
    background: #F8F9FB;
    border-right: 1px solid rgb(229, 231, 236);
    :global {
      .c7n-tabs-bar {
        padding-top: 16px;
        padding-left: 20px;
      }
      .c7n-tabs-content {
        padding-left: 20px;
      }
    }
  }
  &-param {
    line-height: 32px;
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
  }
}