.filesNumber {
  :global {
    .ant-tag {
      background-color: #eee !important;
      color: #333;
      border-radius: 8px;
      height: auto !important;
      line-height: 15px !important;
      margin-left: 4px !important;
    }
  }
}
.fileNumber {
  :global {
    .ant-tag {
      background-color: rgb(16, 142, 233) !important;
      color: #fff;
      height: auto !important;
      line-height: 15px !important;
      margin-left: 4px !important;
    }
  }
}
