.customerM {
  :global {
    .c7n-pro-modal-content {
      padding: 10px 0;
    }
    .c7n-pro-modal-body {
      height: 112px;
    }
    .c7n-pro-field-wrapper {
      padding: 0;
      margin: 0;
    }
    .c7n-pro-modal-header,
    .c7n-pro-modal-footer {
      border: none !important;
    }
    .c7n-pro-btn {
      background: none !important;
      border: none !important;
      font-size: 14px !important;
    }
    .c7n-pro-btn-primary {
      color: #29bece !important;
    }
  }
}
