.table-box {
  height: calc(100vh - 230px);
}

.base-content-body {
  :global {
    .c7n-pro-modal-drawer-body {
      padding: 0 !important;
    }
  }
}

.blacklist-list-page-basic {
  :global {
    .c7n-pro-table-search-bar-merge-field .c7n-pro-input-prefix {
      margin-left: 8px;
    }
  }
}
