.correlation {
  :global {
    .ant-modal-body {
      padding-top: 16px;
    }
  }
  .header {
    margin-bottom: 16px;
    overflow: hidden;
    text-align: right;

    button:not(:last-child) {
      margin-right: 8px;
    }
  }
}
