.life-stage-canvas {
  height: calc(100vh - 248px);
  :global {
    .c7n-col-18 {
      height: 100%;
      border-right: solid 1px #e5e7ec;
    }
    .c7n-col-6 {
      height: 100%;
    }
  }
  &-container {
    height: 100%;
    background: #f7f8fa;
    margin-right: 16px;
  }
}
