.item-list-search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 16px;

  & > button {
    margin-left: 8px;
  }
}

.batchEditQuotationLine-label {
  :global {
    .ant-form-item-label {
      line-height: 28px;
    }
    .ant-form-item-control {
      line-height: 28px;
    }
  }
}
