// Add styles for the new components Modal

.layout-container {
  display: flex;
  height: calc(100vh - 62px - 50px); /* 减去顶部导航栏和底部导航栏的高度 */
  overflow: hidden;
}

/* 左侧列 */
.left-panel {
  // width: 200px; /* 左侧宽度，可调整 */
  // overflow-y: auto; /* 超出滚动 */
  // border-right: 1px solid #e0e0e0; /* 右侧边框作为分隔线 */
  // box-sizing: border-box; /* 边框包含在宽度内 */
  flex: 0 0 200px; /* 固定宽度200px，不增长不缩小 */
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
}
/* 右侧列 */
.right-panel {
  // flex-grow: 1; /* 自适应剩余宽度 */
  // padding: 20px; /* 右侧内边距，可调整 */
  // box-sizing: border-box;
  flex: 1; /* 自适应剩余宽度，等同于flex-grow:1, flex-shrink:1, flex-basis:0 */
  padding: 20px;
  box-sizing: border-box;
  overflow: scroll;
}

.right-panel .right-panel-content {
  width: 100%;
}

/* 左侧列表样式 */
.left-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-panel li {
  padding: 12px 16px;
  // border-bottom: 1px solid #f5f5f5; /* 列表项分隔线 */
  cursor: pointer; /* 可选：添加指针样式 */
}

.left-panel li:hover {
  background-color: #f8f8f8; /* 可选： hover 效果 */
}

.active {
  background-color: #f8f8f8;
}

.columns-item {
  width: 100%;
  height: 100%;
}

.columns-item::after {
  content: '';
  display: table;
  clear: both;
}

.item-value {
  float: left;
}

.item-status {
  margin-left: 8px;
  float: left;
  width: 44px;
  height: 18px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-top: 3%;
}
