.level-conditions {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 8px;
  :global {
    .c7n-menu-item {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      height: 18px;
      margin-bottom: 8px;
    }
  }
  .level-conditions-title {
    margin-top: 4px;
    color: #868d9c;
  }
}
