.approve-form-basic {
  :global {
    .c7n-pro-output-float-label > .c7n-pro-field-label-wrapper > .c7n-pro-field-label {
      color: #1d2129;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 8px;
    }
  }
}
