@import '../../../../global';

.createModelFieldContain {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  .baseTableField {
    width: 490px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .moveControl {
    width: 40px;
    text-align: center;
    // padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div.transport-button-group {
      // position: absolute;
      // top: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        display: block;

        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }
    }
  }

  .dataModelField {
    width: 490px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .dataModelField2 {
    width: 100%;
  }
}

.footerModel {
  margin-top: 20px;
  float: right;
}
