.rf-ladder-quotation-modal-wrapper {
  .ladder-sub-title {
    margin: 32px 0 16px 0;
    font-weight: 600;
    .ladder-sub-title-line {
      display: inline-block;
      margin-right: 8px;
      height: 12px;
      border-left: 3px solid @primary-color;
    }
  }

  .ladder-sub-title:first-child {
    margin: 0 0 16px 0;
  }
}
