.sprm-new-detail-content {
  :global {
    // overflow-y: auto;
    padding: 0 0;
    background-color: #fff;

    .c7n-collapse {
      & > .c7n-collapse-item {
        padding: 0 20px;
        & > .c7n-collapse-header {
          padding: 20px 0;
          font-size: 16px;
          font-weight: 600;
          h3 {
            font-size: 16px;
            font-weight: 600;
            display: inline-block;
          }
        }
        & > .c7n-collapse-content {
          padding: 0 0 20px 0;
          & > .c7n-collapse-content-box {
            padding: 0;
          }
        }
        &:not(:last-child) {
          position: relative;
          padding-bottom: 8px;
          &::after {
            content: '';
            bottom: 0;
            height: 8px;
            left: -20px;
            right: -20px;
            position: absolute;
            background-color: #f4f5f7;
          }
        }
      }
      & > .c7n-collapse-item-active {
        & > .c7n-collapse-header {
          padding-bottom: 16px;
        }
      }
    }
  }
}
.sprm_fixed_header {
  height: calc(100vh - 138px) !important;
  overflow-y: auto;
}
