// 基础样式文件
@import '~srm-front-boot/lib/utils/style/basic.less';

// tag颜色渲染
.warning-tag {
  color: @color-waning !important;
  background-color: @color-waning-percent10;
  margin-bottom: 1px;
}

.notice-tag {
  color: @color-waning !important;
  background-color: @color-waning-percent10;
  margin-bottom: 1px;
}

.danger-tag {
  color: @color-danger !important;
  background-color: @color-danger-percent10;
  margin-bottom: 1px;
}

.success-tag {
  color: @color-success !important;
  background-color: @color-success-percent10;
  margin-bottom: 1px;
}
