.action-button-import-noIcon {
  :global {
    position: relative;
    overflow: hidden;
    .c7n-pro-upload {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}
