.collapse-items {
  :global(.ant-collapse-item) {
    border-bottom: 0 !important;
  }
  :global {
    .ant-collapse-header {
      line-height: 22px !important;
      padding: 12px 0 12px 40px !important;
    }
  }
  .collapse-item-title:hover {
    color: @primary-color;
  }
}
