@import '~hzero-front/lib/srm-variables.less';

.section-bidding-divider {
  display: inline-block;
  margin: 0 16px 0 8px;
  height: 18px;
  border: 0.7px solid #cbcfd8;
}

.section-bidding-title {
  font-size: 14px;
}

.section-bidding-select {
  :global {
    .ant-select-selection {
      border: none;
    }
    .ant-select-selection:focus {
      border: none;
      box-shadow: none;
      background-color: #f2f3f5;
    }
  }
}
