.batch-all-edit-alert {
  width: 1080px;
  padding: 8px 0 8px 10px !important;
  box-sizing: content-box;
  margin: -20px 0 0 -20px;
  background-color: #e6f7ff;
  border: none;
  color: #1890ff;
  .batch-all-edit-alert-message {
    color: #1890ff;
    text-align: justify;
    i {
      margin-top: -4px;
      margin-right: 6px;
    }
  }
}
