@import '~hzero-front/lib/srm-variables.less';
// constant
@zero: 0;
@default-distance: 16px;
@default-font-size: 16px;
@font-weight-bold: 600;

// common color
@black-color: #000000;
@red-color: #f56349;
@title-left-line-color: #36c2cf;

.m-b(@distance: 16px) {
  margin-bottom: @distance;
}

.operation-menu {
  :global {
    .c7n-menu-item-selected {
      background-color: transparent !important;
    }
  }
}

.more-action {
  & > span {
    display: flex;
  }
}

.action-wrapper {
  :global {
    .c7n-pro-btn + .c7n-pro-btn {
      margin-left: 0.16rem;
    }
    .c7n-pro-btn + a {
      margin-left: 0.16rem;
    }
  }
}

.rfx-detail-list-card {
  position: relative;
  margin-right: @zero;

  // .custom-page-content:not(:first-child) {
  //   margin-top: 8px;
  // }
  .custom-page-content:not(:last-child) {
    border-bottom: 8px solid #f4f4f4;
  }

  .custom-page-content {
    padding: 20px;
    background-color: #fff;
    // margin-left: 4px !important;
    .m-b(@zero);
  }

  .rfx-card-item-title-line {
    // todo class will delete
    display: inline-block;
    height: 12px;
    border-left: 3px @title-left-line-color solid;
    margin-right: @default-distance / 2;
  }

  .rfx-card-item-title {
    color: @text-color;
    font-size: @default-font-size;
    font-weight: @font-weight-bold;
    .m-b();
  }

  .rfx-card-item-title-level-two {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: @font-weight-bold;
    .m-b();
  }

  // table
  :global {
    .c7n-pro-table {
      &-thead {
        color: @black-color;
        font-weight: bold;
      }

      &-cell-inner {
        color: @black-color;
      }
    }
  }
}

.more-option {
  :global {
    .c7n-pro-btn-wrapper:not(.c7n-pro-btn-disabled) {
      &:hover span {
        color: @link-color;
      }
    }
  }

  span {
    color: rgba(0, 0, 0, 1);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  a {
    margin-left: 0 !important;
  }
}

// :global {
//   .c7n-menu-item {
//     height: auto !important;
//   }

//   .c7n-menu-sub {
//     max-height: 480px;
//   }
// }

.history-wrapper {
  :global {
    .c7n-menu-item {
      height: auto !important;
      margin: 8px 0;
    }

    .c7n-menu {
      max-height: 480px;
      overflow: auto;
    }
  }

  // margin: 8px 0;
  font-weight: 400;
  font-size: 12px;

  .history-version {
    margin-bottom: 4px;
    line-height: 20px;
  }

  .history-creation {
    line-height: 18px;
    color: @text-3;
  }
}

.create-base {
  color: @black-color;
  font-size: @default-font-size;
  font-weight: @font-weight-bold;
  margin-bottom: @default-distance;
}

.update-container {
  position: relative;
  // background: #f4f5f7;
  padding: @zero;
  height: calc(100% - 76px);
  overflow-y: scroll;
}

.config-ladder {
  margin-top: 16px;
}

.float-output {
  :global {
    .c7n-pro-output-float-label > .c7n-pro-field-label-wrapper > .c7n-pro-field-label {
      font-weight: 400;
    }
  }
}

.c7n-form-label-required {
  :global {
    .c7n-pro-field-required {
      &::before {
        display: inline-block;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
        line-height: 1;
        content: '*';
      }

      &::after {
        content: '';
        margin: 0 8px 0 2px;
        position: relative;
        top: -0.5px;
      }
    }
  }
}

// .draw-table {
//   :global {
//     .c7n-pro-output-wrapper {
//       > span {
//         margin-top: -4px;
//       }
//     }
//   }
// }

.collapse-panel-header-style {
  border-radius: 4px !important;
  margin-bottom: 24px !important;
  border: 0 !important;
  overflow: 'hidden';
  :global {
    .c7n-collapse-header {
      background: #f7f7f7 !important;
    }
  }
}

.c7n-pro-buttons-style {
  text-align: right;
}

// .c7n-form-output-padding {
//   :global {
//     .c7n-pro-field-label-output {
//       padding-top: 0 !important;
//       padding-bottom: 0 !important;
//     }
//   }
// }

.tab-delete {
  i {
    color: #333;
  }

  i:hover {
    color: @primary-color;
  }
}
