@import '~hzero-front/lib/srm-variables';
.horizontal-form {
  &-row {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  &-label {
    line-height: 2.5;
    color: @text-3;
    &-help {
      font-size: 14px;
      margin-top: -2px;
      margin-left: 4px;
      color: @fill-3;
      font-weight: 400;
    }
  }
  &-item {
    width: 50%;
  }
}
