.demo-tabs-wrap {
  overflow: hidden !important;
  display: flex;
  flex: 1;
  flex-direction: column;
  .c7n-tabs-content {
    flex: 1;
    .c7n-tabs-tabpane {
      overflow: hidden;
    }
  }
}
.demo {
  display: flex;
  overflow: hidden;
}
