.editorField {
  width: 242px;
  padding: 20px;
  height: calc(100vh - 140px);
}
.editorFieldTitle {
  margin-bottom: 16px;
}
.fieldList {
  height: calc(100vh - 360px);
  overflow: auto;
  margin: 16px 0;
}
.fieldSearch,
.fieldSit,
.fieldSwitch {
  width: 100%;
  margin-bottom: 16px;
}
// .fieldSit {
//   margin-bottom: 16px;
// }
.fieldSwitch {
  display: flex;
  align-items: center;
  .switchDesc {
    display: inline-block;
    margin-left: 8px;
  }
}
.fieldExpand {
  color: @primary-color;
}
.fieldIcon {
  cursor: pointer;
}
.modalSubTitle {
  margin-bottom: 16px;
  font-size: 12px;
  color: #1d2129;
  line-height: 18px;
  font-weight: 400;
}
.modalNotice {
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
  color: #868d9c;
  font-weight: 400;
}
