.ssrc-sp-wrapper {
  height: 100%;
  background-color: #f7f8fa;
  :global {
    .c7n-spin-nested-loading,
    .c7n-spin-container {
      height: 100%;
    }
  }
  .sp-common-top-section-card {
    background: #fff;
    padding: 0.2rem;
    margin: 8px;
  }
  .sp-common-top-section-has-child.sp-common-top-section-card {
    :global {
      .second-section-title {
        &:not(:nth-child(2)) {
          margin-top: 32px;
        }
      }
    }
  }
  .ssrc-source-project-approval-af-basic-card.sp-common-top-section-card {
    padding: 0;
    :global {
      .af-basic-container,
      .af-basic-bottom-remain-area {
        margin-left: 0;
        margin-right: 0;
      }
      .title-field {
        width: 100%;
      }
    }
  }
}

.ssrc-sp-af-buttons-wrapper {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  .ssrc-sp-af-right-buttons {
    float: right;
  }
}

.sp-change-common-red {
  :global {
    .c7n-pro-field.c7n-pro-output,
    .c7n-pro-attachment-header-label {
      color: red;
    }
  }
}

// 变更对比标红
.sp-change-red {
  color: red;
  :global {
    .c7n-pro-btn-link {
      // 附件标红
      color: red;
    }
  }
}
// 变更对比删除
.sp-change-delete {
  text-decoration: line-through;
}
