@import '~hzero-front/lib/assets/styles/variables.less';
@import '~hzero-front/lib/srm-variables';

.grey-mode-config{
  :global{
    .desc {
      margin-bottom: 0;
      color: @text-color-secondary;
    }
    .c7n-pro-field-wrapper .c7n-pro-checkbox-wrapper {
      height: 18px;
      margin-top: 16px;
    }
  }
}
