@import '~hzero-front/lib/srm-variables';

.split-tab-bar-extra-wrapper {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid @border-4;
  .split-tab-bar-extra-title {
    font-size: 14px;
    font-weight: 600;
  }
  .split-tab-bar-extra-desc {
    color: @text-3;
    margin-top: 4px;
  }
}
