.priceLib-number-column {
  :global {
    .c7n-pro-table-cell-inner {
      > div {
        line-height: initial;
        > div {
          line-height: 0.22rem;
          padding-bottom: 0.02rem;
        }
      }
    }
  }
}
// .price-lib-table {
//   :global {
//     .c7n-pro-table-search-bar-right {
//       align-self: center;
//     }
//   }
// }
