.viewer-container {
  position: fixed;
  opacity: 0;
  &-show {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    opacity: 1;
  }
}
.filesNumber {
  background-color: @link-color;
  color: #fff;
  height: auto;
  line-height: 15px;
  margin-left: 4px;
}
