.lateral-select-options {
  display: flex;
  margin-top: 4px;
}

.lateral-select-option-bar {
  height: 16px;
  cursor: pointer;
  background-color: #F2F3F5;
}

.lateral-select-option-content {
  text-align: center;
}