@import "~hzero-front/lib/srm-variables";

.risk-workbench-new-basic {
	margin: 8px;
	height: calc(100vh - 106px);
	display: flex;
	overflow: hidden;

	.risk-workbench-new-panel-title {
		color: #1d2129;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		display: flex;
		justify-content: space-between;
	}

	.risk-control-left-tab {
		background: #fff;
		padding: 20px;
		min-width: 500px;
		border-left: 1px solid #e5e7ec;
	}

	.risk-workbench-new-right {
		margin-left: 8px;
		height: calc(100vh - 100px);
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}

.risk-workbench-new-background-common {
	padding: 20px;
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
}
