.status-disabled {
	padding: 2px 4px;
	border-radius: 2px;
	line-height: 18px;
	color: #4e5769;
	font-weight: 500;
	background-color: #e5e7ec;
}

.status-enabled {
	padding: 2px 4px;
	border-radius: 2px;
	line-height: 18px;
	color: #179454;
	font-weight: 500;
	background: rgba(71, 184, 131, .15);
}
