.sql-contain {
  .info-tip {
    font-size: 12px;
    color: #5a6677;
    line-height: 16px;
    margin-bottom: 4px;
  }

  .operate-explain {
    // width: 100px;
    margin-top: 12px;
    font-size: 12px;
    color: #5a6677;
    line-height: 16px;
    cursor: pointer;
    .variable-info {
      table {
        td,
        th {
          text-align: center;
          padding: 5px;
        }
      }
    }
    p {
      margin-bottom: 5px;
    }
  }
}

.form-style {
  :global {
    td {
      padding: 0;
      // padding-right: 30px;
      .c7n-pro-field-label {
        padding: 0;
        color: #333;
      }
    }

    .c7n-pro-textarea-required {
      background-color: #fff;
    }

    .c7n-pro-textarea-invalid.c7n-pro-textarea-wrapper {
      background-color: #feffe6;
    }

    .c7n-pro-textarea-invalid label:hover .c7n-pro-textarea,
    .c7n-pro-textarea-invalid .c7n-pro-textarea:hover {
      box-shadow: 0 0 2px 1px #d50000 !important;
      color: #d50000;
      border-color: #d50000;
    }

    .c7n-pro-textarea-invalid .c7n-pro-textarea {
      color: #d50000;
      border-color: #d50000;
      background-color: #fcebeb;
    }

    .c7n-pro-field-wrapper {
      padding: 0;
    }

    // .c7n-pro-textarea:focus,
    // .c7n-pro-textarea:hover,
    // .c7n-pro-input:focus,
    // .c7n-pro-select:focus,
    // .c7n-pro-input:hover,
    // .c7n-pro-select:hover {
    //   box-shadow: none;
    //   border: 1px solid #b8d7ff;
    //   border-radius: 2px;
    // }

    .c7n-pro-input-invalid .c7n-pro-input,
    .c7n-pro-input-invalid label:hover .c7n-pro-input,
    .c7n-pro-input-invalid .c7n-pro-input:hover {
      color: #d50000;
      border-color: #d50000;
    }
  }
}
