.status-tag {
  :global {
    // marginRight: 4, borderColor: 'transparent'
    margin-right: 4px;
    border-color: transparent;
    display: inline-flex;
    align-items: center;
    border: none;
    i {
      margin-left: 4px;
      font-size: 14px;
      font-weight: initial;
    }
  }
}
