.group-item {
  &,
  & > button {
    height: 0.24rem;
    line-height: 0.24rem;
  }
}
.group-title {
  margin-right: 0.08rem;
}
.green-font {
  color: #179454;
  font-weight: 600;
}
.red-font {
  color: #e64322;
  font-weight: 600;
}
.list {
  :global {
    .c7n-pro-table-row > th.c7n-pro-table-cell {
      font-weight: 400;
    }
  }
}
.list-with-line-Height {
  :global {
    .c7n-pro-table-body .c7n-pro-table-cell-inner-row-height-fixed {
      line-height: 0.48rem !important;
    }
  }
}
