.action-link {
  :global {
    .c7n-pro-btn-wrapper:not(:first-child) {
      margin-left: 16px !important;
    }
    .c7n-pro-btn-disabled-wrapper > button > *,
    .c7n-pro-btn > * {
      vertical-align: unset;
    }
  }
}

.hidden-upload {
  :global {
    .c7n-upload-select-picture-card {
      opacity: 0;
    }
  }
}
