.purchase-application {
  :global {
    .ant-form.ant-form-inline {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 16px;
      .ant-form-item {
        margin-right: 0;
        & > .ant-form-item-label {
          text-align: right;
        }
      }
      & > div.ant-form-item.ant-row {
        width: auto !important;
      }
      & > div,
      & > button {
        margin-left: 8px;
      }
    }
  }
}

.orderLine-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.order-top-title-alert {
  :global {
    width: 363px;
    margin: -20px -20px 20px;
    background-color: #e6f7ff;
    border: none;
    color: #1890ff;
    vertical-align: middle;
    line-height: 21px;

    .c7n-alert-close-icon {
      top: 0.1rem;
      color: #1890ff;
    }

    div {
      i {
        margin-top: -4px;
        margin-right: 6px;
      }
    }
  }
}
