@import '~hzero-front/lib/srm-variables.less';
.setting-card {
  display: flex;
  flex-direction: column;
  width: 220px;
  text-align: center;
  padding: 16px;
  box-sizing: content-box;
  align-items: center;
  .setting-card-description {
    color: @text-2;
    font-size: 14px;
    margin: 16px 0;
    width: 240px;
  }
  .setting-card-img {
    width: 220px;
    height: 168px;
  }
  .setting-card-apply-btn {
    width: 120px;
    height: 32px;
  }
}
