@import '../../../../global';

.popover-content-contain {
  width: 217px;
  p {
    color: #333435;
    font-weight: bolder;
    margin-bottom: 12px;
    img {
      width: 14px;
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }
  div {
    color: #5a6677;
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 24px;
  }
  .button-control {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    :global {
      .c7n-pro-btn.c7n-pro-btn-raised.c7n-pro-btn-primary {
        // background-color: #012492;
        // border-color: #012492;
      }
    }
  }
}

.positive-table {
  .positive-table-title {
    display: inline-block;
    font-size: 14px;
    border-bottom: 2px solid @Blue;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: @Blue;
  }

  .first-step {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -106px;
  }

  .table-button-style {
    img {
      width: 12px;
      margin-right: 5px;
      margin-bottom: 2px;
    }
  }
}

.tableDetailContain {
  :global {
    .c7n-pro-table-header {
      color: #012492;
      font-size: 16px;
      padding-left: 0;
      font-weight: 600;
    }
  }
}

.redundant-empty-bg {
  width: 100%;
  height: 300px;
}
.redundant-empty-data {
  width: 100%;
  height: 300px;
}
