@import '~choerodon-ui/lib/style/themes/default';

.srm-attachment-history-detail {
  padding-bottom: 10px;

  :global {
    .history-detail-icon {
      line-height: 2;
      text-align: center;
    }

    .history-detail-item {
      padding-bottom: 10px;
      border-bottom: @border-width-base @border-style-base @border-color-base;
      color: rgba(0, 0, 0, 0.45);
      line-height: 2;
    }

    .realName {
      margin-right: 10px;
      color: @text-color;
      font-weight: 500;
    }
  }
}
