@title: #1e1e1e;

h3 {
  margin: 0;
  padding: 20px 0;
  font-weight: 600;
  font-size: 16px;
  color: @title;
}

.section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
